.flows_development-an.json.backup
[{"id":"9ce9bd52.f92c1","type":"tab","label":"LH-LAX-S"},{"id":"515a5582.bb8e1c","type":"tab","label":"LH-LAX-N"},{"id":"89a8a4b8.bff9d8","type":"tab","label":"Casaria Cloud Control"},{"id":"22b58a34.405f26","type":"tab","label":"Development system"},{"id":"91acd4ad.7bc198","type":"tab","label":"QF-CL Rooftop Database & Alarm"},{"id":"486564dd.17cbac","type":"tab","label":"FC-SHOWER"},{"id":"22bbaa99.97ac16","type":"tab","label":"Playground"},{"id":"a49e555b.89ba38","type":"tab","label":"BC-LIQUOR"},{"id":"71002e00.5376a4","type":"tab","label":"BC-SHOWER"},{"id":"2ee08bfe.a2cfb4","type":"tab","label":"Flow 1"},{"id":"50b9cf98.31ca9","type":"subflow","name":"Particle Publish Event","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"51fe4981.2f7e68"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"5571e10.150232","port":0}]}]},{"id":"a084a7fb.a058f8","type":"subflow","name":"HUE  Alert","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"6076bcf2.eb6534","type":"subflow","name":"Particle Publish Event (2)","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"dc65ac51.1d2d8"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"2fe04425.3d16dc","port":0}]}]},{"id":"e575b996.290e88","type":"subflow","name":"HUE  Alert (2)","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"caf23152.6b44e","type":"subflow","name":"HUE  Alert (3)","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"3411639a.1c75bc","type":"subflow","name":"LIMP CONTROLLER","info":"","in":[{"x":58,"y":64,"wires":[{"id":"5e7a9896.017b18"}]}],"out":[{"x":715,"y":56,"wires":[{"id":"5e7a9896.017b18","port":0}]},{"x":715,"y":113,"wires":[{"id":"5e7a9896.017b18","port":1}]}]},{"id":"80357174.edeb2","type":"subflow","name":"Context2Payload","info":"","in":[{"x":50,"y":30,"wires":[{"id":"cb79af56.34f95"}]}],"out":[{"x":465.4545364379883,"y":89.99999618530273,"wires":[{"id":"cb79af56.34f95","port":0}]}]},{"id":"e352b7e6.573468","type":"particle-cloud","z":"89a8a4b8.bff9d8","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"49a2ab77.452664","type":"particle-cloud","z":"91acd4ad.7bc198","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"ecb39123.a1917","type":"influxdb","z":"91acd4ad.7bc198","hostname":"ccc.casaria.net","port":"8086","protocol":"http","database":"casaria","name":"ccc.casaria.net"},{"id":"cf38ae2.0dd155","type":"mqtt-broker","z":"91acd4ad.7bc198","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"7ea114cc.9efddc","type":"influxdb","z":"71002e00.5376a4","hostname":"ccc.casaria.net","port":"8086","protocol":"http","database":"lawa","name":"lawa"},{"id":"ecdb2711.0a1998","type":"particle-cloud","z":"71002e00.5376a4","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"af812788.5052b8","type":"particle-cloud","z":"486564dd.17cbac","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"2dc046e1.06d33a","type":"influxdb","z":"486564dd.17cbac","hostname":"ccc.casaria.net","port":"8086","protocol":"http","database":"lawa","name":"lawa"},{"id":"cbe910a4.e155f","type":"influxdb","z":"a49e555b.89ba38","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"casaria","name":"casaria"},{"id":"eb6a90a9.3896a","type":"influxdb","z":"a49e555b.89ba38","hostname":"107.170.225.48","port":"8086","protocol":"http","database":"lawa","name":"lawa"},{"id":"6519fb1.fe0ed04","type":"particle-cloud","z":"a49e555b.89ba38","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"f2ea9629.00be88","type":"influxdb","z":"91acd4ad.7bc198","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"casaria","name":"an.casaria.net"},{"id":"29282b82.8d1c54","type":"influxdb","z":"71002e00.5376a4","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lawa","name":"an.casaria.net"},{"id":"92989d38.a1a76","type":"influxdb","z":"486564dd.17cbac","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lawa","name":"an.casaria.net"},{"id":"2419e993.a5b706","type":"influxdb","z":"a49e555b.89ba38","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lawa","name":"an.casaria.net"},{"id":"cd70f8c6.3592e8","type":"mqtt-broker","z":"515a5582.bb8e1c","broker":"107.170.225.48","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a400572e.1faa88","type":"particle-cloud","z":"515a5582.bb8e1c","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"58903902.0e6b28","type":"influxdb","z":"515a5582.bb8e1c","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"casaria","name":"casaria"},{"id":"f3ebb186.fa9ad","type":"ui_tab","z":"515a5582.bb8e1c","name":"1st & 2nd Floor","icon":"dashboard","order":"1"},{"id":"5665f5ce.ee633c","type":"mqtt-broker","z":"665bf711.998f08","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3ae0762a.291b2a","type":"ui_tab","z":"665bf711.998f08","name":"3rd Floor","icon":"dashboard","order":"1"},{"id":"2aa6e691.0614ca","type":"google-credentials","z":"665bf711.998f08","displayName":""},{"id":"571ad409.c22b7c","type":"particle-cloud","z":"9ce9bd52.f92c1","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a55b858c.e56c98","type":"influxdb","z":"9ce9bd52.f92c1","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"casaria","name":"casaria"},{"id":"4d72ea0e.7e5374","type":"mqtt-broker","z":"9ce9bd52.f92c1","broker":"107.170.225.48","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"96093647.b9cab8","type":"ui_tab","z":"9ce9bd52.f92c1","name":"3rd Floor","icon":"dashboard","order":"1"},{"id":"dcce8767.bcf7e8","type":"google-credentials","z":"","displayName":"Casaria Technology"},{"id":"5ae7cc9d.a04ac4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"casaria","name":""},{"id":"51fe4981.2f7e68","type":"function","z":"50b9cf98.31ca9","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["5571e10.150232"]]},{"id":"5571e10.150232","type":"http request","z":"50b9cf98.31ca9","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"d1576850.e01e68","type":"function","z":"91acd4ad.7bc198","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":454.6428680419922,"y":100.00000095367432,"wires":[["eb9e7be.f6e8d88","74dd952a.cdd65c"],[]]},{"id":"988675cb.025288","type":"switch","z":"91acd4ad.7bc198","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":386.6429138183594,"y":604.4285278320312,"wires":[["26f6b65f.683d0a","b65534da.c96348"],["3aba17bd.83ae48"],[],[],[]]},{"id":"c0bd597.58eeca8","type":"pushover","z":"91acd4ad.7bc198","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":887.1428833007812,"y":550.4285278320312,"wires":[]},{"id":"26f6b65f.683d0a","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":799.3928756713867,"y":635.1786212921143,"wires":[]},{"id":"3aba17bd.83ae48","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.1428718566895,"y":672.9286222457886,"wires":[]},{"id":"1f797be0.2e5a54","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":804.3928604125977,"y":709.428596496582,"wires":[]},{"id":"999d469c.a6a2d8","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsInputs","devid":"lucky-surfer","x":162.14286041259766,"y":46,"wires":[["7b1e3a02.ceb894"]]},{"id":"7b1e3a02.ceb894","type":"function","z":"91acd4ad.7bc198","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":442.6428527832031,"y":46.25,"wires":[["e569980e.a298f8","eda0e6b6.a05758"],[]]},{"id":"e569980e.a298f8","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":843.920654296875,"y":32.44444465637207,"wires":[]},{"id":"e188f330.07906","type":"inject","z":"91acd4ad.7bc198","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":125.14287567138672,"y":753.6785507202148,"wires":[["5a9b7e0e.bf5fa"]]},{"id":"72648535.3ed06c","type":"ParticleFunc out","z":"89a8a4b8.bff9d8","baseurl":"e352b7e6.573468","devid":"lucky-surfer","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":612.4285278320312,"y":388.28570556640625,"wires":[["c82395ab.4f6808"]]},{"id":"248ff72.e38bf08","type":"inject","z":"89a8a4b8.bff9d8","name":"Manual Reset QF-CL Rooftop Water heater ","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":235.5714111328125,"y":468.57142639160156,"wires":[["37ef252b.8b5bea"]]},{"id":"c82395ab.4f6808","type":"debug","z":"89a8a4b8.bff9d8","name":"","active":false,"console":"false","complete":"payload","x":822.6190185546875,"y":336.9206237792969,"wires":[]},{"id":"37ef252b.8b5bea","type":"trigger","z":"89a8a4b8.bff9d8","op1":"on","op2":"on","op1type":"val","op2type":"val","duration":"3","extend":true,"units":"min","reset":"","name":"Auto repeat (3min)","x":279.8571243286133,"y":353.7142791748047,"wires":[["72648535.3ed06c","4b5dcf98.5b76e","3fb2041e.06dafc"]]},{"id":"84e9262f.6d65b8","type":"mqtt out","z":"91acd4ad.7bc198","name":"MQTT PUB - HUE12","topic":"HUE12","qos":"1","retain":"","broker":"cf38ae2.0dd155","x":829.428581237793,"y":407.85715103149414,"wires":[]},{"id":"5a9b7e0e.bf5fa","type":"function","z":"91acd4ad.7bc198","name":"OLD COLOR MAGIC","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 145 + (value - 130) *5);\ng= (90-value);\nr= (100+value);\nb = (70-value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(250 - x);\n    r=x/2;\n}  \n\nif (r > 185) {\n    b = Math.round(r/1.5);\n\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":315.6785583496094,"y":752.1071166992188,"wires":[[]]},{"id":"5f9ae19f.13b7","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.178581237793,"y":457.35714626312256,"wires":[]},{"id":"dc65ac51.1d2d8","type":"function","z":"6076bcf2.eb6534","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["2fe04425.3d16dc"]]},{"id":"2fe04425.3d16dc","type":"http request","z":"6076bcf2.eb6534","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"7bfd0474.bb7aac","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":800.6785736083984,"y":357.60714530944824,"wires":[]},{"id":"bb7cb322.e2f35","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"A0","devid":"lucky-surfer","x":145.4285659790039,"y":98.42857360839844,"wires":[["d1576850.e01e68"]]},{"id":"61b0eac5.8a12f4","type":"ParticleSSE in","z":"71002e00.5376a4","baseurl":"ecdb2711.0a1998","evtname":"dsCombi","devid":"bc-shower","x":155.5,"y":65.90305423736572,"wires":[["84e1e05f.562ab","6a4103fa.13ac6c","713e6c4a.6ca9f4"]]},{"id":"2dc9f634.920e5a","type":"influxdb out","z":"71002e00.5376a4","influxdb":"7ea114cc.9efddc","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":869.5001373291016,"y":91.40306234359741,"wires":[]},{"id":"61d131e1.61d1c","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820.5001373291016,"y":130.50000190734863,"wires":[]},{"id":"84e1e05f.562ab","type":"function","z":"71002e00.5376a4","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":474.2500305175781,"y":73,"wires":[["61d131e1.61d1c","2dc9f634.920e5a","c80fa560.101598"],["90a49e76.043b6"],["2583a775.ee8e38"]]},{"id":"7b1d0150.adb59","type":"function","z":"91acd4ad.7bc198","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);if (msg.payload == 32.00) msg.payload =148.5;\nreturn msg;","outputs":1,"noerr":0,"x":428.92862701416016,"y":271.85715103149414,"wires":[["7bfd0474.bb7aac","f8e9c521.0f1f98"]]},{"id":"8f08421.26322c","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsCombi","devid":"lucky-surfer","x":165.6785430908203,"y":149.42857551574707,"wires":[["109e814c.7f39cf","460e2eb3.7b926"]]},{"id":"460e2eb3.7b926","type":"function","z":"91acd4ad.7bc198","name":"Boiler Exit Temperature","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\nif (Number(fields[0])==32.0) fields[0] = '148.5';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    ExitTemp: Number ( fields[0]),\n    pCH4:  Number ( fields[1]),\n    strValue: \"QF-CL-RT-04-17\",\n}\nmsg2 = {\n    payload: Number (fields[0]) \n}\nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":464.1785888671875,"y":150.9286117553711,"wires":[["1391a376.6a67ad","f0af14bb.724d78"],[]]},{"id":"1391a376.6a67ad","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer","x":835.6786041259766,"y":218.67859268188477,"wires":[]},{"id":"e5a667d.fca8398","type":"ParticleSSE in","z":"486564dd.17cbac","baseurl":"af812788.5052b8","evtname":"dsCombi","devid":"fc-liquor","x":145,"y":96.49999284744263,"wires":[["1018a1b5.c8282e","bf6f29c.83d55d8"]]},{"id":"7370bba5.c1ce54","type":"influxdb out","z":"486564dd.17cbac","influxdb":"2dc046e1.06d33a","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-LIQUOR","x":827.5556640625,"y":86.72222137451172,"wires":[]},{"id":"bacd9f75.e6bf4","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":777.4445724487305,"y":137.152494430542,"wires":[]},{"id":"75c0e8a0.ea2248","type":"function","z":"71002e00.5376a4","name":"COLOR","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 135 + (value - 145) *6);\ng= (140-value);\nr= (130+value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(240 - x);\n    r=0;\n}   else b = 0;\n\nif (r > 185) {\n    b = Math.round(r/2);\n    \n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":404.50000381469727,"y":286.75000381469727,"wires":[["c300d211.d1fd8"]]},{"id":"c300d211.d1fd8","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"false","complete":"false","x":821.5000076293945,"y":334.25,"wires":[]},{"id":"c9d3caff.423738","type":"pushover","z":"71002e00.5376a4","name":"\"PUSHOVER\" ALERT to casaria STAFF","device":"","title":"Water heater Alert: Boiler BC temp above threshold: Possible RUNAWAY. Send anybody up On ROOF to kill Gas SUPPLY","priority":"1","sound":"persistent","x":911.4643020629883,"y":432.32141304016113,"wires":[]},{"id":"713e6c4a.6ca9f4","type":"function","z":"71002e00.5376a4","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[0]);\nreturn msg;","outputs":1,"noerr":0,"x":495.96436309814453,"y":214.82141494750977,"wires":[["c8c50954.d6ebc8","5a8a69be.d50868"]]},{"id":"1dd88514.68d14b","type":"switch","z":"71002e00.5376a4","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"160","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":536.9643592834473,"y":457.32141399383545,"wires":[["c9d3caff.423738","d0acee43.e3d5f"],["caf75c08.b447c"],[],[],[]]},{"id":"d0acee43.e3d5f","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820.7143020629883,"y":471.0714750289917,"wires":[]},{"id":"caf75c08.b447c","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"false","complete":"false","x":821.464298248291,"y":508.821475982666,"wires":[]},{"id":"c8c50954.d6ebc8","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":821.7143707275391,"y":378.0714473724365,"wires":[]},{"id":"34b4d09a.58865","type":"inject","z":"71002e00.5376a4","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":209.2143096923828,"y":287.57141494750977,"wires":[["75c0e8a0.ea2248"]]},{"id":"6a4103fa.13ac6c","type":"function","z":"71002e00.5376a4","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);\nreturn msg;","outputs":1,"noerr":0,"x":450.25003814697266,"y":141.25000190734863,"wires":[["c8b58d52.4c25e"]]},{"id":"fb7acc81.cbcec","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.9285659790039,"y":433.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"f8e9c521.0f1f98","type":"function","z":"91acd4ad.7bc198","name":"Color magic","func":"var value = Math.round (30+Number(msg.payload)*1.0);\nvar x = value;\nvar r, g, b, i=200;\n\nif (value < 110) {\n        r = 20;\n    g = 30;\n    b = 10;\n    i = 200;\n\n}\nif ((value >= 110)&& (value < 120))  {\n    r = 20;\n    g = 30;\n    b = 80;\n    i = 200;\n}\nif ((value >= 120) && (value < 125)) {\n    r = 40;\n    g = 55;\n    b = 30;\n    i = 180;\n}\n\nif ((value >= 125) && (value < 130)) {\n    r = 80;\n    g = 70;\n    b = 35;\n    i = 180;\n}\n\nif ((value >= 130) && (value < 135)) {\n    r = 135;\n    g = 90;\n    b = 25;\n    i = 185;\n}\n\nif ((value >= 135) && (value < 140)) {\n    r = 145;\n    g = 80;\n    b = 20;\n    i = 120;\n\n}\n\n\n\nif ((value >= 140) && (value < 145)) {\n   r = 190;\n    g = 90;\n    b = 5;\n    i = 180;\n  \n \n}\n\nif ((value >= 145) && (value < 150)) {\n  \n    r = 90;\n    g = 50;\n    b = 40;\n    i = 180;\n  \n}\n\nif ((value >= 150) && (value < 155)) {\n\n    r = 120;\n    g = 60;\n    b = 70;\n    i = 170; \n    \n\n}\n\nif ((value >= 155) && (value < 160)) {\n    \n    r = 120;\n    g = 30;\n    b = 60;\n    i = 165; \n    \n\n}\n\nif ((value >= 160) && (value < 165)) {\n     r = 190;\n    g = 70;\n    b = 10;\n    i = 210;\n}\n\nif ((value >= 165) && (value < 170)) {\n    r = 200;\n    g = 40;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 170) && (value < 175)) {\n    r = 220;\n    g = 35;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 175) && (value < 180)) {\n    r = 240;\n    g = 30;\n    b = 0;\n    i = 255;\n}\nif (value >= 180) {\n    r = 255;\n    g = 0;\n    b = 0;\n    i = 255;\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[60],  //30\n\tbri:[i],\n\trgb:[r, g, b]\n}\n\nmsg2 = {};\nmsg2.payload = value;\nreturn [msg, msg2];\t","outputs":"2","noerr":0,"x":365.9285583496094,"y":469.8571472167969,"wires":[["84e9262f.6d65b8","5f9ae19f.13b7"],["a5e83ea2.25b8b"]]},{"id":"a5e83ea2.25b8b","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.4285659790039,"y":491.85713958740234,"wires":[]},{"id":"109e814c.7f39cf","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":412.4285583496094,"y":192.42858123779297,"wires":[]},{"id":"90a49e76.043b6","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":822,"y":168,"wires":[]},{"id":"2583a775.ee8e38","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820,"y":209,"wires":[]},{"id":"ab9548b6.472598","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":504.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"ca44a68a.85d8d8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":292.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"570ab683.778a18","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"110","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":257.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"175c8506.333abb","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"145","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":468.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"8c406a8a.26f808","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":576.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"903687bd.0877d8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"155","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":540.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"c0609945.8c5228","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"165","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":613.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"1f12ce18.9fec42","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"170","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":652.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"6bebbf5c.c38e5","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"135","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":398.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"9e91aba2.fc25f8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":363.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"39258a77.2d4076","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"125","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":327.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"3a2851c4.35c0ae","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"175","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":688.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"c8b58d52.4c25e","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":819,"y":262,"wires":[]},{"id":"8aad4c3e.28833","type":"e-mail","z":"89a8a4b8.bff9d8","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email","x":726.5,"y":575,"wires":[]},{"id":"4b5dcf98.5b76e","type":"template","z":"89a8a4b8.bff9d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rooftop water heater ignition unit reset issued","x":542.5,"y":439,"wires":[["64c94cbb.11e2c4"]]},{"id":"64c94cbb.11e2c4","type":"template","z":"89a8a4b8.bff9d8","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Timed reset event - executed","x":679.5,"y":438,"wires":[["8aad4c3e.28833","5424f20f.07760c"]]},{"id":"5424f20f.07760c","type":"debug","z":"89a8a4b8.bff9d8","name":"","active":false,"console":"false","complete":"true","x":816.5,"y":530,"wires":[]},{"id":"3fb2041e.06dafc","type":"pushover","z":"89a8a4b8.bff9d8","name":"","device":"","title":"RESET Event","priority":0,"sound":"echo","x":564.5,"y":348,"wires":[]},{"id":"1018a1b5.c8282e","type":"function","z":"486564dd.17cbac","name":"FC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":499,"y":101,"wires":[["7370bba5.c1ce54","47f48d48.1a8604"],["bacd9f75.e6bf4"],[]]},{"id":"dd285417.6215e8","type":"influxdb out","z":"486564dd.17cbac","influxdb":"2dc046e1.06d33a","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":813.0000610351562,"y":209,"wires":[]},{"id":"b8eb0e1c.5755d","type":"function","z":"486564dd.17cbac","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":440.50000762939453,"y":209.25000381469727,"wires":[["dd285417.6215e8","6ad12a4e.0a8a04"]]},{"id":"bf6f29c.83d55d8","type":"function","z":"486564dd.17cbac","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":471,"y":152,"wires":[[],[],[]]},{"id":"6ad12a4e.0a8a04","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":779.361083984375,"y":255.83331298828125,"wires":[]},{"id":"17c07a79.b9e8d6","type":"inject","z":"486564dd.17cbac","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":150,"wires":[["a56d3a2b.4e4458"]]},{"id":"b03097f9.da3768","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":351,"y":342,"wires":[]},{"id":"a56d3a2b.4e4458","type":"function","z":"486564dd.17cbac","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":234.5,"y":217,"wires":[["b8eb0e1c.5755d","b03097f9.da3768"]]},{"id":"4eb9adbf.97e734","type":"ParticleSSE in","z":"a49e555b.89ba38","baseurl":"6519fb1.fe0ed04","evtname":"dsCombi","devid":"bc-liquor","x":176.0994415283203,"y":80.09091186523438,"wires":[["52a7279b.42ab98","e9c4808c.06e03","1c880565.c631fb"]]},{"id":"3eec312a.9ffa9e","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"eb6a90a9.3896a","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-LIQUOR","x":866.6551513671875,"y":68.31314086914062,"wires":[]},{"id":"568b7732.e6e308","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":822.5440139770508,"y":134.74341344833374,"wires":[]},{"id":"86fe5d22.657f","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"cbe910a4.e155f","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":858.0995025634766,"y":206.59091901779175,"wires":[]},{"id":"c5fb0a8.83e79f8","type":"function","z":"a49e555b.89ba38","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":555.5994415283203,"y":200.59091901779175,"wires":[["86fe5d22.657f","edfe8be4.f7c9f8"]]},{"id":"52a7279b.42ab98","type":"function","z":"a49e555b.89ba38","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":516.0994415283203,"y":149.59091901779175,"wires":[[],[],[]]},{"id":"edfe8be4.f7c9f8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":817.4605331420898,"y":253.42423582077026,"wires":[]},{"id":"696208b0.e0ae08","type":"inject","z":"a49e555b.89ba38","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.0994415283203,"y":147.59091901779175,"wires":[["89282d0c.4f9cb","c2da46de.9a88b8"]]},{"id":"6d0c59e4.5493f8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":396.0994415283203,"y":339.59091901779175,"wires":[]},{"id":"89282d0c.4f9cb","type":"function","z":"a49e555b.89ba38","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":279.5994415283203,"y":214.59091901779175,"wires":[["c5fb0a8.83e79f8","6d0c59e4.5493f8"]]},{"id":"e9c4808c.06e03","type":"function","z":"a49e555b.89ba38","name":"BC LIQUOR Riser Temperatures","func":"var toffset = 0.0;\nvar s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1: toffset + Number ( fields[0]),\n    Temp2: toffset + Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":532.0994873046875,"y":89.5,"wires":[["3eec312a.9ffa9e","568b7732.e6e308","e8b92b47.0bb438"],[],[]]},{"id":"1c880565.c631fb","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":482,"y":20,"wires":[]},{"id":"c2da46de.9a88b8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":407,"y":436,"wires":[]},{"id":"ebc7d992.174108","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsCombi","devid":"bc-shower","x":164.75,"y":201.00000250339508,"wires":[["7b1d0150.adb59","6857652a.f84e2c"]]},{"id":"5a8a69be.d50868","type":"delay","z":"71002e00.5376a4","name":"Rate limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":242.25,"y":434.2500066757202,"wires":[["1dd88514.68d14b"]]},{"id":"6857652a.f84e2c","type":"function","z":"91acd4ad.7bc198","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[1]);\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":700,"wires":[["1f797be0.2e5a54","988675cb.025288"]]},{"id":"b65534da.c96348","type":"delay","z":"91acd4ad.7bc198","name":"rate limit 5min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"12","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":607.5,"y":553,"wires":[["c0bd597.58eeca8","e6d7c2ae.077d7"]]},{"id":"e6d7c2ae.077d7","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":800,"y":590,"wires":[]},{"id":"eb9e7be.f6e8d88","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":842,"y":107,"wires":[]},{"id":"f0af14bb.724d78","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":845.1110992431641,"y":181.88888549804688,"wires":[]},{"id":"74dd952a.cdd65c","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.A0","x":834.8889007568359,"y":144.55555605888367,"wires":[]},{"id":"eda0e6b6.a05758","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.IO","x":836.7500152587891,"y":68.25,"wires":[]},{"id":"c80fa560.101598","type":"influxdb out","z":"71002e00.5376a4","influxdb":"29282b82.8d1c54","name":"InfluxDB @ an.casaria.net","measurement":"BC-SHOWER","x":857.0833854675293,"y":53.5,"wires":[]},{"id":"47f48d48.1a8604","type":"influxdb out","z":"486564dd.17cbac","influxdb":"92989d38.a1a76","name":"InfluxDB @ an.casaria.net","measurement":"FC-LIQUOR","x":819,"y":42,"wires":[]},{"id":"e8b92b47.0bb438","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"2419e993.a5b706","name":"InfluxDB @ an.casaria.net","measurement":"BC-LIQUOR","x":855,"y":28,"wires":[]},{"id":"8bc82e32.7437d","type":"switch","z":"89a8a4b8.bff9d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":210.14286041259766,"y":529.7142639160156,"wires":[[]]},{"id":"c76875be.6c2308","type":"function","z":"91acd4ad.7bc198","name":"lucky-surfer","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\n//if (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\n//if (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp:  Number ( fields[0])\n}\nmsg2.payload = {\n    time: Date.parse(msg.published_at),\n    pressure:  Number ( fields[1])\n}\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":809.0000152587891,"y":752.7500114440918,"wires":[[],[]]},{"id":"177f6994.833586","type":"function","z":"91acd4ad.7bc198","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":851.1786041259766,"y":794.8571891784668,"wires":[[]]},{"id":"c3a6d3b5.871cd8","type":"freeboard","z":"22b58a34.405f26","name":"Freeboard2","x":655.9301414489746,"y":132.31582832336426,"wires":[]},{"id":"5f8a3687.0de438","type":"inject","z":"22b58a34.405f26","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288.75000762939453,"y":133.70276832580566,"wires":[["12b2295.1c29457"]]},{"id":"12b2295.1c29457","type":"function","z":"22b58a34.405f26","name":"","func":"msg.payload={value:Math.floor(Math.random()*100)};\nreturn msg;","outputs":1,"noerr":0,"x":497.8151550292969,"y":133.10502910614014,"wires":[["c3a6d3b5.871cd8"]]},{"id":"befc347.ca93648","type":"freeboard","z":"22bbaa99.97ac16","name":"Freeboard","x":1124.6876697540283,"y":845.4239559173584,"wires":[]},{"id":"5b02c75c.c11b2","type":"inject","z":"22bbaa99.97ac16","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":720.684193611145,"y":816.5068140029907,"wires":[["b5060f6c.117d5"]]},{"id":"b5060f6c.117d5","type":"function","z":"22bbaa99.97ac16","name":"","func":"msg.payload={value:Math.floor(Math.random()*100)};\nreturn msg;","outputs":1,"noerr":0,"x":962.7747802734375,"y":811.4501953125,"wires":[["befc347.ca93648"]]},{"id":"4049ed4.b18c214","type":"bigtimer","z":"89a8a4b8.bff9d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 1","lat":"33.93538","lon":"-118.416653","starttime":"465","endtime":"10001","startoff":"0","endoff":"0","offs":"0","outtext1":"ON","outtext2":"Off","timeout":"0","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"day1":"0","month1":"0","day2":"0","month2":"0","day3":"0","month3":"0","day4":"0","month4":"0","day5":"0","month5":"0","d1":"0","w1":"0","d2":"0","w2":"0","d3":"0","w3":"0","d4":"0","w4":"0","d5":"0","w5":"0","suspend":false,"random":false,"repeat":false,"atstart":false,"x":128,"y":187,"wires":[["37ef252b.8b5bea"],[],[]]},{"id":"391b6e21.841bf2","type":"inject","z":"515a5582.bb8e1c","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":920,"wires":[["40868cbb.0752a4"]]},{"id":"ad0575bb.188a58","type":"inject","z":"515a5582.bb8e1c","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":187.09219360351562,"y":842.7577390670776,"wires":[["40868cbb.0752a4"]]},{"id":"6cc2d9cc.c4a0c8","type":"inject","z":"515a5582.bb8e1c","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":880,"wires":[["40868cbb.0752a4"]]},{"id":"a81c6e2b.729b3","type":"inject","z":"515a5582.bb8e1c","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":960,"wires":[["40868cbb.0752a4"]]},{"id":"de670b91.60d468","type":"inject","z":"515a5582.bb8e1c","name":"WHITE ALL OFF","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":157,"y":1040,"wires":[["40868cbb.0752a4"]]},{"id":"48d7b964.7b91d8","type":"inject","z":"515a5582.bb8e1c","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1000,"wires":[["40868cbb.0752a4"]]},{"id":"9860a962.be90c8","type":"inject","z":"515a5582.bb8e1c","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":137,"y":1080,"wires":[["d43d8d7d.ff1d8","40868cbb.0752a4"]]},{"id":"74f32c20.b3f5c4","type":"ParticleSSE in","z":"515a5582.bb8e1c","baseurl":"a400572e.1faa88","evtname":"dsCombi","devid":"LHLAX-SENS-N","x":205.5714111328125,"y":768.5714149475098,"wires":[["427ad87b.d6e578"]]},{"id":"427ad87b.d6e578","type":"function","z":"515a5582.bb8e1c","name":"LHLAX-SENS-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color;\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\ncolor = fields[2];\n\nif (color != context.flow.casaria.LHN.COLOR)\n{\n    \n} else {\n    color = \"\";\n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHN.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHN.COLOR = color;\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0])\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\n\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2];\n\nif (Number(fields[0])<=2.0) {\n    fields[0] = '0.0';\n     return [msg1,msg2];\n}\nswitch (color){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]),\n    Humidity:  Number ( fields[1]),\n    Setpoint:  Number (context.flow.casaria.LHN.COOL_SP1),\n    Color: color,\n    ColorNum: cnum,\n    geohash: context.flow.casaria.LHN.GEOHASH,\n    google_sp: context.flow.casaria.LHN.GOOGLE_SP,\n    strValue: \"LHLAX-SENS-N\",\n}\n\n\n\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":561.9341278076172,"y":768.8541989326477,"wires":[["e0adb8ef.35c338","5b2c1812.fcc478","ffcd3c1e.c9d0e","74026d3.1ac9394"],["80a61ec8.252a8","39cef17c.5f8afe","d101274a.535708","7c43b84a.c0ebd8","b76cb940.95afd8"],["d101274a.535708","eeb29cba.4d301"],["93124a6b.ed6848"]]},{"id":"e0adb8ef.35c338","type":"influxdb out","z":"515a5582.bb8e1c","influxdb":"58903902.0e6b28","name":"","measurement":"LHLAX-SENS-N","x":971.9999847412109,"y":718,"wires":[]},{"id":"80a61ec8.252a8","type":"function","z":"515a5582.bb8e1c","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHN.COOL_SP1;\nvar dif = context.flow.casaria.LHN.SP2_DIF;\nvar mode = context.flow.casaria.LHN.COLOR;\nvar vacant = !context.flow.casaria.LHN.OCCUPIED;\nvar T_RT = context.flow.casaria.LHN.T_RT;\nvar HEAT = context.flow.casaria.LHN.HEAT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHN.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHN.HEAT_SP;\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg3.payload = HEAT;\nmsg4.payload ={\n    Vacant : vacant,\n};\nif (T_RT < (coolsp - 3.50)) {\n    msg3.payload = \"GREEN\";\n} else {\n    msg3.payload = \"WHITE\";\n}\nif (temp < coolsp - 0.3) {\n    msg3.payload = \"GREEN\";\n} \ncontext.flow.casaria.LHN.RTN_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp > (coolsp - 0.1))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-0.1))\n    msg3.payload = \"ORANGE\";\n    \n\n  \n    \nif (temp < heat_sp)\n    msg3.payload = \"RED\" ;\n\n//    msg3.payload = \"GREEN\";\n\ncontext.flow.casaria.LHN.RTN_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHN.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3, msg4];","outputs":"4","noerr":0,"x":988.0582885742188,"y":917.1361360549927,"wires":[["d389d962.934ff8"],["865f4d65.674c1"],["d174a26.98f6b6"],["a00d0db2.47e11"]]},{"id":"97ff660d.947698","type":"mqtt out","z":"515a5582.bb8e1c","name":"Publish MQTT LH-N","topic":"LH-N","qos":"1","retain":"true","broker":"cd70f8c6.3592e8","x":695.7829666137695,"y":1026.5472555160522,"wires":[]},{"id":"d174a26.98f6b6","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"payload","x":1270,"y":980,"wires":[]},{"id":"2d225c90.ca1264","type":"delay","z":"515a5582.bb8e1c","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"60","nbRateUnits":"","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1226.6667785644531,"y":429.66671562194824,"wires":[["42f268c9.70bcd8"]]},{"id":"d389d962.934ff8","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"true","complete":"true","x":1253,"y":896,"wires":[]},{"id":"9077bddc.d8b82","type":"ui_slider","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"","topic":"COOL_SP1","group":"Temp Monitor & Control","order":"1","min":"20.5","max":"28.5","x":625.0001525878906,"y":57.33334922790527,"wires":[["5026ae7f.61896","df1dd11e.c0268"]]},{"id":"8f9ed999.85df78","type":"function","z":"515a5582.bb8e1c","name":"LHLAX-RT-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2,msg3,msg4]\n\nif ((Number(fields[0]) < 0) || (Number(fields[0] < 0))) \n   return [msg1,msg2, msg3, msg4];\n   \nswitch (fields[2]){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-RT-N\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":555.7142639160156,"y":1318.5714054107666,"wires":[["51d3191c.367a88","ebc400b0.d05b9","e3a576d8.afb368"],["490ae85c.855f08"],["490ae85c.855f08"],["490ae85c.855f08","b1e79f1d.a94f2","de668867.f10ed8"]]},{"id":"d11e8b95.80c7d8","type":"ParticleSSE in","z":"515a5582.bb8e1c","baseurl":"a400572e.1faa88","evtname":"dsCombi","devid":"LHLAX-RTN-2","x":188.57142639160156,"y":1318.571388244629,"wires":[["8f9ed999.85df78"]]},{"id":"51d3191c.367a88","type":"influxdb out","z":"515a5582.bb8e1c","influxdb":"58903902.0e6b28","name":"","measurement":"LHLAX-RT-N","x":960,"y":1280,"wires":[]},{"id":"ebc400b0.d05b9","type":"function","z":"515a5582.bb8e1c","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHN.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":950,"y":1340,"wires":[["b5bb4d49.56562"],[],[]]},{"id":"d43d8d7d.ff1d8","type":"openweathermap","z":"515a5582.bb8e1c","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","language":"en","x":565.1666603088379,"y":1068.6666345596313,"wires":[["4e07f535.f7ee4c","bb71cab6.be8898","b41fd372.2fa25"]]},{"id":"4e07f535.f7ee4c","type":"pushover","z":"515a5582.bb8e1c","name":"Push weahther","device":"","title":"","priority":0,"sound":"pushover","x":940,"y":1100,"wires":[]},{"id":"39cef17c.5f8afe","type":"ui_gauge","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Actual Temp (1st Floor)","group":"Temp Monitor & Control","order":"4","format":"{{value}}","min":"10","max":"35","x":970,"y":978.5714559555054,"wires":[]},{"id":"d101274a.535708","type":"ui_chart","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Temp","group":"Temp Monitor & Control","order":"9","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":910,"y":863.5714559555054,"wires":[[],[]]},{"id":"e38196ae.40e4b8","type":"ui_switch","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Smart Energy Saver","topic":"","group":"Temp Monitor & Control","order":"10","onvalue":"On","offvalue":"Off","x":674.0000915527344,"y":105.33337783813477,"wires":[["40e4e9a5.8c91a8"]]},{"id":"eed037c2.43eb88","type":"ParticleVar","z":"515a5582.bb8e1c","baseurl":"a400572e.1faa88","devid":"LHLAX-RTN-2","getvar":"Color","repeat":"60","x":170,"y":1400,"wires":[["d7605a63.42a438","b8d3f316.0a422"]]},{"id":"5026ae7f.61896","type":"ui_text","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Set point","group":"Temp Monitor & Control","order":"0","format":"{{msg.payload}}","x":1188.000129699707,"y":55.33330726623535,"wires":[]},{"id":"d7605a63.42a438","type":"function","z":"515a5582.bb8e1c","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-N\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-N\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":400,"y":1400,"wires":[["42150183.c73fb"],[]]},{"id":"42150183.c73fb","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":590,"y":1400,"wires":[]},{"id":"df1dd11e.c0268","type":"function","z":"515a5582.bb8e1c","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\n   \ncontext.flow.casaria.LHN.COOL_SP1= temp;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":952.5555114746094,"y":306.5396671295166,"wires":[["ebba5a47.6fb9c8"]]},{"id":"7c43b84a.c0ebd8","type":"function","z":"515a5582.bb8e1c","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles', hour12:false, day: 'numeric' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg3.payload = Number(datestr);\nmsg1.payload = null;\n\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHN.TEST_MODE) {\n    msg1.payload = true;\n    return [msg1, msg2, msg3];\n}\n\nif (context.flow.casaria.LHN.GOOGLE) {\n     msg1.payload=true;\n    return [msg1, msg2, msg3];\n}\n\nif (context.flow.casaria.LHN.LIMP_MODE) {\n     msg1.payload=true;\n    return [msg1, msg2, msg3];\n}\n\nif ((time_now < \"23:00\") & (time_now > \"05:45\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\ncontext.flow.casaria.LHN.MODE_NORM = msg1.payload; \nreturn [msg1,msg2, msg3];","outputs":"3","noerr":0,"x":473.83509063720703,"y":543.7929763793945,"wires":[["58d98631.a69468","967aec47.8bc03","6742a335.f49efc"],["b098079d.b59668"],["2f3db3bf.d0e4cc","e8243a6e.f4c1a8"]]},{"id":"58d98631.a69468","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":500,"wires":[]},{"id":"b91d0048.aeaed","type":"inject","z":"515a5582.bb8e1c","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1540,"wires":[["8a453693.1d42c8"]]},{"id":"8a453693.1d42c8","type":"function","z":"515a5582.bb8e1c","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1540,"wires":[["7031dabf.6b4454"]]},{"id":"7031dabf.6b4454","type":"debug","z":"515a5582.bb8e1c","name":"show","active":true,"console":"false","complete":"payload","x":730.0000381469727,"y":1536.0000443458557,"wires":[]},{"id":"8afdfb4a.a4ac88","type":"inject","z":"515a5582.bb8e1c","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":140,"y":1580,"wires":[["182eacd7.940843"]]},{"id":"de0d4486.59dc78","type":"function","z":"515a5582.bb8e1c","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["7031dabf.6b4454"]]},{"id":"26f1619a.dc4c7e","type":"inject","z":"515a5582.bb8e1c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1620,"wires":[["de0d4486.59dc78"]]},{"id":"182eacd7.940843","type":"function","z":"515a5582.bb8e1c","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":350,"y":1580,"wires":[["7031dabf.6b4454"]]},{"id":"6353f319.e3586c","type":"function","z":"515a5582.bb8e1c","name":"context.flow","func":"var msg1 ={};\nvar msg2 ={};\nvar msg3 ={};\nvar obj4 ={};\nobj4.payload = msg.payload;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHN.COOL_SP1;\nmsg2.payload = msg.payload.LHN.SMART;\nmsg3.payload={\n    google: msg.payload.LHN.GOOGLE,\n    cool: msg.payload.LHN.COOL,\n    test: msg.payload.LHN.TEST,\n};\n\nreturn [msg1,msg2,msg3,obj4];","outputs":"4","noerr":0,"x":436.00006103515625,"y":152.33332633972168,"wires":[["9077bddc.d8b82"],["e38196ae.40e4b8"],["537b2422.a2ad2c"],["d8f49d91.d212f"]]},{"id":"b5bb4d49.56562","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":1340,"wires":[]},{"id":"eeb29cba.4d301","type":"ui_gauge","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Actual Humidity (1st Floor)","group":"Temp Monitor & Control","order":"5","format":"{{value}}","min":"10","max":"100","x":980,"y":1018.5714559555054,"wires":[]},{"id":"ba7d3701.efb3c8","type":"mqtt out","z":"515a5582.bb8e1c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","retain":"true","broker":"cd70f8c6.3592e8","x":1237.3337707519531,"y":1728.8094730377197,"wires":[]},{"id":"ebba5a47.6fb9c8","type":"json","z":"515a5582.bb8e1c","name":"","x":1176.0000801086426,"y":348.00000190734863,"wires":[["d31751fb.0bbf7"]]},{"id":"3211ac2b.571654","type":"json","z":"515a5582.bb8e1c","name":"","x":133.66669845581055,"y":246.91668891906738,"wires":[["6353f319.e3586c"]]},{"id":"945ff38d.b32af","type":"mqtt in","z":"515a5582.bb8e1c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","broker":"cd70f8c6.3592e8","x":154.58334350585938,"y":81.83333778381348,"wires":[["1be70287.5219ad"]]},{"id":"b098079d.b59668","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":540,"wires":[]},{"id":"b76cb940.95afd8","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":930,"y":760,"wires":[]},{"id":"967aec47.8bc03","type":"function","z":"515a5582.bb8e1c","name":"on / off select color","func":"if (msg.payload) {\n  context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_ON_COLOR;\n}\nelse {\n   context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_OFF_COLOR;\n}\nmsg.payload = context.flow.casaria.LHN.COLOR;\nreturn msg;","outputs":1,"noerr":0,"x":944.3333473205566,"y":429.66669368743896,"wires":[["2d225c90.ca1264"]]},{"id":"490ae85c.855f08","type":"ui_chart","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"Roof top","group":"Temp Monitor & Control","order":"12","interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":920.0000152587891,"y":1393.750020980835,"wires":[[],[]]},{"id":"9787bfc7.06b92","type":"ui_radio_button","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"OCCUPIED","topic":"OCCUPIED","group":"Temp Monitor & Control","order":"6","buttons":[{"label":"Occupied","payload":"on"},{"label":"Vacated","payload":"off"}],"x":1202.6191635131836,"y":136.66662979125977,"wires":[["12e9431b.9aa06d"]]},{"id":"2f3db3bf.d0e4cc","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":580,"wires":[]},{"id":"b8d3f316.0a422","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":410,"y":1440,"wires":[]},{"id":"b1e79f1d.a94f2","type":"ui_text","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"System Mode Color","group":"Temp Monitor & Control","order":"8","format":"{{msg.payload}}","x":959.9999732971191,"y":1431.6666419506073,"wires":[]},{"id":"c732574e.15d438","type":"function","z":"515a5582.bb8e1c","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\n//if (msg.payload&1) \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"PURPLE\";\n//else \n//    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"BLUE\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":620,"wires":[["fa0a61cf.982f"]]},{"id":"fa0a61cf.982f","type":"function","z":"515a5582.bb8e1c","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":943.1111297607422,"y":348.66666746139526,"wires":[["ebba5a47.6fb9c8"]]},{"id":"e8243a6e.f4c1a8","type":"rbe","z":"515a5582.bb8e1c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":902,"y":620,"wires":[["c732574e.15d438","8d537ac.fa26088"]]},{"id":"de668867.f10ed8","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"payload","x":930,"y":1480,"wires":[]},{"id":"865f4d65.674c1","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":940,"wires":[]},{"id":"561fd48.7aab32c","type":"google calendar in","z":"515a5582.bb8e1c","google":"dcce8767.bcf7e8","name":"Google Calendar HVAC","calendar":"LH-LAX-N","offsetType":"at","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":172.99749946594238,"y":371.9910087585449,"wires":[["508918b5.9c9b78","8cfdee05.cc702"]]},{"id":"508918b5.9c9b78","type":"function","z":"515a5582.bb8e1c","name":"Parse Calendar TEMP","func":"var msg1;\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\ncontext.flow.casaria.LHN.GOOGLE_SP=temp;\nreturn [msg1];","outputs":1,"noerr":0,"x":489.00000762939453,"y":345.5000343322754,"wires":[["fa0a61cf.982f"]]},{"id":"bb71cab6.be8898","type":"debug","z":"515a5582.bb8e1c","name":"","active":true,"console":"false","complete":"false","x":930,"y":1135,"wires":[]},{"id":"b791fbbe.2e8788","type":"comment","z":"515a5582.bb8e1c","name":"LUFTHANSA CARGO LAX 1st and 2nd Floor HVAC control","info":"","x":270,"y":40,"wires":[]},{"id":"b41fd372.2fa25","type":"e-mail","z":"515a5582.bb8e1c","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email Energy Report to Todor","x":978.3333129882812,"y":1175.000005722046,"wires":[]},{"id":"8d537ac.fa26088","type":"ui_template","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"","group":"Temp Monitor & Control","order":"16","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1286.6667022705078,"y":656.6666927337646,"wires":[[]]},{"id":"e6833426.f9d6a8","type":"inject","z":"515a5582.bb8e1c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":770,"y":660,"wires":[["8d537ac.fa26088"]]},{"id":"93124a6b.ed6848","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"true","x":910.0624694824219,"y":1056.2617168426514,"wires":[]},{"id":"1cc85554.18079b","type":"debug","z":"515a5582.bb8e1c","name":"","active":true,"console":"false","complete":"payload","x":697.833381652832,"y":978.1666412353516,"wires":[]},{"id":"40868cbb.0752a4","type":"function","z":"515a5582.bb8e1c","name":"TEST True","func":"if (context.flow.casaria.LHN.TEST) {\n  return msg;\n    \n}else {}","outputs":1,"noerr":0,"x":491.25000762939453,"y":1023.7500152587891,"wires":[["97ff660d.947698","1cc85554.18079b"]]},{"id":"42f268c9.70bcd8","type":"function","z":"515a5582.bb8e1c","name":"TEST False","func":"if (!context.flow.casaria.LHN.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":494.58338165283203,"y":901.2500133514404,"wires":[["1cc85554.18079b","97ff660d.947698"]]},{"id":"6742a335.f49efc","type":"function","z":"515a5582.bb8e1c","name":"","func":"if (msg.payload) {\n  msg.payload=\"on\"\n}  \nif (msg.payload === false){\n  msg.payload=\"off\";\n}  \nif (msg.payload === null)\n   return;\n   \nreturn msg;","outputs":1,"noerr":0,"x":905.3333396911621,"y":268.66667556762695,"wires":[["9787bfc7.06b92"]]},{"id":"8cfdee05.cc702","type":"json","z":"515a5582.bb8e1c","name":"","x":439.9999713897705,"y":404.1666679382324,"wires":[[]]},{"id":"6cf30e4f.d2acd","type":"google calendar in","z":"2ee08bfe.a2cfb4","google":"2aa6e691.0614ca","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":213.9683380126953,"y":287.0107421875,"wires":[[]]},{"id":"d31751fb.0bbf7","type":"rbe","z":"515a5582.bb8e1c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1316.6667785644531,"y":349.5554141998291,"wires":[["ba7d3701.efb3c8"]]},{"id":"8a4e076d.95bb08","type":"inject","z":"515a5582.bb8e1c","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1683.333251953125,"wires":[["39d344d2.241ffc"]]},{"id":"39d344d2.241ffc","type":"function","z":"515a5582.bb8e1c","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":340,"y":1683.333251953125,"wires":[["7031dabf.6b4454"]]},{"id":"e00f839f.3824c","type":"function","z":"515a5582.bb8e1c","name":"Set vars example","func":"var LHN ={};\nvar COOL_SP1, COOL_SP2;\n\nvar cas= {\n\n    LHN: {\n        COOL_SP1: 24.0,\n        COOL_SP2: 25.5,\n        SP2_DIF: .1,\n        HEAT_SP: 22,\n        COLOR: \"GREEN\",\n        T_SENS: 20.0,\n        T_RT: 20.0,\n        RTN_ON_COLOR:\"GREEN\",\n        RTN_OFF_COLOR:\"WHITE\",\n        //MODE_NORM: \"\",\n        //MODE_COOL_HEAT: \"HEAT\",\n        //TEST_MODE: false,  \n        GOOGLE : false,\n        COOL : true,\n        TEST : true,\n        SMART : true,\n        COOL_STAGE_COLOR: \"BLUE\",\n        GEOHASH: '',\n        GOOGLE_SP: 24.01,\n        LIMP_MODE: false\n    }\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":376.2856750488281,"y":1730.90478515625,"wires":[["7031dabf.6b4454","5ab1d25.73a8d2c"]]},{"id":"2ea1d0ea.80e66","type":"inject","z":"515a5582.bb8e1c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1731.333251953125,"wires":[["e00f839f.3824c"]]},{"id":"bc7b18ee.33b5b8","type":"function","z":"515a5582.bb8e1c","name":"","func":"var msg1, msg2;\nmsg1 ={};\nmsg2 ={};\nmsg3 ={};\ncontext.flow.casaria.LHN.TEST = msg.payload.test;\ncontext.flow.casaria.LHN.COOL = msg.payload.cool;\ncontext.flow.casaria.LHN.GOOGLE = msg.payload.google;\n\n\nif (context.flow.casaria.LHN.GOOGLE) {\n    context.flow.casaria.LHN.COOL_SP1 = context.flow.casaria.LHN.GOOGLE_SP;\n    context.flow.casaria.LHN.TEST = false;\n    msg1 = { payload :\"on\"};\n    msg2 = { payload : context.flow.casaria.LHN.GOOGLE_SP};\n    msg3.payload = {\n            google: context.flow.casaria.LHN.GOOGLE,\n            cool: context.flow.casaria.LHN.COOL,\n            test: false,   \n    }\n    \n}\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":984.5833282470703,"y":154.6389503479004,"wires":[["9787bfc7.06b92","967aec47.8bc03","fa0a61cf.982f"],["5026ae7f.61896"],["537b2422.a2ad2c"]]},{"id":"dcd27268.99a21","type":"rbe","z":"515a5582.bb8e1c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":136.50000381469727,"y":166.00000381469727,"wires":[["4d07391a.fb69f8"]]},{"id":"537b2422.a2ad2c","type":"ui_button_row","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"heat cool and manual auto","topic":"","group":"Temp Monitor & Control","order":"7","toggle":true,"buttons":[{"payload":"google","icon":"schedule","color":"green","on_icon":"google-plus-box","on_color":"orange"},{"payload":"cool","icon":"whatshot","color":"orange","on_icon":"flare","on_color":"blue"},{"payload":"test","icon":"sync","color":"purple","on_icon":"thumb_up","on_color":"red"}],"inputs":1,"x":681.5833282470703,"y":158.25006294250488,"wires":[["bd0f3d13.d32ac"]]},{"id":"a3a3b26c.a4e7d","type":"json","z":"515a5582.bb8e1c","name":"","x":992.9565658569336,"y":1727.606674194336,"wires":[["ba7d3701.efb3c8"]]},{"id":"40e4e9a5.8c91a8","type":"function","z":"515a5582.bb8e1c","name":"update defaults + temp","func":"\n   \ncontext.flow.casaria.LHN.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":957.3333568572998,"y":105.0000114440918,"wires":[["ebba5a47.6fb9c8"]]},{"id":"1be70287.5219ad","type":"delay","z":"515a5582.bb8e1c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":167.25,"y":128.50000190734863,"wires":[["dcd27268.99a21"]]},{"id":"39fc0c7.0b9caf4","type":"inject","z":"515a5582.bb8e1c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":768,"y":698,"wires":[["8d537ac.fa26088"]]},{"id":"4023de5e.42ed3","type":"function","z":"515a5582.bb8e1c","name":"Set vars example","func":"context.flow.casaria.LHN.SP2_DIF = 0.1;","outputs":1,"noerr":0,"x":374.28570556640625,"y":1780,"wires":[["5ab1d25.73a8d2c"]]},{"id":"be48b10d.fbdcc","type":"inject","z":"515a5582.bb8e1c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.5714225769043,"y":1778.5713806152344,"wires":[["4023de5e.42ed3"]]},{"id":"4d07391a.fb69f8","type":"trigger","z":"515a5582.bb8e1c","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","name":"One shot","x":144.75,"y":204.75000286102295,"wires":[["3211ac2b.571654"]]},{"id":"a00d0db2.47e11","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"payload","x":1271.25,"y":1021,"wires":[]},{"id":"5b2c1812.fcc478","type":"freeboard","z":"515a5582.bb8e1c","name":"LH-N","x":908.7707672119141,"y":827.7360954284668,"wires":[]},{"id":"90920358.6fd87","type":"wiotp out","z":"515a5582.bb8e1c","authType":"d","qs":"true","qsDeviceId":"670826b.497eed8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":1254.7500190734863,"y":791.0000114440918,"wires":[]},{"id":"ffcd3c1e.c9d0e","type":"json","z":"515a5582.bb8e1c","name":"","x":904.5,"y":794,"wires":[["90920358.6fd87"]]},{"id":"b93a90e0.795fe","type":"ui_chart","z":"2ee08bfe.a2cfb4","tab":"3ae0762a.291b2a","name":"Setpoint diufferential","group":"Temp Monitor & Control","order":"10","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":262.0086441040039,"y":441.2794895172119,"wires":[[],[]]},{"id":"1667364e.30d3fa","type":"geohash","z":"515a5582.bb8e1c","name":"","x":380.08227157592773,"y":1828.5536065101624,"wires":[["68faa8df.1fa048","e5e9d4cf.bf38e8"]]},{"id":"edd9609c.6c662","type":"inject","z":"515a5582.bb8e1c","name":"CREATE ALL DEFAULTS","topic":"","payload":"33.933069,-118.385154","payloadType":"str","repeat":"","crontab":"","once":true,"x":187.08227157592773,"y":1829.5536065101624,"wires":[["1667364e.30d3fa","e00f839f.3824c"]]},{"id":"68faa8df.1fa048","type":"debug","z":"515a5582.bb8e1c","name":"","active":true,"console":"true","complete":"payload","x":619.5822715759277,"y":1873.5536065101624,"wires":[]},{"id":"e5e9d4cf.bf38e8","type":"function","z":"515a5582.bb8e1c","name":"","func":"context.flow.casaria.LHN.GEOHASH = msg.payload;\nreturn;\n","outputs":1,"noerr":0,"x":589.0822715759277,"y":1827.5536065101624,"wires":[["5ab1d25.73a8d2c"]]},{"id":"e3a576d8.afb368","type":"freeboard","z":"515a5582.bb8e1c","name":"LH-RT-N","x":922,"y":1237,"wires":[]},{"id":"2f6e845a.9fb20c","type":"inject","z":"9ce9bd52.f92c1","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":160.49188995361328,"y":936.6126372814178,"wires":[["364ab8ea.1e7b28"]]},{"id":"c15a103c.0fe14","type":"inject","z":"9ce9bd52.f92c1","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":191.4918975830078,"y":864.6126317977905,"wires":[["364ab8ea.1e7b28"]]},{"id":"34620aad.b94ff6","type":"inject","z":"9ce9bd52.f92c1","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.24188232421875,"y":900.8625993728638,"wires":[["364ab8ea.1e7b28"]]},{"id":"f4168d00.eb696","type":"inject","z":"9ce9bd52.f92c1","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.49189376831055,"y":973.6126387119293,"wires":[["364ab8ea.1e7b28"]]},{"id":"e6f2304b.046f4","type":"inject","z":"9ce9bd52.f92c1","name":"WHITE(ALL OFF)","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.49188232421875,"y":1047.612548828125,"wires":[["364ab8ea.1e7b28"]]},{"id":"a6df6d2c.9c678","type":"inject","z":"9ce9bd52.f92c1","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":199.57522583007812,"y":1011.1959228515625,"wires":[["364ab8ea.1e7b28"]]},{"id":"9cbf80bc.3d677","type":"inject","z":"9ce9bd52.f92c1","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.49186325073242,"y":1083.9459009170532,"wires":[["364ab8ea.1e7b28","3704a7ed.a8c2d8"]]},{"id":"f53cf5fc.fcc4e8","type":"ParticleSSE in","z":"9ce9bd52.f92c1","baseurl":"571ad409.c22b7c","evtname":"dsCombi","devid":"LHLAX-SENS-S2","x":225.66454315185547,"y":610.9815311431885,"wires":[["397fe448.f7203c"]]},{"id":"397fe448.f7203c","type":"function","z":"9ce9bd52.f92c1","name":"ROOM Sensor Temperature, Humidity, ..`","func":"/*\nProcess the IOT node message stream subscribed by SSE from\nparticle or casaria cloud. Multiple values are packed into one\nmessage separated by '&' to minimize packet size and overhead\n(cost for 3G as well)\n\nOutput(s): Function\nJSON message with raw plausiblity checked sensor data for storage \nto Time Series Database (TSDB) InfluxDB.\n\nSeveral new messages with distinct value payloads\nfor further processing (i.e control, alerting, tweets, generate HTML psges,\n, User Interface, etc,)\n\n*/\nvar s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color, cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};  //error to CATER                                                                                                                                                                                                                                                                                                      \n\n\nif ((isNaN (fields[0]) || isNaN(fields[1])) || (Number(fields[0]) <= 0)|| (Number(fields[0] <= 0)) ) \n{\n\nmsg5.payload = {\n    err: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: 99,\n    strValue: \"LHLAX-SENS-S\",\n    geohash: context.flow.casaria.LHS.GEOHASH,\n    STATUS: 1,\n}   \n    \nreturn [msg1,msg2,msg3,msg4,msg5]\n}\n\nif (color != context.flow.casaria.LHS.COLOR)\n{\n    \n} else {\n    color = \"WHITE\";    //populate with default \n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHS.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHS.COLOR = color;\n\n\nswitch (fields[2]){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]) -0.0,\n    Humidity:  Number ( fields[1]),\n    Setpoint:  Number (context.flow.casaria.LHS.COOL_SP1),\n    Color: fields[2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-SENS-S\",\n    metric: Number (fields[0]) - 0.0,\n    geohash: context.flow.casaria.LHS.GEOHASH,\n    google_sp: context.flow.casaria.LHS.GOOGLE_SP,\n}\n\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]),\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4];  //do not return msg5","outputs":"5","noerr":0,"x":557.8609313964844,"y":611.2984161376953,"wires":[["d0c098db.bfb518","e371a891.e358f8","ba3b8532.bb34b8"],["2b93a04e.f741a","c364f6ef.f50428","a7242bf9.ca11c8","7da9fc7.7038c04","48ec1d73.9809a4","b93724ef.d32e98"],["a7242bf9.ca11c8","775dd9a3.95a678"],[],["70d41026.9d06","2de58795.5860a8"]]},{"id":"d0c098db.bfb518","type":"influxdb out","z":"9ce9bd52.f92c1","influxdb":"a55b858c.e56c98","name":"InfluxDB LHLAX-SENS-S","measurement":"LHLAX-SENS-S","x":1029.8253860473633,"y":402.0530014038086,"wires":[]},{"id":"2b93a04e.f741a","type":"function","z":"9ce9bd52.f92c1","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHS.COOL_SP1;\nvar dif = context.flow.casaria.LHS.SP2_DIF;\nvar mode = context.flow.casaria.LHS.COLOR;\nvar vacant = !context.flow.casaria.LHS.OCCUPIED;\nvar T_RT = context.flow.casaria.LHS.T_RT;\nvar HEAT =!context.flow.casaria.LHS.COOL;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHS.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHS.HEAT_SP;\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg4.payload ={\n    Vacant : vacant,\n};\n\nif (T_RT < (coolsp - 2.5)) {\n    if (temp >= coolsp){\n        msg3.payload = \"GREEN\";\n    }else {\n        msg3.payload = \"WHITE\";\n    }\n} else {\n    msg3.payload = \"WHITE\";\n}\n\ncontext.flow.casaria.LHS.RTS_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp >= (coolsp -0.1))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp >= coolsp-0.1))\n    msg3.payload = \"ORANGE\";\n    \n \nif (temp < context.flow.casaria.LHS.HEAT_N)\n    msg3.payload = \"RED\" ;\n    \n \n   \n//    msg3.payload = \"GREEN\";\ncontext.flow.casaria.LHS.RTS_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHS.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3, msg4];","outputs":"4","noerr":0,"x":1052.2896270751953,"y":545.9816374778748,"wires":[["b469c7da.f6f9d8"],["f7e23a.4bc3edc8"],["37a681e7.47294e"],[]]},{"id":"4a59bffc.321d5","type":"mqtt out","z":"9ce9bd52.f92c1","name":"Publish MQTT LH-S","topic":"LH-S","qos":"1","retain":"true","broker":"4d72ea0e.7e5374","x":724.1585502624512,"y":1043.6125230789185,"wires":[]},{"id":"37a681e7.47294e","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"payload","x":1280.5396308898926,"y":575.7315835952759,"wires":[]},{"id":"df70fbd7.2c0108","type":"delay","z":"9ce9bd52.f92c1","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":181.65866088867188,"y":759.9458465576172,"wires":[["4326b127.34d74"]]},{"id":"b469c7da.f6f9d8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"true","x":1262.5396995544434,"y":498.2315616607666,"wires":[]},{"id":"efadc1f8.cdaf4","type":"ui_slider","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"COOL","topic":"COOL_SP1","group":"Temp Monitor & Control","order":"1","min":"22.5","max":"28.5","x":809.253776550293,"y":1764.8031096458435,"wires":[["81afe70b.f98018","5a4bfe72.88e68","30f2fc04.509e04"]]},{"id":"7131369d.164128","type":"function","z":"9ce9bd52.f92c1","name":"ROOFTOP Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {}; //error to CATER\n\nif ((isNaN (fields[0]) || isNaN(fields[1])) || (Number(fields[0]) <= 0)|| (Number(fields[0] <= 0)) ) \n{\n\nmsg5.payload = {\n    err: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: 99,\n    strValue: \"LHLAX-RT-S\",\n    geohash: context.flow.casaria.LHS.GEOHASH,\n}   \n    \nreturn [msg1,msg2,msg3,msg4,msg5]\n}\n   \nswitch (fields[2]){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-RT-S\",\n    geohash: context.flow.casaria.LHS.GEOHASH,\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4]; //do not return  msg5","outputs":"5","noerr":0,"x":548.3334045410156,"y":115.66665649414062,"wires":[["a07128bc.c54a58","a1acc397.f1a1f","f54ba8c3.caabc8"],["4fd9dabb.f3d554"],["4fd9dabb.f3d554"],["3708ca18.83e7e6"],["70d41026.9d06"]]},{"id":"3249075e.d560f8","type":"ParticleSSE in","z":"9ce9bd52.f92c1","baseurl":"571ad409.c22b7c","evtname":"dsCombi","devid":"LHLAX-RTS-4","x":209.8333740234375,"y":115.16656875610352,"wires":[["7131369d.164128"]]},{"id":"a07128bc.c54a58","type":"influxdb out","z":"9ce9bd52.f92c1","influxdb":"a55b858c.e56c98","name":"InfluxDB LHLAX-RT-S","measurement":"LHLAX-RT-S","x":1014.2501525878906,"y":90.83332800865173,"wires":[]},{"id":"a1acc397.f1a1f","type":"function","z":"9ce9bd52.f92c1","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHS.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":1006.0001525878906,"y":136.3333511352539,"wires":[["82ad089a.4b8468"],[],[]]},{"id":"1d42b03c.22328","type":"openweathermap","z":"9ce9bd52.f92c1","name":"San Clemente","wtype":"forecast","lon":"","lat":"","city":"San Clemente","country":"USA","language":"en","x":498.3251953125,"y":1152.9459043741226,"wires":[["e982dec6.7af03","c22f7b62.c814f8"]]},{"id":"c364f6ef.f50428","type":"ui_gauge","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Actual Temp (3rd Floor)","group":"Temp Monitor & Control","order":"4","format":"{{value}}","min":"10","max":"35","x":1031.5396575927734,"y":485.814902305603,"wires":[]},{"id":"a7242bf9.ca11c8","type":"ui_chart","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Temp","group":"Temp Monitor & Control","order":"9","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":970.2062377929688,"y":599.8148975372314,"wires":[[],[]]},{"id":"5e65fc92.0f7464","type":"ParticleVar","z":"9ce9bd52.f92c1","baseurl":"571ad409.c22b7c","devid":"LHLAX-RTS-4","getvar":"Color","repeat":"60","x":191,"y":237,"wires":[["fe7e0dec.8a198","4cb54a0c.46ccc4"]]},{"id":"81afe70b.f98018","type":"ui_text","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Set point","group":"Temp Monitor & Control","order":"0","format":"{{msg.payload}}","x":1060.6346416473389,"y":1718.0411520004272,"wires":[]},{"id":"84c0c53f.14b418","type":"ui_button_row","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"heat cool and manual auto","topic":"","group":"Temp Monitor & Control","order":"7","toggle":true,"buttons":[{"payload":"google","icon":"schedule","color":"green","on_icon":"google-plus-box","on_color":"orange"},{"payload":"cool","icon":"whatshot","color":"orange","on_icon":"flare","on_color":"blue"},{"payload":"test","icon":"sync","color":"purple","on_icon":"thumb_up","on_color":"red"}],"inputs":1,"x":543.6348075866699,"y":1847.3745276927948,"wires":[["548aa0f6.4049","34677fa2.fa252"]]},{"id":"fe7e0dec.8a198","type":"function","z":"9ce9bd52.f92c1","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-S\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-S\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":464,"y":238,"wires":[["34682e86.dcf992"],[]]},{"id":"34682e86.dcf992","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":615.666690826416,"y":231.6666774749756,"wires":[]},{"id":"5a4bfe72.88e68","type":"function","z":"9ce9bd52.f92c1","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\ncontext.flow.casaria.LHS.COOL_SP1= temp;\nmsg1.payload = context.flow.casaria;\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1107.6346969604492,"y":1755.0411174297333,"wires":[["f5c6429a.77f1f","b6ae207e.36986"]]},{"id":"7da9fc7.7038c04","type":"function","z":"9ce9bd52.f92c1","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles',/* hour12:false,*/ day: 'numeric' }\nvar optionsday = {timeZone:'America/Los_Angeles', weekday: 'short' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar weekday = d.toLocaleDateString(this,optionsday);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nvar \nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg3.payload = Number(datestr);\nmsg4.payload = weekday;\n\nif (!(context.flow.casaria.LHS.GOOGLE)) {\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHS.TEST) {\n    msg1.payload = true;\n    return [msg1, msg2, msg3];\n}\n\n\nif (context.flow.casaria.LHS.GOOGLE) {\n     msg1.payload=true;\n    return [msg1, msg2, msg3];\n}\n\n\n\n\n\n\nif ((time_now < \"21:00\") & (time_now > \"06:00\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\n//night mode on Saturday and Sunday\nif ((msg4.payload == \"Sat\") | (msg4.payload == \"Sun\")) {\n    msg1.payload = true;\n}\n   //context.flow.casaria.LHS.MODE_NORM = msg1.payload; \n    context.flow.casaria.LHS.OCCUPIED = msg1.payload; \n\n    return [msg1,msg2, msg3, msg4];\n}\n","outputs":"4","noerr":0,"x":996.0813140869141,"y":297.64828872680664,"wires":[["48c5733a.f5c21c","7d8faee9.5dd6c","65a32e97.0811"],["109af48f.ec770b"],["29590946.770c36","8c85a403.573fc8","1d724f8d.75052"],["d21c13b.d90cdf"]]},{"id":"48c5733a.f5c21c","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"true","complete":"payload","x":1290.8730125427246,"y":142.23154067993164,"wires":[]},{"id":"32ed15e3.af281a","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.63480377197266,"y":1281.3744163513184,"wires":[["f4bd8aa7.e42588"]]},{"id":"f4bd8aa7.e42588","type":"function","z":"9ce9bd52.f92c1","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":410.63480377197266,"y":1281.3744163513184,"wires":[["f1d3a157.c31a9"]]},{"id":"f1d3a157.c31a9","type":"debug","z":"9ce9bd52.f92c1","name":"show","active":true,"console":"false","complete":"payload","x":690.634822845459,"y":1348.0410261154175,"wires":[]},{"id":"2e203f60.62613","type":"inject","z":"9ce9bd52.f92c1","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.63480377197266,"y":1321.3744163513184,"wires":[["571939d.36e24c8"]]},{"id":"46582abb.e3dc34","type":"function","z":"9ce9bd52.f92c1","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":421.63480377197266,"y":1361.3744163513184,"wires":[["f1d3a157.c31a9"]]},{"id":"a1f0971a.22c528","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.63480377197266,"y":1361.3744163513184,"wires":[["46582abb.e3dc34"]]},{"id":"571939d.36e24c8","type":"function","z":"9ce9bd52.f92c1","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":381.2062454223633,"y":1322.2315464019775,"wires":[["f1d3a157.c31a9"]]},{"id":"1a844c64.b6dfe4","type":"function","z":"9ce9bd52.f92c1","name":"context.flow","func":"var msg1 ={}, msg2={}, msg3={};\n\n//msg1.payload = casaria;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHS.COOL_SP1;\nmsg2.payload = msg.payload.LHS.SMART;\n\nmsg3.payload={\n    google: msg.payload.LHS.GOOGLE,\n    cool: msg.payload.LHS.COOL,\n    test: msg.payload.LHS.TEST,\n};\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":584.218147277832,"y":1777.5411643981934,"wires":[["efadc1f8.cdaf4"],["d9f5db70.5e67b8"],["84c0c53f.14b418"]]},{"id":"82ad089a.4b8468","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"false","complete":"false","x":1287.3334331512451,"y":29.666694402694702,"wires":[]},{"id":"775dd9a3.95a678","type":"ui_gauge","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Actual Humidity (3rd Floor)","group":"Temp Monitor & Control","order":"5","format":"{{value}}","min":"10","max":"100","x":1036.872947692871,"y":641.4815864562988,"wires":[]},{"id":"435fa55f.10129c","type":"mqtt out","z":"9ce9bd52.f92c1","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"1","retain":"true","broker":"4d72ea0e.7e5374","x":1433.634937286377,"y":1416.7076091766357,"wires":[]},{"id":"f5c6429a.77f1f","type":"json","z":"9ce9bd52.f92c1","name":"","x":921.3015213012695,"y":1475.7075004577637,"wires":[["8c26fc96.d5d1f","a440458d.b236e8"]]},{"id":"d588e63f.23d038","type":"json","z":"9ce9bd52.f92c1","name":"","x":413.96817779541016,"y":1776.7911643981934,"wires":[["1a844c64.b6dfe4","d8848fc5.422c8"]]},{"id":"f46dcdf.161cd3","type":"mqtt in","z":"9ce9bd52.f92c1","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"0","broker":"4d72ea0e.7e5374","x":122.95619201660156,"y":1731.9220218658447,"wires":[["90716832.6aed98"]]},{"id":"109af48f.ec770b","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"payload","x":1290.8730125427246,"y":182.23154067993164,"wires":[]},{"id":"48ec1d73.9809a4","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"payload","x":991.4444808959961,"y":445.29108142852783,"wires":[]},{"id":"d8848fc5.422c8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"true","complete":"payload","x":591.0893249511719,"y":1728.7379703521729,"wires":[]},{"id":"7d8faee9.5dd6c","type":"function","z":"9ce9bd52.f92c1","name":"on / off select color","func":"\n  if (msg.payload) {\n      context.flow.casaria.LHS.COLOR =  context.flow.casaria.LHS.RTS_ON_COLOR;\n    \n    }\n    else {\n      context.flow.casaria.LHS.COLOR = context.flow.casaria.LHS.RTS_OFF_COLOR;\n    }\n   msg.payload = context.flow.casaria.LHS.COLOR;\n   return msg;\n\n","outputs":1,"noerr":0,"x":1304.5396537780762,"y":105.48154258728027,"wires":[["df70fbd7.2c0108"]]},{"id":"4fd9dabb.f3d554","type":"ui_chart","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Roof top 2","group":"Temp Monitor & Control","order":"12","interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":984.6668090820312,"y":183.33335185050964,"wires":[[],[]]},{"id":"e40e809c.9e22f","type":"ui_radio_button","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Occupied","topic":"","group":"Temp Monitor & Control","order":"5","buttons":[{"label":"Occupied","payload":"on"},{"label":"Vacated","payload":"off"}],"x":1533.5397033691406,"y":67.89821815490723,"wires":[[]]},{"id":"29590946.770c36","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"payload","x":1290.8730125427246,"y":222.23154067993164,"wires":[]},{"id":"4cb54a0c.46ccc4","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":471.99999618530273,"y":282.00000286102295,"wires":[]},{"id":"3708ca18.83e7e6","type":"ui_text","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"System Mode Color","group":"Temp Monitor & Control","order":"8","format":"{{msg.payload}}","x":1011.6667442321777,"y":223.66668128967285,"wires":[]},{"id":"e1128beb.71eb58","type":"function","z":"9ce9bd52.f92c1","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"PURPLE\";\nelse \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"BLUE\";\n    \n//IF SETPOINT NOT REACHED:\n\nreturn msg;","outputs":1,"noerr":0,"x":1580.2064514160156,"y":260.1483039855957,"wires":[["6a83f876.285b08"]]},{"id":"6a83f876.285b08","type":"function","z":"9ce9bd52.f92c1","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":725.6348419189453,"y":1480.7077407836914,"wires":[["f5c6429a.77f1f"]]},{"id":"8c85a403.573fc8","type":"rbe","z":"9ce9bd52.f92c1","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1262.5396690368652,"y":260.5649013519287,"wires":[["e1128beb.71eb58","48715a8f.20c804"]]},{"id":"f7e23a.4bc3edc8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"payload","x":1280.5396614074707,"y":536.8982543945312,"wires":[]},{"id":"d2f5d5e.72d8d28","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":474.96833419799805,"y":426.0107777118683,"wires":[]},{"id":"a3009c20.a1a1d","type":"function","z":"9ce9bd52.f92c1","name":"Parse Calendar TEMP/Vacancy","func":"if (context.flow.casaria.LHS.GOOGLE) {\n    \n    \nvar msg1={}, msg2= {};\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nvar vacancy = fields[2];\n\n\n\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\n\ncontext.flow.casaria.LHS.GOOGLE_SP;\nreturn [msg];\n}","outputs":"2","noerr":0,"x":535.6350250244141,"y":383.0108757019043,"wires":[["e7ad4ee2.54d37"],[]]},{"id":"e7ad4ee2.54d37","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"false","complete":"true","x":730.6352500915527,"y":376.34420585632324,"wires":[]},{"id":"e982dec6.7af03","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":698.4918899536133,"y":1153.6126117706299,"wires":[]},{"id":"2d0b455b.5f621a","type":"comment","z":"9ce9bd52.f92c1","name":"Room Sensor Data processing","info":"","x":216.14291763305664,"y":572.6665465831757,"wires":[]},{"id":"48715a8f.20c804","type":"ui_template","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"","group":"Temp Monitor & Control","order":"16","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1530.8730773925781,"y":304.56489181518555,"wires":[[]]},{"id":"6341ff89.19e63","type":"inject","z":"9ce9bd52.f92c1","name":"Simulate Even day ","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":1324.8731079101562,"y":419.5648994445801,"wires":[["48715a8f.20c804"]]},{"id":"da25f47a.122788","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"payload","x":691.0474433898926,"y":759.8347415924072,"wires":[]},{"id":"16aa6b3b.6ec885","type":"inject","z":"9ce9bd52.f92c1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146.6347885131836,"y":1848.0411221981049,"wires":[["e43e6a51.cd5e68"]]},{"id":"e43e6a51.cd5e68","type":"function","z":"9ce9bd52.f92c1","name":"Switch Defaults","func":"var msg;\nmsg.payload={\n    google: false,\n    cool: true,\n    test: false,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":312.30145263671875,"y":1847.0411176681519,"wires":[["84c0c53f.14b418"]]},{"id":"548aa0f6.4049","type":"function","z":"9ce9bd52.f92c1","name":"Switch Update","func":"var msg1, \nmsg1 ={};\ncontext.flow.casaria.LHS.TEST = msg.payload.test;\ncontext.flow.casaria.LHS.COOL = msg.payload.cool;\ncontext.flow.casaria.LHS.GOOGLE = msg.payload.google;\nif (context.flow.casaria.LHS.GOOGLE) {\n    context.flow.casaria.LHS.OCCUPIED = true;\n    context.flow.casaria.LHS.COOPL_SP1 = context.flow.casaria.LHS.GOOGLE_SP;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":843.968147277832,"y":1728.7078609466553,"wires":[["6a83f876.285b08"]]},{"id":"16ad7436.985fec","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"payload","x":693.214168548584,"y":922.8070621490479,"wires":[]},{"id":"364ab8ea.1e7b28","type":"function","z":"9ce9bd52.f92c1","name":"TEST True","func":"if (context.flow.casaria.LHS.TEST) {\n return msg;\n}\nelse {}","outputs":1,"noerr":0,"x":489.4918785095215,"y":1043.6125631332397,"wires":[["4a59bffc.321d5","16ad7436.985fec"]]},{"id":"4326b127.34d74","type":"function","z":"9ce9bd52.f92c1","name":"TEST False","func":"\nif (!context.flow.casaria.LHS.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":475.000057220459,"y":759.0000743865967,"wires":[["4a59bffc.321d5","da25f47a.122788"]]},{"id":"978aad55.b2317","type":"json","z":"9ce9bd52.f92c1","name":"","x":453.634952545166,"y":467.677446603775,"wires":[["694a09a9.36e078"]]},{"id":"694a09a9.36e078","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":595.6349849700928,"y":468.01078057289124,"wires":[]},{"id":"aea6c5c3.3ff758","type":"rbe","z":"9ce9bd52.f92c1","name":"","func":"rbe","gap":"","start":"","inout":"out","x":125.57907485961914,"y":1781.951400756836,"wires":[["37d49771.253c78"]]},{"id":"1d724f8d.75052","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"payload","x":1291.8730278015137,"y":296.5648765563965,"wires":[]},{"id":"d21c13b.d90cdf","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"payload","x":1290.8730278015137,"y":329.5648765563965,"wires":[]},{"id":"8c26fc96.d5d1f","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":1078.301601409912,"y":1475.041103363037,"wires":[]},{"id":"b6ae207e.36986","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"false","x":1369.3849029541016,"y":1752.7911548614502,"wires":[]},{"id":"20708ddf.7926d2","type":"inject","z":"9ce9bd52.f92c1","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.63481903076172,"y":1435.7077522277832,"wires":[["e544f79a.7c7038"]]},{"id":"e544f79a.7c7038","type":"function","z":"9ce9bd52.f92c1","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":391.6348190307617,"y":1435.7077522277832,"wires":[["f1d3a157.c31a9"]]},{"id":"4fdeab4.f6ea854","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.63481903076172,"y":1483.7077522277832,"wires":[["a3649891.577048"]]},{"id":"65a32e97.0811","type":"function","z":"9ce9bd52.f92c1","name":"true->on","func":"if (msg.payload) {\n  msg.payload=\"on\"\n}  \nif (msg.payload === false){\n  msg.payload=\"off\";\n}  \nif (msg.payload === null)\n   return;\n   \nreturn msg;","outputs":1,"noerr":0,"x":1275.8730239868164,"y":66.89819145202637,"wires":[["e40e809c.9e22f"]]},{"id":"d9f5db70.5e67b8","type":"ui_switch","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Smart & Healthy & Save","topic":"","group":"Temp Monitor & Control","order":"10","onvalue":"On","offvalue":"Off","x":874.6347122192383,"y":1799.3744087219238,"wires":[["b8c62582.a58f68"]]},{"id":"b8c62582.a58f68","type":"function","z":"9ce9bd52.f92c1","name":"update defaults + temp","func":"var mst1;\nmsg1 ={};\n   \ncontext.flow.casaria.LHS.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":1106.63472366333,"y":1791.3743200302124,"wires":[["f5c6429a.77f1f"]]},{"id":"a440458d.b236e8","type":"rbe","z":"9ce9bd52.f92c1","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1058.301284790039,"y":1416.7078533172607,"wires":[["26947daa.e59c22"]]},{"id":"90716832.6aed98","type":"delay","z":"9ce9bd52.f92c1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":355.0514602661133,"y":1731.7077884674072,"wires":[["aea6c5c3.3ff758"]]},{"id":"26947daa.e59c22","type":"delay","z":"9ce9bd52.f92c1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1213.1348457336426,"y":1416.3744387626648,"wires":[["435fa55f.10129c"]]},{"id":"fe20f477.2c8d98","type":"comment","z":"9ce9bd52.f92c1","name":"LUFTHANSA CARGO LAX 3rd Floor HVAC control","info":"Read Rooftop sensor data\nRead back current \"color\" mode on HVAC unit","x":268.41673278808594,"y":30.25,"wires":[]},{"id":"b1084635.78b548","type":"comment","z":"9ce9bd52.f92c1","name":"Default Data Tools (Debug only)","info":"","x":222.76191329956055,"y":1243.1427781581879,"wires":[]},{"id":"3f540131.e3271e","type":"comment","z":"9ce9bd52.f92c1","name":"READ current parameters from MQTT server","info":"","x":196.42855834960938,"y":1695.1429443359375,"wires":[]},{"id":"7e22915.243937","type":"comment","z":"9ce9bd52.f92c1","name":"Write Parameters to MQTT (allowing stateless operation)","info":"","x":1227.4286193847656,"y":1325.142879486084,"wires":[]},{"id":"1986bb24.540cb5","type":"comment","z":"9ce9bd52.f92c1","name":"Publish the desired ROOFTOP  UNIT  MODE request","info":"","x":814.4286041259766,"y":1005.4286887645721,"wires":[]},{"id":"3c3fa416.2a832c","type":"comment","z":"9ce9bd52.f92c1","name":"Weather Forecast - Taken into account in SMART preconditioning","info":"","x":650.1429138183594,"y":1191.5716552734375,"wires":[]},{"id":"f396755b.dcb6a8","type":"mqtt out","z":"9ce9bd52.f92c1","name":"","topic":"CATER LHS","qos":"1","retain":"false","broker":"4d72ea0e.7e5374","x":1280.349365234375,"y":683.946044921875,"wires":[]},{"id":"cfcbd24d.6820c","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":452.4206962585449,"y":683.2674016952515,"wires":[["801eecdb.cb2bf"]]},{"id":"32ee62eb.6fadbe","type":"inject","z":"9ce9bd52.f92c1","name":"Simulate ODD day","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1325.4790153503418,"y":384.5042419433594,"wires":[["48715a8f.20c804"]]},{"id":"5d13a3cb.32413c","type":"comment","z":"9ce9bd52.f92c1","name":"To achieve the best possible physiological climate ROOFTOP meassured humidity/temp is used to determine dewpoint and calculate the relative humidity in conditioned room","info":"To achieve the best possible physiological climate ROOFTOP meassured humidity/temp is used to determine dewpoint and calculate the relative humidity in conditioned room","x":990.2727508544922,"y":1241.0909595489502,"wires":[]},{"id":"723e41f1.a1c76","type":"comment","z":"9ce9bd52.f92c1","name":"Rof top Sensor Data processing","info":"","x":212.27272033691406,"y":77.27275288105011,"wires":[]},{"id":"44c069de.ac6248","type":"comment","z":"9ce9bd52.f92c1","name":"NOT Used : Optional timed inquiry (pull) of Room Sensor Data processing","info":"","x":339.27272033691406,"y":195.27272033691406,"wires":[]},{"id":"7a148bae.a58084","type":"comment","z":"9ce9bd52.f92c1","name":"Trigger  CATER \"Casaria Automated Technician Emergency Response\"","info":"","x":1461.9396057128906,"y":647.1126823425293,"wires":[]},{"id":"2558a5e0.fba53a","type":"comment","z":"9ce9bd52.f92c1","name":"IF  GOOGLE is activated (temperature setpoint  and vacancy is controlled by a dedicated google calendar","info":"","x":427.27296447753906,"y":339.2727699279785,"wires":[]},{"id":"8bd329f1.5f2768","type":"comment","z":"9ce9bd52.f92c1","name":"Publish the desired  rppftop \"color\" mode for this ZONE","info":"","x":282.272705078125,"y":807.272705078125,"wires":[]},{"id":"8f85aad7.8f3208","type":"function","z":"9ce9bd52.f92c1","name":"Set vars example","func":"context.flow.casaria.LHS.SP2_DIF=0.1;\n\n","outputs":1,"noerr":0,"x":422.2857246398926,"y":1520.5714378356934,"wires":[["6a83f876.285b08"]]},{"id":"2366c66d.9b547a","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.5714340209961,"y":1527.1428833007812,"wires":[["8f85aad7.8f3208"]]},{"id":"f54ba8c3.caabc8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"false","complete":"true","x":791.6666259765625,"y":65,"wires":[]},{"id":"37d49771.253c78","type":"trigger","z":"9ce9bd52.f92c1","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","name":"One shot","x":273.3068161010742,"y":1779.0226974487305,"wires":[["d588e63f.23d038"]]},{"id":"ceedf06a.4b124","type":"geohash","z":"9ce9bd52.f92c1","name":"","x":392.5,"y":1569,"wires":[["5d3a9bae.ddd344","bbb1326f.d70af"]]},{"id":"e0147265.65295","type":"inject","z":"9ce9bd52.f92c1","name":"CREATE ALL DEFAULTS","topic":"","payload":"33.933069,-118.385154","payloadType":"str","repeat":"","crontab":"","once":true,"x":197.5,"y":1570,"wires":[["ceedf06a.4b124","a3649891.577048"]]},{"id":"5d3a9bae.ddd344","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"true","complete":"payload","x":630.3333358764648,"y":1529.3335037231445,"wires":[]},{"id":"bbb1326f.d70af","type":"function","z":"9ce9bd52.f92c1","name":"","func":"context.flow.casaria.LHS.GEOHASH= msg.payload;\nreturn;\n","outputs":1,"noerr":0,"x":601.5,"y":1568,"wires":[["6a83f876.285b08"]]},{"id":"94edb066.1e957","type":"json","z":"9ce9bd52.f92c1","name":"","x":1110,"y":684,"wires":[["f396755b.dcb6a8","1afe469.e13deb9"]]},{"id":"70d41026.9d06","type":"function","z":"9ce9bd52.f92c1","name":"","func":"if (typeof msg != \"undefined\") {\nmsg.payload.short = msg.payload.strValue + \" Sensor error at Location: \"+ msg.payload.geohash;\nmsg.payload.tkt = msg.payload.err;\nmsg.payload.desc= \"err date:\"+ msg.payload.err + \" Ambient:\" + msg.payload.Ambient +\n \" Humidity:\"+ msg.payload.Humidity +\" Color:\"+ msg.payload.Color;\nmsg.payload.notes = \"some notes\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":967.5,"y":684,"wires":[["94edb066.1e957"]]},{"id":"e371a891.e358f8","type":"freeboard","z":"9ce9bd52.f92c1","name":"LH-S","x":968.9446029663086,"y":366.73435401916504,"wires":[]},{"id":"1afe469.e13deb9","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"payload","x":1298,"y":734,"wires":[]},{"id":"801eecdb.cb2bf","type":"function","z":"9ce9bd52.f92c1","name":"","func":"\nvar msg;\nmsg={};\nmsg.payload={strValue : 'sensor data RT-S4',\nerr:'1022 ticket open request',\nnotes : 'notes',\nhumidity : 27.3,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610.5000228881836,"y":683.2500231266022,"wires":[["70d41026.9d06"]]},{"id":"d1b33b56.bed678","type":"smooth","z":"9ce9bd52.f92c1","name":"mean error","action":"mean","count":"4","round":"2","mult":"single","x":1290.9551239013672,"y":888.6263103485107,"wires":[["29f12281.fbe4ce","42f222c6.fc60dc"]]},{"id":"b93724ef.d32e98","type":"function","z":"9ce9bd52.f92c1","name":"","func":"var msg1;\nvar rt_temp;\nvar room_temp;\nvar err_temp;\n\n//rt_temp = context.flow.casaria.LHS.T_RT;\nroom_temp = msg.payload;\nerr_temp = room_temp  - context.flow.casaria.LHS.COOL_SP1;\n\nmsg1 ={};\nmsg1 = {\n    topic: \"Temp\",\n    payload: Number (err_temp),\n}\nreturn msg1;","outputs":1,"noerr":0,"x":983.0467071533203,"y":892.6807556152344,"wires":[["d1b33b56.bed678"]]},{"id":"29f12281.fbe4ce","type":"debug","z":"9ce9bd52.f92c1","name":"","active":false,"console":"true","complete":"true","x":1489.6100120544434,"y":889.1887130737305,"wires":[]},{"id":"42f222c6.fc60dc","type":"ui_chart","z":"9ce9bd52.f92c1","tab":"96093647.b9cab8","name":"Setpoint diufferential","group":"Temp Monitor & Control","order":"10","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":1533.6753234863281,"y":966.3985061645508,"wires":[[],[]]},{"id":"ef9a9875.c3ab58","type":"google calendar in","z":"9ce9bd52.f92c1","google":"dcce8767.bcf7e8","name":"Google Calendar HVAC","calendar":"LH-LAX-S","offsetType":"at","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":172,"y":436,"wires":[["a3009c20.a1a1d","d2f5d5e.72d8d28","978aad55.b2317"]]},{"id":"8f9bc72b.19d478","type":"mqtt out","z":"2ee08bfe.a2cfb4","name":"","topic":"CATER LHS","qos":"1","retain":"false","broker":"5665f5ce.ee633c","x":725.349365234375,"y":276.946044921875,"wires":[]},{"id":"12e9431b.9aa06d","type":"function","z":"515a5582.bb8e1c","name":"update defaults + temp","func":"var temp;\n\nvar msg1;\nmsg1 = {};\ncontext.flow.casaria.LHS.COOL_SP1 = context.flow.casaria.LHN.GOOGLE_SP;\ncontext.flow.casaria.LHN.OCCUPIED=msg.payload;\ncontext.flow.casaria.LHN.TEST = false;\n\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":955.0000305175781,"y":387.00001335144043,"wires":[["ebba5a47.6fb9c8"]]},{"id":"a3649891.577048","type":"function","z":"9ce9bd52.f92c1","name":"Set vars example","func":"var LHS ={};\nvar COOL_SP1, COOL_SP2;\n\n\nvar cas= {\n\nLHS: {\n    COOL_SP1: 24,\n    COOL_SP2: 25.5,\n    SP2_DIF: .1,\n    HEAT_SP: 22,\n    COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    RTS_ON_COLOR:\"\",\n    RTS_OFF_COLOR:\"\",\n    //MODE_NORM: \"\",\n    //MODE_COOL_HEAT: \"HEAT\",\n    //TEST_MODE: false,  \n    GOOGLE : false,\n    COOL : true,\n    TEST : true,\n    SMART : true,\n    COOL_STAGE_COLOR: \"BLUE\",\n    GEOHASH: \"\",\n    GOOGLE_SP: 25.5,\n}\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":423.0276336669922,"y":1483.9683060646057,"wires":[["6a83f876.285b08"]]},{"id":"2de58795.5860a8","type":"influxdb out","z":"9ce9bd52.f92c1","influxdb":"a55b858c.e56c98","name":"InfluxDB LHLAX-STATUS-S","measurement":"LHLAX-STATUS-S","x":1044.2500305175781,"y":727.500020980835,"wires":[]},{"id":"ba3b8532.bb34b8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"false","complete":"payload","x":809.5,"y":252.5,"wires":[]},{"id":"30f2fc04.509e04","type":"freeboard","z":"9ce9bd52.f92c1","name":"SLIDER233","x":1071.438720703125,"y":1675.982177734375,"wires":[]},{"id":"d96a6f91.58f78","type":"delay","z":"9ce9bd52.f92c1","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":412.060977935791,"y":1398.5610065460205,"wires":[["6a83f876.285b08"]]},{"id":"8956cf27.49211","type":"inject","z":"9ce9bd52.f92c1","name":"OnStart (once)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":241.05918884277344,"y":1398.6249713897705,"wires":[["d96a6f91.58f78"]]},{"id":"bd0f3d13.d32ac","type":"rbe","z":"515a5582.bb8e1c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":864.3750114440918,"y":140.50000286102295,"wires":[["bc7b18ee.33b5b8"]]},{"id":"34677fa2.fa252","type":"rbe","z":"9ce9bd52.f92c1","name":"","func":"rbe","gap":"","start":"","inout":"out","x":752.1250114440918,"y":1846.0000276565552,"wires":[["24c0287c.5c0f48"]]},{"id":"24c0287c.5c0f48","type":"function","z":"9ce9bd52.f92c1","name":"","func":"var msg1, msg2;\nmsg1 ={};\nmsg2 ={};\nmsg3 ={};\ncontext.flow.casaria.LHS.TEST = msg.payload.test;\ncontext.flow.casaria.LHS.COOL = msg.payload.cool;\ncontext.flow.casaria.LHS.GOOGLE = msg.payload.google;\n\n\nif (context.flow.casaria.LHS.GOOGLE) {\n    context.flow.casaria.LHS.COOL_SP1 = context.flow.casaria.LHS.GOOGLE_SP;\n    context.flow.casaria.LHS.TEST = false;\n    msg1 = { payload :\"on\"};\n    msg2 = { payload : context.flow.casaria.LHS.GOOGLE_SP};\n    msg3.payload = {\n            google: context.flow.casaria.LHS.GOOGLE,\n            cool: context.flow.casaria.LHS.COOL,\n            test: false,   \n    }\n    \n}\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":927.833324432373,"y":1846.3889446258545,"wires":[["e40e809c.9e22f"],["81afe70b.f98018"],["84c0c53f.14b418"]]},{"id":"1ec1dffe.683dd","type":"http request","z":"22b58a34.405f26","name":"","method":"GET","ret":"txt","url":"http://io.ekmpush.com/readMeter?meters=300000250&ver=v4&key=NjUyMTkxMDE6aFVZTWRPUDk&fmt=json&cnt=1","tls":"","x":494.8571319580078,"y":282.9285774230957,"wires":[["a6d3bc24.8b0ad"]]},{"id":"eade1665.4b3e18","type":"inject","z":"22b58a34.405f26","name":"Every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":285.2857131958008,"y":284.21429443359375,"wires":[["1ec1dffe.683dd"]]},{"id":"9cb1679d.6754c8","type":"influxdb out","z":"22b58a34.405f26","influxdb":"5ae7cc9d.a04ac4","name":"Store in InfluxDB as EKM4","measurement":"EKM4","x":978.2279815673828,"y":358.16852378845215,"wires":[]},{"id":"dfa6168c.2f4098","type":"function","z":"22b58a34.405f26","name":"Extract Set an data Objects -> stringify","func":"\nvar rs;\nrs={};\n\nrs.payload = msg.payload.readMeter.ReadSet[0].ReadData[0];\nJSON.stringify(rs, null, 4);\n//JSON.parse(rs);\n\n\n\nreturn rs;\n","outputs":"1","noerr":0,"x":364.72410583496094,"y":360.0039234161377,"wires":[["e9f3168f.de47e8"]]},{"id":"74026d3.1ac9394","type":"debug","z":"515a5582.bb8e1c","name":"","active":true,"console":"false","complete":"false","x":1204,"y":707.5,"wires":[]},{"id":"a6d3bc24.8b0ad","type":"json","z":"22b58a34.405f26","name":"","x":642.1428680419922,"y":283.3571548461914,"wires":[["dfa6168c.2f4098"]]},{"id":"e9f3168f.de47e8","type":"function","z":"22b58a34.405f26","name":"Assign timestamp correctly","func":"\nvar ts;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    val  = parseInt (msg.payload[key], 10);\n    msg.payload[key]= val;\n    if (key === \"Time_Stamp_UTC_ms\") {\n        \n            Object.defineProperty(msg.payload, 'time',\n        Object.getOwnPropertyDescriptor(msg.payload, 'Time_Stamp_UTC_ms'));\n    delete msg.payload['Time_Stamp_UTC_ms'];\n\n        ts = val;\n    }\n  }\n}\n//rs.payload[\"Time\"].time = ts;\ndelete msg.payload['Time'];\nreturn msg;\n ","outputs":"1","noerr":0,"x":668.1428375244141,"y":360.2856788635254,"wires":[["df641175.f33a1","9cb1679d.6754c8"]]},{"id":"df641175.f33a1","type":"debug","z":"22b58a34.405f26","name":"","active":true,"console":"false","complete":"payload","x":926.9999847412109,"y":395.5714416503906,"wires":[]},{"id":"f39c58e5.350318","type":"function","z":"9ce9bd52.f92c1","name":"SeT COOL_STAGE_COLOR = \"BLUE\"","func":"context.flow.casaria.LHS.COOL_STAGE_COLOR = \"BLUE\";\n\n","outputs":1,"noerr":0,"x":389.00000762939453,"y":1610.9999389648438,"wires":[["6a83f876.285b08"]]},{"id":"a4590b0a.b513d8","type":"inject","z":"9ce9bd52.f92c1","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":1612.428466796875,"wires":[["f39c58e5.350318"]]},{"id":"c22f7b62.c814f8","type":"function","z":"9ce9bd52.f92c1","name":"NEXT DAY Temp Forecast","func":"var ndTemp;\nvar msg1= {};\n\nndTemp = msg.payload[1].temp;\n\nmsg1.payload = {\n        humidity :  msg.payload[1].humidity,\n        tempmax: ndTemp.max,\n        temp: ndTemp,\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":752.6666666666666,"y":1113.6666666666667,"wires":[["5754e62a.39dbd8"]]},{"id":"5754e62a.39dbd8","type":"debug","z":"9ce9bd52.f92c1","name":"","active":true,"console":"false","complete":"false","x":998.8888740539551,"y":1113.8889064788818,"wires":[]},{"id":"3704a7ed.a8c2d8","type":"openweathermap","z":"9ce9bd52.f92c1","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","language":"en","x":490.5555419921875,"y":1108.8887939453125,"wires":[["c22f7b62.c814f8","e982dec6.7af03"]]},{"id":"769b9ba3.f266a4","type":"inject","z":"9ce9bd52.f92c1","name":"fetch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.3333282470703,"y":1153.333251953125,"wires":[["1d42b03c.22328"]]},{"id":"4bcc5706.2ba858","type":"function","z":"515a5582.bb8e1c","name":"Set vars example","func":"context.flow.casaria.LHN.LIMP_MODE = msg.payload;\nreturn;","outputs":1,"noerr":0,"x":371.4285583496094,"y":1874.2857522964478,"wires":[["5ab1d25.73a8d2c"]]},{"id":"98ea1bf8.331c18","type":"inject","z":"515a5582.bb8e1c","name":"LIMP_MODE true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":158.5714225769043,"y":1875.7143249511719,"wires":[["4bcc5706.2ba858"]]},{"id":"b8c1e601.be6de8","type":"function","z":"515a5582.bb8e1c","name":"Set vars example","func":"context.flow.casaria.LHN.LIMP_MODE =msg.payload;","outputs":1,"noerr":0,"x":372.8571472167969,"y":1921.4285888671875,"wires":[["5ab1d25.73a8d2c"]]},{"id":"8260426f.e71a8","type":"inject","z":"515a5582.bb8e1c","name":"LIMP_MODE false","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":168.14286422729492,"y":1915.9999694824219,"wires":[["b8c1e601.be6de8"]]},{"id":"5e7a9896.017b18","type":"function","z":"3411639a.1c75bc","name":"","func":"var coolsp = msg.payload.COOL_SP1;\nvar dif = msg.payload.SP2_DIF;\nvar mode = msg.payload.COLOR;\nvar vacant = msg.payload.OCCUPIED;\nvar HEAT = msg.payload.HEAT;\nvar COOL_STAGE_COLOR = msg.payload.COOL_STAGE_COLOR;\nvar heat_sp = msg.payload.HEAT_SP;\nvar temp = msg.payload.T_RT; \n\nvar msg1, msg2;\nmsg1  ={};\nmsg2 = {};\nmsg1.payload = \"NO LIMP\";\n\nif (!msg.payload.LIMP_MODE) return;\nif (temp < (coolsp - 3.50)) {\n    msg1.payload = \"GREEN\";\n} else {\n    msg1.payload = \"WHITE\";\n}\nif (temp < coolsp - 0.3) {\n    msg1.payload = \"GREEN\";\n} \n\n\nif ((mode != HEAT) & (temp > (coolsp - 0.1))) \n   msg1.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg1.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-0.1))\n    msg1.payload = \"ORANGE\";\n    \nmsg1.payload = \"GREEN\";\n\n\n//    msg3.payload = \"GREEN\";\nmsg2.payload = msg.payload;\nmsg2.payload.RTN_ON_COLOR = msg1.payload;\nmsg2.payload.RTN_OFF_COLOR = \"GREEN\";\nmsg2.payload.COLOR = msg1.payload;\n\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":179,"y":61,"wires":[[],[]]},{"id":"3d3c4ece.aa6862","type":"inject","z":"515a5582.bb8e1c","name":"EVERY Minute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"x":155,"y":1122.5457305908203,"wires":[["dbc49a53.ea3238"]]},{"id":"f465339a.458ac","type":"subflow:3411639a.1c75bc","z":"515a5582.bb8e1c","name":"","x":403.18182373046875,"y":1121.5002098083496,"wires":[["9208b1ab.da7c2","97ff660d.947698","20ed6f3f.9b195"],["b212b24a.f6b38","1b2af088.57b70f"]]},{"id":"dbc49a53.ea3238","type":"function","z":"515a5582.bb8e1c","name":"","func":"var msg;\nmsg.payload = {};\n\n //   for (var attr in (context.flow.casaria.LHN)) {\n //       if (context.flow.casaria.LHN.hasOwnProperty(attr)) {\n //          msg.payload[attr] = context.flow.casaria.LHN[attr];\n //       }\n //   }\nmsg.payload = context.flow.casaria.LHN;\n    \n//msg.payload =\"test\"\n return msg; \n\n\n\n","outputs":1,"noerr":0,"x":165.51519775390625,"y":1170.6669359207153,"wires":[["781528b9.2037b8","f465339a.458ac"]]},{"id":"9208b1ab.da7c2","type":"debug","z":"515a5582.bb8e1c","name":"","active":true,"console":"false","complete":"false","x":622.1818237304688,"y":1115.5002098083496,"wires":[]},{"id":"781528b9.2037b8","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"true","x":351.0000228881836,"y":1169.3637199401855,"wires":[]},{"id":"d8f49d91.d212f","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"true","complete":"payload","x":650.272705078125,"y":204.6363525390625,"wires":[]},{"id":"b212b24a.f6b38","type":"debug","z":"515a5582.bb8e1c","name":"","active":false,"console":"false","complete":"false","x":623.0725708007812,"y":1158.3359031677246,"wires":[]},{"id":"cb79af56.34f95","type":"function","z":"80357174.edeb2","name":"context.flow.casaria => payload","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria.LHN;\n\nreturn msg1;","outputs":1,"noerr":0,"x":242.53098921342328,"y":83.84426463734019,"wires":[[]]},{"id":"1b2af088.57b70f","type":"function","z":"515a5582.bb8e1c","name":"Update Context LHN","func":"if (msg.payload !== null)\n        context.flow.casaria.LHN = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":655.8818435668945,"y":1205.8002860993147,"wires":[["5ab1d25.73a8d2c"]]},{"id":"2dbcd62b.e9e90a","type":"inject","z":"515a5582.bb8e1c","name":"Geohash update","topic":"","payload":"33.933069,-118.385154","payloadType":"str","repeat":"","crontab":"","once":true,"x":168,"y":1960,"wires":[["1667364e.30d3fa"]]},{"id":"5ab1d25.73a8d2c","type":"function","z":"515a5582.bb8e1c","name":"Context LHN => Pay.load","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria.LHN;\n\nreturn msg1;","outputs":1,"noerr":0,"x":764.8571128845215,"y":1727.4285697937012,"wires":[["a3a3b26c.a4e7d"]]},{"id":"20ed6f3f.9b195","type":"ui_template","z":"515a5582.bb8e1c","tab":"f3ebb186.fa9ad","name":"","group":"Temp Monitor & Control","order":"19","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>{{(msg.payload === '')  ?  '--' :'LIMP MODE ACTIVE'}}</p>\n    <p ng-style=\"{{color: (msg.payload === 'ORANGE' ? 'orange' : 'blue'}}\">\n        {{msg.payload}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":613.3333129882812,"y":1254.6666259765625,"wires":[[]]}]