.flows_anewday.json.backup
[{"type":"tab","id":"72aaaf59.ec05b","label":"Casaria Cloud Control"},{"type":"tab","id":"6c22036.f93ddfc","label":"Development system"},{"type":"tab","id":"3796f9a.4258e06","label":"HUE Light Automation"},{"type":"tab","id":"55f03954.21abc8","label":"Playground"},{"type":"tab","id":"a08ecf46.34824","label":"QF-CL Rooftop Database & Alarm"},{"type":"tab","id":"ac5025dd.04a618","label":"BC-SHOWER"},{"type":"tab","id":"7b1cd8c7.10c578","label":"FC-SHOWER"},{"type":"tab","id":"64aafba5.ad9ee4","label":"MAIN-LAWA"},{"id":"caf9c69c.349538","type":"subflow","name":"Particle Publish Event","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"8cd55086.db00f"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"7efcaf54.e0c8b","port":0}]}]},{"id":"65605103.989d8","type":"subflow","name":"HUE  Alert","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"20dbb2ec.11faae","type":"subflow","name":"Particle Publish Event (2)","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"8871081.68ae4f8"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"c50d10a9.6c6f5","port":0}]}]},{"id":"6ea0e097.b163a","type":"particle-cloud","z":"72aaaf59.ec05b","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"558833b9.efd3ac","type":"particle-cloud","z":"a08ecf46.34824","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a588247c.0d0af8","type":"librato-config","z":"a08ecf46.34824","name":"Librato eval","email":"phorrack@gmail.com","source":"hot-blooded"},{"id":"353db79e.1ad148","type":"influxdb","z":"a08ecf46.34824","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"771fd938.91e3c8","type":"mqtt-broker","z":"a08ecf46.34824","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"94294e16.7f713","type":"influxdb","z":"6c22036.f93ddfc","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"6050d8f0.d63e28","type":"particle-cloud","z":"6c22036.f93ddfc","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"Particle Cloud https"},{"id":"61d7ecba.b4e8f4","type":"influxdb","z":"ac5025dd.04a618","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"lawa"},{"id":"2d0411e5.56e1ee","type":"particle-cloud","z":"ac5025dd.04a618","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"60f89871.4e44d8","type":"particle-cloud","z":"7b1cd8c7.10c578","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"68ce0555.46d87c","type":"influxdb","z":"7b1cd8c7.10c578","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"LAWA"},{"id":"4235e67a.b458e8","type":"influxdb","z":"64aafba5.ad9ee4","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"LAWA"},{"id":"a86de04b.41a1d","type":"particle-cloud","z":"64aafba5.ad9ee4","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"61239423.d3717c","type":"influxdb","z":"7b1cd8c7.10c578","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"lawa"},{"id":"cb6b948.ec87f68","type":"serial-port","z":"a08ecf46.34824","serialport":"/","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"8cd55086.db00f","type":"function","z":"caf9c69c.349538","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["7efcaf54.e0c8b"]]},{"id":"7efcaf54.e0c8b","type":"http request","z":"caf9c69c.349538","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"8b1b4c6a.446da","type":"ParticleSSE in","z":"6c22036.f93ddfc","baseurl":"6050d8f0.d63e28","evtname":"dsTmp","devid":"hot-blooded","x":211.75,"y":175.67856216430664,"wires":[["b3ae146c.9de8f8"]]},{"id":"b3ae146c.9de8f8","type":"function","z":"6c22036.f93ddfc","name":"Fields","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":590,"y":178.42854690551758,"wires":[["6f1806c6.0debe8","cd275156.598f3"],[]]},{"id":"6f1806c6.0debe8","type":"influxdb out","z":"6c22036.f93ddfc","influxdb":"94294e16.7f713","name":"InfluxDB @ ccc.casaria.net","measurement":"hot-blooded","x":835,"y":133.4285545349121,"wires":[]},{"id":"86c782e2.1ea54","type":"ParticleSSE in","z":"6c22036.f93ddfc","baseurl":"6050d8f0.d63e28","evtname":"dsTmp","devid":"robin-hood","x":202,"y":124,"wires":[["ba570dd9.e08da"]]},{"id":"ba570dd9.e08da","type":"function","z":"6c22036.f93ddfc","name":"Fields","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":592,"y":89.00000381469727,"wires":[["a2b3af24.c8cb7","f9843a4f.d1ef38"],[]]},{"id":"a2b3af24.c8cb7","type":"debug","z":"6c22036.f93ddfc","name":"","active":false,"console":"true","complete":"payload","x":798,"y":41,"wires":[]},{"id":"f9843a4f.d1ef38","type":"influxdb out","z":"6c22036.f93ddfc","influxdb":"94294e16.7f713","name":"InfluxDB @ ccc.casaria.net","measurement":"robin-hood","x":832.0000305175781,"y":100.99999618530273,"wires":[]},{"id":"cd275156.598f3","type":"debug","z":"6c22036.f93ddfc","name":"","active":false,"console":"true","complete":"payload","x":797,"y":184.42855834960938,"wires":[]},{"id":"4cad05a6.8015dc","type":"pushover","z":"6c22036.f93ddfc","name":"PUSH ALERT to Qantas STAFF","device":"","title":"Water heater ","priority":"1","sound":"persistent","x":811.1922016143799,"y":407.7777786254883,"wires":[]},{"id":"3accf9f8.ccb796","type":"inject","z":"6c22036.f93ddfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.1111068725586,"y":409.3656997680664,"wires":[["4cad05a6.8015dc"]]},{"id":"d0c3530d.cce32","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":false,"console":"true","complete":"payload","x":907.0714874267578,"y":227.14285850524902,"wires":[]},{"id":"ab46cc82.50b58","type":"librato","z":"a08ecf46.34824","librato":"a588247c.0d0af8","metricName":"Librato Water-temp","metricType":"gauge","x":966.8214874267578,"y":335.3928270339966,"wires":[]},{"id":"ca440388.c6ec8","type":"function","z":"a08ecf46.34824","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":571.7142944335938,"y":200.57142639160156,"wires":[["b5b71b3b.73b5e8"],[]]},{"id":"b5b71b3b.73b5e8","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":963.7143058776855,"y":192.5714282989502,"wires":[]},{"id":"babe2f59.3b13d","type":"switch","z":"a08ecf46.34824","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"125","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":596.21435546875,"y":477.5714111328125,"wires":[["67b20772.0b8e38","3adfca6d.97f296"],["bf0efc60.f1ee1"],[],[],[]]},{"id":"67b20772.0b8e38","type":"pushover","z":"a08ecf46.34824","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":1008.7143096923828,"y":611.5714197158813,"wires":[]},{"id":"3adfca6d.97f296","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":917.9643096923828,"y":650.3214817047119,"wires":[]},{"id":"bf0efc60.f1ee1","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":918.7143058776855,"y":688.0714826583862,"wires":[]},{"id":"4982e3a8.3a490c","type":"function","z":"a08ecf46.34824","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":393.2143249511719,"y":554.071418762207,"wires":[["69288a6b.7fd094","babe2f59.3b13d"]]},{"id":"69288a6b.7fd094","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":917.7143077850342,"y":553.8214492797852,"wires":[]},{"id":"4abc0978.2ed478","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsInputs","devid":"lucky-surfer","x":279.71429443359375,"y":145.57142639160156,"wires":[["d16e4bfb.42e1a8"]]},{"id":"d16e4bfb.42e1a8","type":"function","z":"a08ecf46.34824","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":559.7142944335938,"y":145.57142639160156,"wires":[["c29a6153.f42b6"],[]]},{"id":"c29a6153.f42b6","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":964.7142944335938,"y":139.57142639160156,"wires":[]},{"id":"3d8696d1.ea735a","type":"inject","z":"a08ecf46.34824","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":257.71431732177734,"y":466.8214225769043,"wires":[["85537653.d44a38"]]},{"id":"5dcdcd38.373204","type":"ParticleFunc out","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","devid":"lucky-surfer","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":477.4285125732422,"y":261.28572845458984,"wires":[["2e2f8de4.a9f342"]]},{"id":"d722427b.f1e61","type":"inject","z":"72aaaf59.ec05b","name":"Reset QF-CL Rooftop Water heater ","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":208.5714111328125,"y":111.57143020629883,"wires":[["17a255bd.03c2ba"]]},{"id":"2e2f8de4.a9f342","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"false","complete":"payload","x":700.618989944458,"y":100.92063045501709,"wires":[]},{"id":"17a255bd.03c2ba","type":"trigger","z":"72aaaf59.ec05b","op1":"on","op2":"off","op1type":"pay","op2type":"val","duration":"7","extend":true,"units":"s","reset":"","name":"Auto repeat (7s)","x":188.85712051391602,"y":218.71428108215332,"wires":[["5dcdcd38.373204","dcca978c.00e908","24a47f68.b73ba"]]},{"id":"dcca978c.00e908","type":"ParticleFunc out","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","devid":"hot-blooded","fname":"ResetRelay","param":"","once":false,"repeat":0,"x":486.1428451538086,"y":303.85714542865753,"wires":[["2e2f8de4.a9f342"]]},{"id":"24a47f68.b73ba","type":"ParticleFunc out","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","devid":"robin-hood","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":473.4285888671875,"y":219.85714721679688,"wires":[["2e2f8de4.a9f342"]]},{"id":"ce3a572e.78ca38","type":"mqtt out","z":"a08ecf46.34824","name":"MQTT PUB - HUE12","topic":"HUE12","qos":"","retain":"","broker":"771fd938.91e3c8","x":948.0000152587891,"y":464.0000114440918,"wires":[]},{"id":"85537653.d44a38","type":"function","z":"a08ecf46.34824","name":"COLOR","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 145 + (value - 130) *5);\ng= (90-value);\nr= (100+value);\nb = (70-value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(250 - x);\n    r=x/2;\n}  \n\nif (r > 185) {\n    b = Math.round(r/1.5);\n\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":695.25,"y":420.25,"wires":[[]]},{"id":"a76a2a69.a4e018","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"false","complete":"false","x":918.7500152587891,"y":513.5000066757202,"wires":[]},{"id":"8871081.68ae4f8","type":"function","z":"20dbb2ec.11faae","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["c50d10a9.6c6f5"]]},{"id":"c50d10a9.6c6f5","type":"http request","z":"20dbb2ec.11faae","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"8bd527d9.638d88","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":919.2500076293945,"y":413.7500057220459,"wires":[]},{"id":"2504efac.45275","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"A0","devid":"lucky-surfer","x":264,"y":200,"wires":[["ca440388.c6ec8"]]},{"id":"a1ec8a3f.5312b8","type":"ParticleSSE in","z":"ac5025dd.04a618","baseurl":"2d0411e5.56e1ee","evtname":"dsCombi","devid":"bc-shower","x":172.5,"y":95.40305519104004,"wires":[["185f7b79.469a45","9aa25048.1e835"]]},{"id":"4bb219cb.b0d6c8","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"61d7ecba.b4e8f4","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":869.5001373291016,"y":91.40306234359741,"wires":[]},{"id":"df6b6453.b1db38","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":820.5001373291016,"y":130.50000190734863,"wires":[]},{"id":"185f7b79.469a45","type":"function","z":"ac5025dd.04a618","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":489.25001525878906,"y":94.00000190734863,"wires":[["4bb219cb.b0d6c8","df6b6453.b1db38"],[]]},{"id":"14e72a7b.4e0a56","type":"function","z":"a08ecf46.34824","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\" \")[0]);\nreturn msg;","outputs":1,"noerr":0,"x":538.7500457763672,"y":335.5000047683716,"wires":[["4982e3a8.3a490c","8bd527d9.638d88","2b116e2d.b45d92"]]},{"id":"d5ab653e.19ce18","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsCombi","devid":"lucky-surfer","x":281.7499694824219,"y":253.50000381469727,"wires":[["82d995e5.043948","14e72a7b.4e0a56","d670a2ea.05d68"]]},{"id":"82d995e5.043948","type":"function","z":"a08ecf46.34824","name":"Boiler Exit Temperature","func":"var s = msg.payload;\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    ExitTemp: Number ( fields[0]),\n    pCH4:  Number ( fields[1]),\n    strValue: \"QF-CL-RT-04-17\",\n}\nmsg2 = {\n    payload: Number (fields[0]) \n}\nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":578.7500457763672,"y":252.50001335144043,"wires":[["8461d1c6.67c4d","d0c3530d.cce32","a076be0e.6deed"],["fc746438.b245f8"]]},{"id":"8461d1c6.67c4d","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":969.5000152587891,"y":261.5000190734863,"wires":[]},{"id":"a076be0e.6deed","type":"function","z":"a08ecf46.34824","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":960.0000152587891,"y":299.75000381469727,"wires":[[]]},{"id":"fc746438.b245f8","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":false,"console":"true","complete":"payload","x":906.25,"y":371.25,"wires":[]},{"id":"8838a58d.020f48","type":"ParticleSSE in","z":"7b1cd8c7.10c578","baseurl":"60f89871.4e44d8","evtname":"dsCombi","devid":"fc-shower","x":155,"y":96.49999284744263,"wires":[["9aa413de.d244d"]]},{"id":"18bee5b1.5fdd9a","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"61239423.d3717c","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-SHOWER","x":852.0001373291016,"y":92.5,"wires":[]},{"id":"dd6981d9.29d7f","type":"debug","z":"7b1cd8c7.10c578","name":"","active":true,"console":"true","complete":"payload","x":803.0001373291016,"y":131.59693956375122,"wires":[]},{"id":"9aa413de.d244d","type":"function","z":"7b1cd8c7.10c578","name":"FC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":471.75001525878906,"y":95.09693956375122,"wires":[["18bee5b1.5fdd9a","dd6981d9.29d7f"],[]]},{"id":"4eee0d2b.72ed24","type":"function","z":"ac5025dd.04a618","name":"COLOR","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 135 + (value - 145) *6);\ng= (140-value);\nr= (130+value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(240 - x);\n    r=0;\n}   else b = 0;\n\nif (r > 185) {\n    b = Math.round(r/2);\n    \n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":342,"y":288,"wires":[["bdb69ccc.ae751"]]},{"id":"bdb69ccc.ae751","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"false","complete":"false","x":821.5000076293945,"y":334.25,"wires":[]},{"id":"e2f6171a.220b48","type":"pushover","z":"ac5025dd.04a618","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":911.4643020629883,"y":432.32141304016113,"wires":[]},{"id":"cefbde0d.26b78","type":"function","z":"ac5025dd.04a618","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":295.96431732177734,"y":374.8214120864868,"wires":[["d38aae4c.6d32f","7548eeaf.7d4c4"]]},{"id":"7548eeaf.7d4c4","type":"switch","z":"ac5025dd.04a618","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"125","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":536.9643592834473,"y":457.32141399383545,"wires":[["e2f6171a.220b48","6b1eb033.d21fc"],["9e7dfc4f.08784"],[],[],[]]},{"id":"6b1eb033.d21fc","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":820.7143020629883,"y":471.0714750289917,"wires":[]},{"id":"9e7dfc4f.08784","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"false","complete":"false","x":821.464298248291,"y":508.821475982666,"wires":[]},{"id":"d38aae4c.6d32f","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":820.4643001556396,"y":374.57144260406494,"wires":[]},{"id":"8ce7cb4e.372e68","type":"inject","z":"ac5025dd.04a618","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":160.4643096923828,"y":287.5714159011841,"wires":[["4eee0d2b.72ed24"]]},{"id":"9aa25048.1e835","type":"function","z":"ac5025dd.04a618","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\" \")[0]);\nreturn msg;","outputs":1,"noerr":0,"x":441.50003814697266,"y":156.24999809265137,"wires":[["cefbde0d.26b78"]]},{"id":"68891855.7db568","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":true,"x":168.5,"y":345,"wires":[["2b116e2d.b45d92"]]},{"id":"597569fd.1ce4b8","type":"inject","z":"ac5025dd.04a618","name":"","topic":"","payload":"135","payloadType":"num","repeat":"","crontab":"","once":false,"x":118.5,"y":196,"wires":[[]]},{"id":"2b116e2d.b45d92","type":"function","z":"a08ecf46.34824","name":"","func":"var value = Math.round (Number(msg.payload) - 15);\nvar x = value;\nvar r, g, b, i=200;\n\nif (value <= 120) {\n    r = 70;\n    g = 30;\n    b = 80;\n    i = 150;\n}\nif ((value > 120) && (value < 125)) {\n    r = 70;\n    g = 55;\n    b = 40;\n    i = 150;\n}\n\nif ((value >= 125) && (value < 130)) {\n    r = 80;\n    g = 45;\n    b = 40;\n    i = 150;\n}\n\nif ((value >= 130) && (value < 135)) {\n    r = 100;\n    g = 50;\n    b = 40;\n    i = 165;\n    \n}\n\nif ((value >= 135) && (value < 141)) {\n    r = 110;\n    g = 40;\n    b = 30;\n    i = 190;\n}\nif ((value >= 141) && (value < 146)) {\n    r = 160;\n    g = 40;\n    b = 30;\n    i = 215;\n}\n\nif ((value >= 146) && (value < 150)) {\n    r = 160;\n    g = 30;\n    b = 20;\n    i = 220;\n}\n\nif ((value >= 150) && (value < 153)) {\n    r = 190;\n    g = 20;\n    b = 20;\n    i = 230;\n}\n\nif ((value >= 153) && (value < 156)) {\n    r = 220;\n    g = 10;\n    b = 10;\n    i = 240;\n}\n\nif ((value >= 156) && (value < 163)) {\n    r = 230;\n    g = 10;\n    b = 0;\n    i = 255;\n}\n\nif ((value >= 163) && (value < 175)) {\n    r = 255;\n    g = 0;\n    b = 0;\n    i = 255;\n}\n\nif (value >= 175) {\n    r = 255;\n    g = 0;\n    b = 100;\n    i = 255;\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[i],\n\trgb:[r, g, b]\n}\n\nmsg2 = {};\nmsg2.payload = value;\nreturn [msg, msg2];\t","outputs":"2","noerr":0,"x":332.5,"y":610,"wires":[["ce3a572e.78ca38","a76a2a69.a4e018"],["2c89c32f.928c6c"]]},{"id":"2c89c32f.928c6c","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"false","complete":"false","x":526,"y":644,"wires":[]},{"id":"d670a2ea.05d68","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"false","complete":"false","x":542,"y":392,"wires":[]}]