.flows_development.json.backup
[{"type":"tab","id":"72aaaf59.ec05b","label":"Casaria Cloud Control"},{"type":"tab","id":"6c22036.f93ddfc","label":"Development system"},{"type":"tab","id":"55f03954.21abc8","label":"Playground"},{"type":"tab","id":"a08ecf46.34824","label":"QF-CL Rooftop Database & Alarm"},{"type":"tab","id":"ac5025dd.04a618","label":"BC-SHOWER"},{"type":"tab","id":"7b1cd8c7.10c578","label":"FC-SHOWER"},{"type":"tab","id":"64aafba5.ad9ee4","label":"BC-LIQUOR"},{"id":"caf9c69c.349538","type":"subflow","name":"Particle Publish Event","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"8cd55086.db00f"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"7efcaf54.e0c8b","port":0}]}]},{"id":"65605103.989d8","type":"subflow","name":"HUE  Alert","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"20dbb2ec.11faae","type":"subflow","name":"Particle Publish Event (2)","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"8871081.68ae4f8"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"c50d10a9.6c6f5","port":0}]}]},{"id":"6ea0e097.b163a","type":"particle-cloud","z":"72aaaf59.ec05b","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"558833b9.efd3ac","type":"particle-cloud","z":"a08ecf46.34824","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"353db79e.1ad148","type":"influxdb","z":"a08ecf46.34824","hostname":"ccc.casaria.net","port":"8086","database":"casaria","name":"ccc.casaria.net"},{"id":"771fd938.91e3c8","type":"mqtt-broker","z":"a08ecf46.34824","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"94294e16.7f713","type":"influxdb","z":"6c22036.f93ddfc","hostname":"ccc.casaria.net","port":"8086","database":"casaria","name":"casaria"},{"id":"61d7ecba.b4e8f4","type":"influxdb","z":"ac5025dd.04a618","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"2d0411e5.56e1ee","type":"particle-cloud","z":"ac5025dd.04a618","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"60f89871.4e44d8","type":"particle-cloud","z":"7b1cd8c7.10c578","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"61239423.d3717c","type":"influxdb","z":"7b1cd8c7.10c578","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"d6f04e5e.6adbf","type":"influxdb","z":"64aafba5.ad9ee4","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"3066f3e.08e5b0c","type":"influxdb","z":"64aafba5.ad9ee4","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"5dcc16f8.aa2a68","type":"particle-cloud","z":"64aafba5.ad9ee4","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"93e86275.5fb5d","type":"influxdb","z":"a08ecf46.34824","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"an.casaria.net"},{"id":"481aa195.04746","type":"influxdb","z":"ac5025dd.04a618","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"21383fa8.d1ba8","type":"influxdb","z":"7b1cd8c7.10c578","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"514b9549.03f90c","type":"influxdb","z":"64aafba5.ad9ee4","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"8cd55086.db00f","type":"function","z":"caf9c69c.349538","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["7efcaf54.e0c8b"]]},{"id":"7efcaf54.e0c8b","type":"http request","z":"caf9c69c.349538","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"4cad05a6.8015dc","type":"pushover","z":"6c22036.f93ddfc","name":"PUSH ALERT to Qantas STAFF","device":"","title":"THIS is just a TEST! ","priority":"1","sound":"persistent","x":643.1921997070312,"y":325.77777099609375,"wires":[]},{"id":"3accf9f8.ccb796","type":"inject","z":"6c22036.f93ddfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.1111068725586,"y":409.3656997680664,"wires":[["4cad05a6.8015dc"]]},{"id":"ca440388.c6ec8","type":"function","z":"a08ecf46.34824","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":472.1428527832031,"y":77,"wires":[["698d7ffd.a8947","702d38cb.a9a898"],[]]},{"id":"babe2f59.3b13d","type":"switch","z":"a08ecf46.34824","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":386.6429138183594,"y":563.4285278320312,"wires":[["3adfca6d.97f296","b1029aef.81d558"],["bf0efc60.f1ee1"],[],[],[]]},{"id":"67b20772.0b8e38","type":"pushover","z":"a08ecf46.34824","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":887.1428833007812,"y":509.42852783203125,"wires":[]},{"id":"3adfca6d.97f296","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":799.3928756713867,"y":594.1786212921143,"wires":[]},{"id":"bf0efc60.f1ee1","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":800.1428718566895,"y":631.9286222457886,"wires":[]},{"id":"69288a6b.7fd094","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"true","complete":"payload","x":398.1428527832031,"y":499.6785888671875,"wires":[]},{"id":"4abc0978.2ed478","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsInputs","devid":"lucky-surfer","x":161.14286041259766,"y":26,"wires":[["d16e4bfb.42e1a8"]]},{"id":"d16e4bfb.42e1a8","type":"function","z":"a08ecf46.34824","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":450.1428527832031,"y":27,"wires":[["c29a6153.f42b6","750dd6ca.caa968"],[]]},{"id":"c29a6153.f42b6","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":846.1428604125977,"y":20,"wires":[]},{"id":"3d8696d1.ea735a","type":"inject","z":"a08ecf46.34824","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":125.14287567138672,"y":712.6785507202148,"wires":[["85537653.d44a38"]]},{"id":"5dcdcd38.373204","type":"ParticleFunc out","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","devid":"lucky-surfer","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":612.4285278320312,"y":388.28570556640625,"wires":[["2e2f8de4.a9f342"]]},{"id":"d722427b.f1e61","type":"inject","z":"72aaaf59.ec05b","name":"Manual Reset QF-CL Rooftop Water heater ","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":235.5714111328125,"y":468.57142639160156,"wires":[["17a255bd.03c2ba"]]},{"id":"2e2f8de4.a9f342","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"false","complete":"payload","x":822.6190185546875,"y":336.9206237792969,"wires":[]},{"id":"17a255bd.03c2ba","type":"trigger","z":"72aaaf59.ec05b","op1":"on","op2":"on","op1type":"val","op2type":"val","duration":"3","extend":true,"units":"min","reset":"","name":"Auto repeat (3min)","x":279.8571243286133,"y":353.7142791748047,"wires":[["5dcdcd38.373204","209b5277.a6c29e","7d9ae476.25f6bc"]]},{"id":"ce3a572e.78ca38","type":"mqtt out","z":"a08ecf46.34824","name":"MQTT PUB - HUE12","topic":"HUE12","qos":"1","retain":"","broker":"771fd938.91e3c8","x":829.428581237793,"y":366.85715103149414,"wires":[]},{"id":"85537653.d44a38","type":"function","z":"a08ecf46.34824","name":"OLD COLOR MAGIC","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 145 + (value - 130) *5);\ng= (90-value);\nr= (100+value);\nb = (70-value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(250 - x);\n    r=x/2;\n}  \n\nif (r > 185) {\n    b = Math.round(r/1.5);\n\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":315.6785583496094,"y":711.1071166992188,"wires":[[]]},{"id":"a76a2a69.a4e018","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"false","complete":"false","x":800.178581237793,"y":416.35714626312256,"wires":[]},{"id":"8871081.68ae4f8","type":"function","z":"20dbb2ec.11faae","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["c50d10a9.6c6f5"]]},{"id":"c50d10a9.6c6f5","type":"http request","z":"20dbb2ec.11faae","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"8bd527d9.638d88","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"true","complete":"payload","x":800.6785736083984,"y":316.60714530944824,"wires":[]},{"id":"2504efac.45275","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"A0","devid":"lucky-surfer","x":145.4285659790039,"y":80.42857360839844,"wires":[["ca440388.c6ec8"]]},{"id":"a1ec8a3f.5312b8","type":"ParticleSSE in","z":"ac5025dd.04a618","baseurl":"2d0411e5.56e1ee","evtname":"dsCombi","devid":"bc-shower","x":150.5,"y":83.4030532836914,"wires":[["185f7b79.469a45","9aa25048.1e835","cefbde0d.26b78"]]},{"id":"4bb219cb.b0d6c8","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"61d7ecba.b4e8f4","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":869.5001373291016,"y":91.40306234359741,"wires":[]},{"id":"df6b6453.b1db38","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":820.5001373291016,"y":130.50000190734863,"wires":[]},{"id":"185f7b79.469a45","type":"function","z":"ac5025dd.04a618","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":474.2500305175781,"y":73,"wires":[["df6b6453.b1db38","4bb219cb.b0d6c8","80e786ff.9acd18"],["c8e95471.c03168"],["e34012d5.d49da"]]},{"id":"14e72a7b.4e0a56","type":"function","z":"a08ecf46.34824","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);if (msg.payload == 32.00) msg.payload =148.5;\nreturn msg;","outputs":1,"noerr":0,"x":420.1786117553711,"y":238.35714435577393,"wires":[["8bd527d9.638d88","2b116e2d.b45d92"]]},{"id":"d5ab653e.19ce18","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsCombi","devid":"lucky-surfer","x":163.17853546142578,"y":133.9285774230957,"wires":[["d670a2ea.05d68","82d995e5.043948"]]},{"id":"82d995e5.043948","type":"function","z":"a08ecf46.34824","name":"Boiler Exit Temperature","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\nif (Number(fields[0])==32.0) fields[0] = '148.5';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    ExitTemp: Number ( fields[0]),\n    pCH4:  Number ( fields[1]),\n    strValue: \"QF-CL-RT-04-17\",\n}\nmsg2 = {\n    payload: Number (fields[0]) \n}\nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":464.1785888671875,"y":132.9286117553711,"wires":[["8461d1c6.67c4d","708ca2c6.48420c"],[]]},{"id":"8461d1c6.67c4d","type":"influxdb out","z":"a08ecf46.34824","influxdb":"93e86275.5fb5d","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer","x":834.9285888671875,"y":185.92858123779297,"wires":[]},{"id":"a076be0e.6deed","type":"function","z":"a08ecf46.34824","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":736.4285888671875,"y":807.6071472167969,"wires":[[]]},{"id":"fc746438.b245f8","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":false,"console":"true","complete":"payload","x":787.6785659790039,"y":274.10713958740234,"wires":[]},{"id":"8838a58d.020f48","type":"ParticleSSE in","z":"7b1cd8c7.10c578","baseurl":"60f89871.4e44d8","evtname":"dsCombi","devid":"fc-liquor","x":145,"y":96.49999284744263,"wires":[["495da827.759c38","10929963.e83af7"]]},{"id":"18bee5b1.5fdd9a","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"61239423.d3717c","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-LIQUOR","x":827.5556640625,"y":86.72222137451172,"wires":[]},{"id":"dd6981d9.29d7f","type":"debug","z":"7b1cd8c7.10c578","name":"","active":false,"console":"true","complete":"payload","x":777.4445724487305,"y":137.152494430542,"wires":[]},{"id":"4eee0d2b.72ed24","type":"function","z":"ac5025dd.04a618","name":"COLOR","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 135 + (value - 145) *6);\ng= (140-value);\nr= (130+value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(240 - x);\n    r=0;\n}   else b = 0;\n\nif (r > 185) {\n    b = Math.round(r/2);\n    \n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":342,"y":288,"wires":[["bdb69ccc.ae751"]]},{"id":"bdb69ccc.ae751","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"false","complete":"false","x":821.5000076293945,"y":334.25,"wires":[]},{"id":"e2f6171a.220b48","type":"pushover","z":"ac5025dd.04a618","name":"\"PUSHOVER\" ALERT to casaria STAFF","device":"","title":"Water heater Alert: Boiler BC temp above threshold: Possible RUNAWAY. Send anybody up On ROOF to kill Gas SUPPLY","priority":"1","sound":"persistent","x":911.4643020629883,"y":432.32141304016113,"wires":[]},{"id":"cefbde0d.26b78","type":"function","z":"ac5025dd.04a618","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[0]);\nreturn msg;","outputs":1,"noerr":0,"x":295.96431732177734,"y":374.8214120864868,"wires":[["d38aae4c.6d32f","ab47f824.54b808"]]},{"id":"7548eeaf.7d4c4","type":"switch","z":"ac5025dd.04a618","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"160","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":536.9643592834473,"y":457.32141399383545,"wires":[["e2f6171a.220b48","6b1eb033.d21fc"],["9e7dfc4f.08784"],[],[],[]]},{"id":"6b1eb033.d21fc","type":"debug","z":"ac5025dd.04a618","name":"","active":true,"console":"true","complete":"payload","x":820.7143020629883,"y":471.0714750289917,"wires":[]},{"id":"9e7dfc4f.08784","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"false","complete":"false","x":821.464298248291,"y":508.821475982666,"wires":[]},{"id":"d38aae4c.6d32f","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":1105.4642944335938,"y":360.5714416503906,"wires":[]},{"id":"8ce7cb4e.372e68","type":"inject","z":"ac5025dd.04a618","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":160.4643096923828,"y":287.5714159011841,"wires":[["4eee0d2b.72ed24"]]},{"id":"9aa25048.1e835","type":"function","z":"ac5025dd.04a618","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);\nreturn msg;","outputs":1,"noerr":0,"x":441.50003814697266,"y":156.24999809265137,"wires":[["86160abc.762e38"]]},{"id":"68891855.7db568","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.9285659790039,"y":392.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"2b116e2d.b45d92","type":"function","z":"a08ecf46.34824","name":"Color magic","func":"var value = Math.round (20+Number(msg.payload)*1.10);\nvar x = value;\nvar r, g, b, i=200;\n\nif (value < 110) {\n        r = 20;\n    g = 30;\n    b = 10;\n    i = 200;\n\n}\nif ((value >= 110)&& (value < 120))  {\n    r = 20;\n    g = 30;\n    b = 80;\n    i = 200;\n}\nif ((value >= 120) && (value < 125)) {\n    r = 40;\n    g = 55;\n    b = 30;\n    i = 180;\n}\n\nif ((value >= 125) && (value < 130)) {\n    r = 80;\n    g = 70;\n    b = 35;\n    i = 180;\n}\n\nif ((value >= 130) && (value < 135)) {\n    r = 135;\n    g = 90;\n    b = 25;\n    i = 185;\n}\n\nif ((value >= 135) && (value < 140)) {\n    r = 145;\n    g = 80;\n    b = 20;\n    i = 120;\n\n}\n\n\n\nif ((value >= 140) && (value < 145)) {\n   r = 190;\n    g = 90;\n    b = 5;\n    i = 180;\n  \n \n}\n\nif ((value >= 145) && (value < 150)) {\n  \n    r = 90;\n    g = 50;\n    b = 40;\n    i = 180;\n  \n}\n\nif ((value >= 150) && (value < 155)) {\n\n    r = 120;\n    g = 60;\n    b = 70;\n    i = 170; \n    \n\n}\n\nif ((value >= 155) && (value < 160)) {\n    \n    r = 120;\n    g = 30;\n    b = 60;\n    i = 165; \n    \n\n}\n\nif ((value >= 160) && (value < 165)) {\n     r = 190;\n    g = 70;\n    b = 10;\n    i = 210;\n}\n\nif ((value >= 165) && (value < 170)) {\n    r = 200;\n    g = 40;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 170) && (value < 175)) {\n    r = 220;\n    g = 35;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 175) && (value < 180)) {\n    r = 240;\n    g = 30;\n    b = 0;\n    i = 255;\n}\nif (value >= 180) {\n    r = 255;\n    g = 0;\n    b = 0;\n    i = 255;\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[60],  //30\n\tbri:[i],\n\trgb:[r, g, b]\n}\n\nmsg2 = {};\nmsg2.payload = value;\nreturn [msg, msg2];\t","outputs":"2","noerr":0,"x":365.9285583496094,"y":428.8571472167969,"wires":[["ce3a572e.78ca38","a76a2a69.a4e018"],["2c89c32f.928c6c"]]},{"id":"2c89c32f.928c6c","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"false","complete":"false","x":800.4285659790039,"y":450.85713958740234,"wires":[]},{"id":"d670a2ea.05d68","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":412.4285583496094,"y":174.42858123779297,"wires":[]},{"id":"c8e95471.c03168","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":822,"y":168,"wires":[]},{"id":"e34012d5.d49da","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":820,"y":209,"wires":[]},{"id":"9044b2ab.7d327","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":463.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"f82104fa.a4bb58","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":251.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"1f7e0444.6e81fc","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"110","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":216.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"ac661f48.eed8c","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"145","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":427.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"a900d4a8.f79b48","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":535.8571395874023,"wires":[["2b116e2d.b45d92"]]},{"id":"9b777184.09806","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"155","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":499.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"25b99dab.2ffe22","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"165","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":572.8571395874023,"wires":[["2b116e2d.b45d92"]]},{"id":"45eb9204.62b57c","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"170","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":611.8571395874023,"wires":[["2b116e2d.b45d92"]]},{"id":"f6dafb06.f7f758","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"135","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":357.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"98558169.95e61","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":322.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"7d98ba3.d9f1544","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"125","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":286.85713958740234,"wires":[["2b116e2d.b45d92"]]},{"id":"27f11e01.15d5c2","type":"inject","z":"a08ecf46.34824","name":"","topic":"","payload":"175","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":647.8571395874023,"wires":[["2b116e2d.b45d92"]]},{"id":"86160abc.762e38","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":819,"y":262,"wires":[]},{"id":"dfdfa877.aac8b8","type":"bigtimer","z":"72aaaf59.ec05b","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 2","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"480","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":296.21093368530273,"y":52.397647857666016,"wires":[["17a255bd.03c2ba"],[],[]]},{"id":"99b8ac60.13f15","type":"bigtimer","z":"72aaaf59.ec05b","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 1","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"465","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":124,"y":56,"wires":[["17a255bd.03c2ba"],[],[]]},{"id":"158f71a0.0fb98e","type":"bigtimer","z":"72aaaf59.ec05b","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 4","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"555","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":301.11758041381836,"y":134.54219245910645,"wires":[["17a255bd.03c2ba"],[],[]]},{"id":"aa7716eb.adb458","type":"bigtimer","z":"72aaaf59.ec05b","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 3","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"600","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":123,"y":138,"wires":[["17a255bd.03c2ba"],[],[]]},{"id":"41252332.25085c","type":"e-mail","z":"72aaaf59.ec05b","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email","x":726.5,"y":575,"wires":[]},{"id":"209b5277.a6c29e","type":"template","z":"72aaaf59.ec05b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rooftop water heater ignition unit reset issued","x":542.5,"y":439,"wires":[["5565bb1.b889644"]]},{"id":"5565bb1.b889644","type":"template","z":"72aaaf59.ec05b","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Timed reset event - executed","x":679.5,"y":438,"wires":[["41252332.25085c","9cb0e4f5.c7f5b8"]]},{"id":"9cb0e4f5.c7f5b8","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"false","complete":"true","x":816.5,"y":530,"wires":[]},{"id":"7d9ae476.25f6bc","type":"pushover","z":"72aaaf59.ec05b","name":"","device":"","title":"RESET Event","priority":0,"sound":"echo","x":564.5,"y":348,"wires":[]},{"id":"495da827.759c38","type":"function","z":"7b1cd8c7.10c578","name":"FC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":499,"y":101,"wires":[["18bee5b1.5fdd9a","c19e03ef.31f5c"],["dd6981d9.29d7f"],[]]},{"id":"abac9c5b.5354a","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"61239423.d3717c","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":813.0000610351562,"y":209,"wires":[]},{"id":"cdf79366.38817","type":"function","z":"7b1cd8c7.10c578","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":510.5,"y":203,"wires":[["abac9c5b.5354a","490106cb.d77a48"]]},{"id":"10929963.e83af7","type":"function","z":"7b1cd8c7.10c578","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":471,"y":152,"wires":[[],[],[]]},{"id":"490106cb.d77a48","type":"debug","z":"7b1cd8c7.10c578","name":"","active":false,"console":"true","complete":"payload","x":779.361083984375,"y":255.83331298828125,"wires":[]},{"id":"6f9a6284.ff5c8c","type":"inject","z":"7b1cd8c7.10c578","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":150,"wires":[["c275a65a.1a1a08"]]},{"id":"78ba744e.d3e6dc","type":"debug","z":"7b1cd8c7.10c578","name":"","active":false,"console":"true","complete":"payload","x":351,"y":342,"wires":[]},{"id":"c275a65a.1a1a08","type":"function","z":"7b1cd8c7.10c578","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":234.5,"y":217,"wires":[["cdf79366.38817","78ba744e.d3e6dc"]]},{"id":"577d3f78.5ad7a","type":"ParticleSSE in","z":"64aafba5.ad9ee4","baseurl":"5dcc16f8.aa2a68","evtname":"dsCombi","devid":"bc-liquor","x":176.0994415283203,"y":80.09091186523438,"wires":[["86fa200a.641e","87fd6793.041948","751b3109.55c8f"]]},{"id":"b8919b39.3dd978","type":"influxdb out","z":"64aafba5.ad9ee4","influxdb":"3066f3e.08e5b0c","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-LIQUOR","x":866.6551513671875,"y":68.31314086914062,"wires":[]},{"id":"1ff2317d.d2711f","type":"debug","z":"64aafba5.ad9ee4","name":"","active":false,"console":"true","complete":"payload","x":822.5440139770508,"y":134.74341344833374,"wires":[]},{"id":"a37fc58d.d07588","type":"influxdb out","z":"64aafba5.ad9ee4","influxdb":"d6f04e5e.6adbf","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":858.0995025634766,"y":206.59091901779175,"wires":[]},{"id":"e2bf685d.7b1178","type":"function","z":"64aafba5.ad9ee4","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":555.5994415283203,"y":200.59091901779175,"wires":[["a37fc58d.d07588","74135956.dfba68"]]},{"id":"86fa200a.641e","type":"function","z":"64aafba5.ad9ee4","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":516.0994415283203,"y":149.59091901779175,"wires":[[],[],[]]},{"id":"74135956.dfba68","type":"debug","z":"64aafba5.ad9ee4","name":"","active":false,"console":"true","complete":"payload","x":817.4605331420898,"y":253.42423582077026,"wires":[]},{"id":"e799d139.d866f","type":"inject","z":"64aafba5.ad9ee4","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.0994415283203,"y":147.59091901779175,"wires":[["d825166b.5f4098","c9edd72c.aad848"]]},{"id":"1abe95bb.d7d9ca","type":"debug","z":"64aafba5.ad9ee4","name":"","active":true,"console":"true","complete":"payload","x":396.0994415283203,"y":339.59091901779175,"wires":[]},{"id":"d825166b.5f4098","type":"function","z":"64aafba5.ad9ee4","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":279.5994415283203,"y":214.59091901779175,"wires":[["e2bf685d.7b1178","1abe95bb.d7d9ca"]]},{"id":"87fd6793.041948","type":"function","z":"64aafba5.ad9ee4","name":"BC LIQUOR Riser Temperatures","func":"var toffset = 0.0;\nvar s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1: toffset + Number ( fields[0]),\n    Temp2: toffset + Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":532.0994873046875,"y":89.5,"wires":[["b8919b39.3dd978","1ff2317d.d2711f","ba2512e.81791f"],[],[]]},{"id":"751b3109.55c8f","type":"debug","z":"64aafba5.ad9ee4","name":"","active":false,"console":"true","complete":"payload","x":482,"y":20,"wires":[]},{"id":"c9edd72c.aad848","type":"debug","z":"64aafba5.ad9ee4","name":"","active":true,"console":"true","complete":"payload","x":407,"y":436,"wires":[]},{"id":"f69bf484.7073e8","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":false,"console":"true","complete":"payload","x":793.22216796875,"y":239.2222137451172,"wires":[]},{"id":"afd3ac33.13b7d","type":"function","z":"a08ecf46.34824","name":"lucky-surfer","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\n//if (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\n//if (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp:  Number ( fields[0])\n}\nmsg2.payload = {\n    time: Date.parse(msg.published_at),\n    pressure:  Number ( fields[1])\n}\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":695,"y":763,"wires":[[],[]]},{"id":"1bee67c6.153508","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsCombi","devid":"bc-shower","x":146,"y":182,"wires":[["14e72a7b.4e0a56","d5c73cc3.2a38c"]]},{"id":"5ecc78ed.a13388","type":"inject","z":"ac5025dd.04a618","name":"Temp = 161","topic":"Mag.payload","payload":"161","payloadType":"num","repeat":"","crontab":"","once":false,"x":189.5,"y":481,"wires":[[]]},{"id":"ab47f824.54b808","type":"delay","z":"ac5025dd.04a618","name":"Rate limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":218.5,"y":433,"wires":[["7548eeaf.7d4c4"]]},{"id":"d5c73cc3.2a38c","type":"function","z":"a08ecf46.34824","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[1]);\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":659,"wires":[["69288a6b.7fd094","babe2f59.3b13d"]]},{"id":"b1029aef.81d558","type":"delay","z":"a08ecf46.34824","name":"rate limit 5min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"12","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":607.5,"y":512,"wires":[["67b20772.0b8e38","16abf692.d2c609"]]},{"id":"16abf692.d2c609","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"true","complete":"payload","x":800,"y":549,"wires":[]},{"id":"698d7ffd.a8947","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":844,"y":81,"wires":[]},{"id":"708ca2c6.48420c","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":846,"y":152,"wires":[]},{"id":"702d38cb.a9a898","type":"influxdb out","z":"a08ecf46.34824","influxdb":"93e86275.5fb5d","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.A0","x":838,"y":117,"wires":[]},{"id":"750dd6ca.caa968","type":"influxdb out","z":"a08ecf46.34824","influxdb":"93e86275.5fb5d","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.IO","x":823,"y":49,"wires":[]},{"id":"80e786ff.9acd18","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"481aa195.04746","name":"InfluxDB @ an.casaria.net","measurement":"BC-SHOWER","x":855,"y":51,"wires":[]},{"id":"c19e03ef.31f5c","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"21383fa8.d1ba8","name":"InfluxDB @ an.casaria.net","measurement":"FC-LIQUOR","x":819,"y":42,"wires":[]},{"id":"ba2512e.81791f","type":"influxdb out","z":"64aafba5.ad9ee4","influxdb":"514b9549.03f90c","name":"InfluxDB @ an.casaria.net","measurement":"BC-LIQUOR","x":855,"y":28,"wires":[]}]