backup/flows_development-an.json
[{"id":"89a8a4b8.bff9d8","type":"tab","label":"Casaria Cloud Control"},{"id":"22b58a34.405f26","type":"tab","label":"Development system"},{"id":"22bbaa99.97ac16","type":"tab","label":"Playground"},{"id":"91acd4ad.7bc198","type":"tab","label":"QF-CL Rooftop Database & Alarm"},{"id":"486564dd.17cbac","type":"tab","label":"FC-SHOWER"},{"id":"a49e555b.89ba38","type":"tab","label":"BC-LIQUOR"},{"id":"71002e00.5376a4","type":"tab","label":"BC-SHOWER"},{"id":"5ef053be.d90c4c","type":"tab","label":"LH-LAX-N"},{"id":"15122530.eaeddb","type":"tab","label":"LH-LAX-S"},{"id":"3c1a3ad.a43aac6","type":"tab","label":"Flow 1"},{"id":"e3ff82a4.7ab58","type":"tab","label":"Flow 2"},{"id":"50b9cf98.31ca9","type":"subflow","name":"Particle Publish Event","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"51fe4981.2f7e68"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"5571e10.150232","port":0}]}]},{"id":"a084a7fb.a058f8","type":"subflow","name":"HUE  Alert","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"6076bcf2.eb6534","type":"subflow","name":"Particle Publish Event (2)","info":"Please refer to Particle.io docs for full explanation of publishing events:\nhttps://docs.particle.io/reference/api/#publish-an-event\n\nInputs:\n- msg.payload - data used to send in the body\n- msg.accesstoken - accesstoken used in the header\n- msg.evtname - event name used in the post\n- msg.private - private flag, default is false\n- msg.ttl - time-to-live, default is 60 seconds\n\nOutputs:\nHTTP response from the event post.\n\n","in":[{"x":127,"y":52,"wires":[{"id":"dc65ac51.1d2d8"}]}],"out":[{"x":673,"y":128,"wires":[{"id":"2fe04425.3d16dc","port":0}]}]},{"id":"e352b7e6.573468","type":"particle-cloud","z":"89a8a4b8.bff9d8","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"49a2ab77.452664","type":"particle-cloud","z":"91acd4ad.7bc198","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"ecb39123.a1917","type":"influxdb","z":"91acd4ad.7bc198","hostname":"ccc.casaria.net","port":"8086","database":"casaria","name":"ccc.casaria.net"},{"id":"cf38ae2.0dd155","type":"mqtt-broker","z":"91acd4ad.7bc198","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"7ea114cc.9efddc","type":"influxdb","z":"71002e00.5376a4","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"ecdb2711.0a1998","type":"particle-cloud","z":"71002e00.5376a4","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"af812788.5052b8","type":"particle-cloud","z":"486564dd.17cbac","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"2dc046e1.06d33a","type":"influxdb","z":"486564dd.17cbac","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"cbe910a4.e155f","type":"influxdb","z":"a49e555b.89ba38","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"eb6a90a9.3896a","type":"influxdb","z":"a49e555b.89ba38","hostname":"ccc.casaria.net","port":"8086","database":"lawa","name":"lawa"},{"id":"6519fb1.fe0ed04","type":"particle-cloud","z":"a49e555b.89ba38","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"f2ea9629.00be88","type":"influxdb","z":"91acd4ad.7bc198","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"an.casaria.net"},{"id":"29282b82.8d1c54","type":"influxdb","z":"71002e00.5376a4","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"92989d38.a1a76","type":"influxdb","z":"486564dd.17cbac","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"2419e993.a5b706","type":"influxdb","z":"a49e555b.89ba38","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"an.casaria.net"},{"id":"c11dd00d.e4025","type":"mqtt-broker","z":"5ef053be.d90c4c","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"99972241.00e96","type":"particle-cloud","z":"5ef053be.d90c4c","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"d60b7ab3.26b398","type":"influxdb","z":"5ef053be.d90c4c","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"f54eb015.9c1db","type":"ui_tab","z":"5ef053be.d90c4c","name":"1st & 2nd Floor","icon":"dashboard","order":"1"},{"id":"d02e3971.fec758","type":"mqtt-broker","z":"5ef053be.d90c4c","broker":"localhost","port":"1883","clientid":"NODE-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"56a28459.e8ea8c","type":"google-credentials","z":"5ef053be.d90c4c","displayName":"Casaria Technology"},{"id":"ab8c0ddf.5269d","type":"particle-cloud","z":"15122530.eaeddb","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a81a4392.88e46","type":"influxdb","z":"15122530.eaeddb","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"9e783c4b.37835","type":"mqtt-broker","z":"15122530.eaeddb","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b94fec92.86189","type":"ui_tab","z":"15122530.eaeddb","name":"3rd Floor","icon":"dashboard","order":"1"},{"id":"168f0cc9.0bc823","type":"google-credentials","z":"15122530.eaeddb","displayName":""},{"id":"2e31eede.e44912","type":"ui_group","z":"15122530.eaeddb","name":"Default","tab":"","disp":false,"width":"4"},{"id":"d7d1751c.c4b9c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3c6975","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#3c6c79","edited":true},"page-titlebar-backgroundColor":{"value":"#3c6975","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#66a1b1","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3c6975","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Trillium","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec1edd3e.a3fb7","type":"ui_group","name":"Temp Monitor & Control","tab":"f54eb015.9c1db","order":null,"disp":true,"width":6},{"id":"39cf370d.658a18","type":"ui_group","z":"15122530.eaeddb","name":"Default","tab":"","disp":true,"width":"6"},{"id":"79b397c6.387b28","type":"ui_group","name":"Group 2","tab":"b94fec92.86189","order":2,"disp":true,"width":6},{"id":"a5d261ee.cfc96","type":"ui_tab","name":"Tab 4","icon":"dashboard","order":4},{"id":"69781dcf.8edba4","type":"ui_group","name":"Group","tab":"f54eb015.9c1db","order":null,"disp":true,"width":6},{"id":"91b257e9.cb9f68","type":"ui_tab","name":"Tab 4","icon":"dashboard","order":4},{"id":"abafbb03.474058","type":"ui_tab","name":"Tab 5","icon":"dashboard","order":5},{"id":"5e6b8c79.89a6d4","type":"ui_tab","name":"Tab 6","icon":"dashboard","order":6},{"id":"51fe4981.2f7e68","type":"function","z":"50b9cf98.31ca9","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["5571e10.150232"]]},{"id":"5571e10.150232","type":"http request","z":"50b9cf98.31ca9","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"d1576850.e01e68","type":"function","z":"91acd4ad.7bc198","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":454.6428680419922,"y":100.00000095367432,"wires":[["eb9e7be.f6e8d88","74dd952a.cdd65c"],[]]},{"id":"988675cb.025288","type":"switch","z":"91acd4ad.7bc198","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":386.6429138183594,"y":604.4285278320312,"wires":[["26f6b65f.683d0a","b65534da.c96348"],["3aba17bd.83ae48"],[],[],[]]},{"id":"c0bd597.58eeca8","type":"pushover","z":"91acd4ad.7bc198","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":887.1428833007812,"y":550.4285278320312,"wires":[]},{"id":"26f6b65f.683d0a","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":799.3928756713867,"y":635.1786212921143,"wires":[]},{"id":"3aba17bd.83ae48","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.1428718566895,"y":672.9286222457886,"wires":[]},{"id":"1f797be0.2e5a54","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":804.3928604125977,"y":709.428596496582,"wires":[]},{"id":"999d469c.a6a2d8","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsInputs","devid":"lucky-surfer","x":162.14286041259766,"y":46,"wires":[["7b1e3a02.ceb894"]]},{"id":"7b1e3a02.ceb894","type":"function","z":"91acd4ad.7bc198","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":442.6428527832031,"y":46.25,"wires":[["e569980e.a298f8","eda0e6b6.a05758"],[]]},{"id":"e569980e.a298f8","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":843.920654296875,"y":32.44444465637207,"wires":[]},{"id":"e188f330.07906","type":"inject","z":"91acd4ad.7bc198","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":125.14287567138672,"y":753.6785507202148,"wires":[["5a9b7e0e.bf5fa"]]},{"id":"72648535.3ed06c","type":"ParticleFunc out","z":"89a8a4b8.bff9d8","baseurl":"e352b7e6.573468","devid":"lucky-surfer","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":612.4285278320312,"y":388.28570556640625,"wires":[["c82395ab.4f6808"]]},{"id":"248ff72.e38bf08","type":"inject","z":"89a8a4b8.bff9d8","name":"Manual Reset QF-CL Rooftop Water heater ","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":235.5714111328125,"y":468.57142639160156,"wires":[["37ef252b.8b5bea"]]},{"id":"c82395ab.4f6808","type":"debug","z":"89a8a4b8.bff9d8","name":"","active":false,"console":"false","complete":"payload","x":822.6190185546875,"y":336.9206237792969,"wires":[]},{"id":"37ef252b.8b5bea","type":"trigger","z":"89a8a4b8.bff9d8","op1":"on","op2":"on","op1type":"val","op2type":"val","duration":"3","extend":true,"units":"min","reset":"","name":"Auto repeat (3min)","x":279.8571243286133,"y":353.7142791748047,"wires":[["72648535.3ed06c","4b5dcf98.5b76e","3fb2041e.06dafc"]]},{"id":"84e9262f.6d65b8","type":"mqtt out","z":"91acd4ad.7bc198","name":"MQTT PUB - HUE12","topic":"HUE12","qos":"1","retain":"","broker":"cf38ae2.0dd155","x":829.428581237793,"y":407.85715103149414,"wires":[]},{"id":"5a9b7e0e.bf5fa","type":"function","z":"91acd4ad.7bc198","name":"OLD COLOR MAGIC","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 145 + (value - 130) *5);\ng= (90-value);\nr= (100+value);\nb = (70-value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(250 - x);\n    r=x/2;\n}  \n\nif (r > 185) {\n    b = Math.round(r/1.5);\n\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":315.6785583496094,"y":752.1071166992188,"wires":[[]]},{"id":"5f9ae19f.13b7","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.178581237793,"y":457.35714626312256,"wires":[]},{"id":"dc65ac51.1d2d8","type":"function","z":"6076bcf2.eb6534","name":"","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.accesstoken\n};\nvar priv = msg.private === undefined ? false : msg.private;\nvar ttl = msg.ttl === undefined ? 60 : msg.ttl;\nmsg.payload = {\n    name: msg.evtname,\n    data: msg.payload,\n    private: priv,\n    ttl: ttl\n};\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":101,"wires":[["2fe04425.3d16dc"]]},{"id":"2fe04425.3d16dc","type":"http request","z":"6076bcf2.eb6534","name":"","method":"POST","ret":"txt","url":"https://api.particle.io/v1/devices/events","x":437,"y":159,"wires":[[]]},{"id":"7bfd0474.bb7aac","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":800.6785736083984,"y":357.60714530944824,"wires":[]},{"id":"bb7cb322.e2f35","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"A0","devid":"lucky-surfer","x":145.4285659790039,"y":98.42857360839844,"wires":[["d1576850.e01e68"]]},{"id":"61b0eac5.8a12f4","type":"ParticleSSE in","z":"71002e00.5376a4","baseurl":"ecdb2711.0a1998","evtname":"dsCombi","devid":"bc-shower","x":155.5,"y":65.90305423736572,"wires":[["84e1e05f.562ab","6a4103fa.13ac6c","713e6c4a.6ca9f4"]]},{"id":"2dc9f634.920e5a","type":"influxdb out","z":"71002e00.5376a4","influxdb":"7ea114cc.9efddc","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":869.5001373291016,"y":91.40306234359741,"wires":[]},{"id":"61d131e1.61d1c","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820.5001373291016,"y":130.50000190734863,"wires":[]},{"id":"84e1e05f.562ab","type":"function","z":"71002e00.5376a4","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":474.2500305175781,"y":73,"wires":[["61d131e1.61d1c","2dc9f634.920e5a","c80fa560.101598"],["90a49e76.043b6"],["2583a775.ee8e38"]]},{"id":"7b1d0150.adb59","type":"function","z":"91acd4ad.7bc198","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);if (msg.payload == 32.00) msg.payload =148.5;\nreturn msg;","outputs":1,"noerr":0,"x":428.92862701416016,"y":271.85715103149414,"wires":[["7bfd0474.bb7aac","f8e9c521.0f1f98"]]},{"id":"8f08421.26322c","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsCombi","devid":"lucky-surfer","x":165.6785430908203,"y":149.42857551574707,"wires":[["109e814c.7f39cf","460e2eb3.7b926"]]},{"id":"460e2eb3.7b926","type":"function","z":"91acd4ad.7bc198","name":"Boiler Exit Temperature","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\nif (Number(fields[0])==32.0) fields[0] = '148.5';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    ExitTemp: Number ( fields[0]),\n    pCH4:  Number ( fields[1]),\n    strValue: \"QF-CL-RT-04-17\",\n}\nmsg2 = {\n    payload: Number (fields[0]) \n}\nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":464.1785888671875,"y":150.9286117553711,"wires":[["1391a376.6a67ad","f0af14bb.724d78"],[]]},{"id":"1391a376.6a67ad","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer","x":835.6786041259766,"y":218.67859268188477,"wires":[]},{"id":"e5a667d.fca8398","type":"ParticleSSE in","z":"486564dd.17cbac","baseurl":"af812788.5052b8","evtname":"dsCombi","devid":"fc-liquor","x":145,"y":96.49999284744263,"wires":[["1018a1b5.c8282e","bf6f29c.83d55d8"]]},{"id":"7370bba5.c1ce54","type":"influxdb out","z":"486564dd.17cbac","influxdb":"2dc046e1.06d33a","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-LIQUOR","x":827.5556640625,"y":86.72222137451172,"wires":[]},{"id":"bacd9f75.e6bf4","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":777.4445724487305,"y":137.152494430542,"wires":[]},{"id":"75c0e8a0.ea2248","type":"function","z":"71002e00.5376a4","name":"COLOR","func":"var value = Number(msg.payload - 0 );\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 135 + (value - 145) *6);\ng= (140-value);\nr= (130+value);\nif (x < 130) {\n    g = Math.round(r/3);\n    b = Math.round(240 - x);\n    r=0;\n}   else b = 0;\n\nif (r > 185) {\n    b = Math.round(r/2);\n    \n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n  if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":404.50000381469727,"y":286.75000381469727,"wires":[["c300d211.d1fd8"]]},{"id":"c300d211.d1fd8","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"false","complete":"false","x":821.5000076293945,"y":334.25,"wires":[]},{"id":"c9d3caff.423738","type":"pushover","z":"71002e00.5376a4","name":"\"PUSHOVER\" ALERT to casaria STAFF","device":"","title":"Water heater Alert: Boiler BC temp above threshold: Possible RUNAWAY. Send anybody up On ROOF to kill Gas SUPPLY","priority":"1","sound":"persistent","x":911.4643020629883,"y":432.32141304016113,"wires":[]},{"id":"713e6c4a.6ca9f4","type":"function","z":"71002e00.5376a4","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[0]);\nreturn msg;","outputs":1,"noerr":0,"x":495.96436309814453,"y":214.82141494750977,"wires":[["c8c50954.d6ebc8","5a8a69be.d50868"]]},{"id":"1dd88514.68d14b","type":"switch","z":"71002e00.5376a4","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"160","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":536.9643592834473,"y":457.32141399383545,"wires":[["c9d3caff.423738","d0acee43.e3d5f"],["caf75c08.b447c"],[],[],[]]},{"id":"d0acee43.e3d5f","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820.7143020629883,"y":471.0714750289917,"wires":[]},{"id":"caf75c08.b447c","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"false","complete":"false","x":821.464298248291,"y":508.821475982666,"wires":[]},{"id":"c8c50954.d6ebc8","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":821.7143707275391,"y":378.0714473724365,"wires":[]},{"id":"34b4d09a.58865","type":"inject","z":"71002e00.5376a4","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":209.2143096923828,"y":287.57141494750977,"wires":[["75c0e8a0.ea2248"]]},{"id":"6a4103fa.13ac6c","type":"function","z":"71002e00.5376a4","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\"&\")[1]);\nreturn msg;","outputs":1,"noerr":0,"x":450.25003814697266,"y":141.25000190734863,"wires":[["c8b58d52.4c25e"]]},{"id":"fb7acc81.cbcec","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.9285659790039,"y":433.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"f8e9c521.0f1f98","type":"function","z":"91acd4ad.7bc198","name":"Color magic","func":"var value = Math.round (30+Number(msg.payload)*1.0);\nvar x = value;\nvar r, g, b, i=200;\n\nif (value < 110) {\n        r = 20;\n    g = 30;\n    b = 10;\n    i = 200;\n\n}\nif ((value >= 110)&& (value < 120))  {\n    r = 20;\n    g = 30;\n    b = 80;\n    i = 200;\n}\nif ((value >= 120) && (value < 125)) {\n    r = 40;\n    g = 55;\n    b = 30;\n    i = 180;\n}\n\nif ((value >= 125) && (value < 130)) {\n    r = 80;\n    g = 70;\n    b = 35;\n    i = 180;\n}\n\nif ((value >= 130) && (value < 135)) {\n    r = 135;\n    g = 90;\n    b = 25;\n    i = 185;\n}\n\nif ((value >= 135) && (value < 140)) {\n    r = 145;\n    g = 80;\n    b = 20;\n    i = 120;\n\n}\n\n\n\nif ((value >= 140) && (value < 145)) {\n   r = 190;\n    g = 90;\n    b = 5;\n    i = 180;\n  \n \n}\n\nif ((value >= 145) && (value < 150)) {\n  \n    r = 90;\n    g = 50;\n    b = 40;\n    i = 180;\n  \n}\n\nif ((value >= 150) && (value < 155)) {\n\n    r = 120;\n    g = 60;\n    b = 70;\n    i = 170; \n    \n\n}\n\nif ((value >= 155) && (value < 160)) {\n    \n    r = 120;\n    g = 30;\n    b = 60;\n    i = 165; \n    \n\n}\n\nif ((value >= 160) && (value < 165)) {\n     r = 190;\n    g = 70;\n    b = 10;\n    i = 210;\n}\n\nif ((value >= 165) && (value < 170)) {\n    r = 200;\n    g = 40;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 170) && (value < 175)) {\n    r = 220;\n    g = 35;\n    b = 5;\n    i = 230;\n}\n\nif ((value >= 175) && (value < 180)) {\n    r = 240;\n    g = 30;\n    b = 0;\n    i = 255;\n}\nif (value >= 180) {\n    r = 255;\n    g = 0;\n    b = 0;\n    i = 255;\n}\n\n if (r < 0) r=0;\n if (g < 0) g=0;\n if (b < 0) b=0;\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[60],  //30\n\tbri:[i],\n\trgb:[r, g, b]\n}\n\nmsg2 = {};\nmsg2.payload = value;\nreturn [msg, msg2];\t","outputs":"2","noerr":0,"x":365.9285583496094,"y":469.8571472167969,"wires":[["84e9262f.6d65b8","5f9ae19f.13b7"],["a5e83ea2.25b8b"]]},{"id":"a5e83ea2.25b8b","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":800.4285659790039,"y":491.85713958740234,"wires":[]},{"id":"109e814c.7f39cf","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"false","complete":"false","x":412.4285583496094,"y":192.42858123779297,"wires":[]},{"id":"90a49e76.043b6","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":822,"y":168,"wires":[]},{"id":"2583a775.ee8e38","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":820,"y":209,"wires":[]},{"id":"ab9548b6.472598","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":504.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"ca44a68a.85d8d8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":292.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"570ab683.778a18","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"110","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":257.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"175c8506.333abb","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"145","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":468.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"8c406a8a.26f808","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":576.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"903687bd.0877d8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"155","payloadType":"num","repeat":"","crontab":"","once":false,"x":115.4285659790039,"y":540.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"c0609945.8c5228","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"165","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":613.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"1f12ce18.9fec42","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"170","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":652.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"6bebbf5c.c38e5","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"135","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":398.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"9e91aba2.fc25f8","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":363.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"39258a77.2d4076","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"125","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.4285659790039,"y":327.85713958740234,"wires":[["f8e9c521.0f1f98"]]},{"id":"3a2851c4.35c0ae","type":"inject","z":"91acd4ad.7bc198","name":"","topic":"","payload":"175","payloadType":"num","repeat":"","crontab":"","once":false,"x":116.4285659790039,"y":688.8571395874023,"wires":[["f8e9c521.0f1f98"]]},{"id":"c8b58d52.4c25e","type":"debug","z":"71002e00.5376a4","name":"","active":false,"console":"true","complete":"payload","x":819,"y":262,"wires":[]},{"id":"720f3f3d.c0002","type":"bigtimer","z":"89a8a4b8.bff9d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 2","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"480","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":296.21093368530273,"y":52.397647857666016,"wires":[["37ef252b.8b5bea"],[],[]]},{"id":"4049ed4.b18c214","type":"bigtimer","z":"89a8a4b8.bff9d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 1","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"465","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":116,"y":56,"wires":[["37ef252b.8b5bea"],[],[]]},{"id":"cc228797.b51ce8","type":"bigtimer","z":"89a8a4b8.bff9d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 4","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"555","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":298.1175842285156,"y":129.5421905517578,"wires":[["37ef252b.8b5bea"],[],[]]},{"id":"735b2b54.a03124","type":"bigtimer","z":"89a8a4b8.bff9d8","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer 3","lat":"33.93538","lon":"-118.416653","start":"sunrise","end":"sunset","starttime":"600","endtime":"10001","outtext1":"","outtext2":"","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":true,"dec":false,"repeat":false,"atstart":false,"x":118,"y":132,"wires":[["37ef252b.8b5bea"],[],[]]},{"id":"8aad4c3e.28833","type":"e-mail","z":"89a8a4b8.bff9d8","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email","x":726.5,"y":575,"wires":[]},{"id":"4b5dcf98.5b76e","type":"template","z":"89a8a4b8.bff9d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rooftop water heater ignition unit reset issued","x":542.5,"y":439,"wires":[["64c94cbb.11e2c4"]]},{"id":"64c94cbb.11e2c4","type":"template","z":"89a8a4b8.bff9d8","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Timed reset event - executed","x":679.5,"y":438,"wires":[["8aad4c3e.28833","5424f20f.07760c"]]},{"id":"5424f20f.07760c","type":"debug","z":"89a8a4b8.bff9d8","name":"","active":false,"console":"false","complete":"true","x":816.5,"y":530,"wires":[]},{"id":"3fb2041e.06dafc","type":"pushover","z":"89a8a4b8.bff9d8","name":"","device":"","title":"RESET Event","priority":0,"sound":"echo","x":564.5,"y":348,"wires":[]},{"id":"1018a1b5.c8282e","type":"function","z":"486564dd.17cbac","name":"FC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":499,"y":101,"wires":[["7370bba5.c1ce54","47f48d48.1a8604"],["bacd9f75.e6bf4"],[]]},{"id":"dd285417.6215e8","type":"influxdb out","z":"486564dd.17cbac","influxdb":"2dc046e1.06d33a","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":813.0000610351562,"y":209,"wires":[]},{"id":"b8eb0e1c.5755d","type":"function","z":"486564dd.17cbac","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":440.50000762939453,"y":209.25000381469727,"wires":[["dd285417.6215e8","6ad12a4e.0a8a04"]]},{"id":"bf6f29c.83d55d8","type":"function","z":"486564dd.17cbac","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":471,"y":152,"wires":[[],[],[]]},{"id":"6ad12a4e.0a8a04","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":779.361083984375,"y":255.83331298828125,"wires":[]},{"id":"17c07a79.b9e8d6","type":"inject","z":"486564dd.17cbac","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":150,"wires":[["a56d3a2b.4e4458"]]},{"id":"b03097f9.da3768","type":"debug","z":"486564dd.17cbac","name":"","active":false,"console":"true","complete":"payload","x":351,"y":342,"wires":[]},{"id":"a56d3a2b.4e4458","type":"function","z":"486564dd.17cbac","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":234.5,"y":217,"wires":[["b8eb0e1c.5755d","b03097f9.da3768"]]},{"id":"4eb9adbf.97e734","type":"ParticleSSE in","z":"a49e555b.89ba38","baseurl":"6519fb1.fe0ed04","evtname":"dsCombi","devid":"bc-liquor","x":176.0994415283203,"y":80.09091186523438,"wires":[["52a7279b.42ab98","e9c4808c.06e03","1c880565.c631fb"]]},{"id":"3eec312a.9ffa9e","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"eb6a90a9.3896a","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-LIQUOR","x":866.6551513671875,"y":68.31314086914062,"wires":[]},{"id":"568b7732.e6e308","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":822.5440139770508,"y":134.74341344833374,"wires":[]},{"id":"86fe5d22.657f","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"cbe910a4.e155f","name":"EVENTS -> InfluxDB","measurement":"EVENTS","x":858.0995025634766,"y":206.59091901779175,"wires":[]},{"id":"c5fb0a8.83e79f8","type":"function","z":"a49e555b.89ba38","name":"Treshold/Trigger","func":"var value = Math.round (Number(msg.payload.Temp1));\nvar x = value;\nmsg1 = {};\n\nif (value <= 120) {\n  msg1.payload={\n    time: (msg.payload.time),\n    warn: [true],\n    desc: 'Temp below threshold: '+ msg.payload.Temp1,\n  }\n  return(msg1);\n}\n\nreturn;\t","outputs":1,"noerr":0,"x":555.5994415283203,"y":200.59091901779175,"wires":[["86fe5d22.657f","edfe8be4.f7c9f8"]]},{"id":"52a7279b.42ab98","type":"function","z":"a49e555b.89ba38","name":"Data Spilt and plausibility","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":516.0994415283203,"y":149.59091901779175,"wires":[[],[],[]]},{"id":"edfe8be4.f7c9f8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":817.4605331420898,"y":253.42423582077026,"wires":[]},{"id":"696208b0.e0ae08","type":"inject","z":"a49e555b.89ba38","name":"","topic":"msg.payload","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.0994415283203,"y":147.59091901779175,"wires":[["89282d0c.4f9cb","c2da46de.9a88b8"]]},{"id":"6d0c59e4.5493f8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":396.0994415283203,"y":339.59091901779175,"wires":[]},{"id":"89282d0c.4f9cb","type":"function","z":"a49e555b.89ba38","name":"","func":"msg2={};\nmsg2.payload = {\n    time: msg.payload,\n    Temp1: 115.5,\n    Temp2: 100.9,\n}\nreturn msg2;","outputs":1,"noerr":0,"x":279.5994415283203,"y":214.59091901779175,"wires":[["c5fb0a8.83e79f8","6d0c59e4.5493f8"]]},{"id":"e9c4808c.06e03","type":"function","z":"a49e555b.89ba38","name":"BC LIQUOR Riser Temperatures","func":"var toffset = 0.0;\nvar s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\nif (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1: toffset + Number ( fields[0]),\n    Temp2: toffset + Number ( fields[1])\n}\nmsg3. payload={\n    errCount1: fields[2],\n    errCount2: fields[3],\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":532.0994873046875,"y":89.5,"wires":[["3eec312a.9ffa9e","568b7732.e6e308","e8b92b47.0bb438"],[],[]]},{"id":"1c880565.c631fb","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":482,"y":20,"wires":[]},{"id":"c2da46de.9a88b8","type":"debug","z":"a49e555b.89ba38","name":"","active":false,"console":"true","complete":"payload","x":407,"y":436,"wires":[]},{"id":"ebc7d992.174108","type":"ParticleSSE in","z":"91acd4ad.7bc198","baseurl":"49a2ab77.452664","evtname":"dsCombi","devid":"bc-shower","x":164.75,"y":201.00000250339508,"wires":[["7b1d0150.adb59","6857652a.f84e2c"]]},{"id":"5a8a69be.d50868","type":"delay","z":"71002e00.5376a4","name":"Rate limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":242.25,"y":434.2500066757202,"wires":[["1dd88514.68d14b"]]},{"id":"6857652a.f84e2c","type":"function","z":"91acd4ad.7bc198","name":"payload (temp) -> number","func":"var fields = msg.payload.split('&');\nmsg.payload = Number (fields[1]);\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":700,"wires":[["1f797be0.2e5a54","988675cb.025288"]]},{"id":"b65534da.c96348","type":"delay","z":"91acd4ad.7bc198","name":"rate limit 5min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"12","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":607.5,"y":553,"wires":[["c0bd597.58eeca8","e6d7c2ae.077d7"]]},{"id":"e6d7c2ae.077d7","type":"debug","z":"91acd4ad.7bc198","name":"","active":false,"console":"true","complete":"payload","x":800,"y":590,"wires":[]},{"id":"eb9e7be.f6e8d88","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":842,"y":107,"wires":[]},{"id":"f0af14bb.724d78","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"ecb39123.a1917","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":845.1110992431641,"y":181.88888549804688,"wires":[]},{"id":"74dd952a.cdd65c","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.A0","x":834.8889007568359,"y":144.55555605888367,"wires":[]},{"id":"eda0e6b6.a05758","type":"influxdb out","z":"91acd4ad.7bc198","influxdb":"f2ea9629.00be88","name":"InfluxDB @ an.casaria.net","measurement":"lucky-surfer.IO","x":836.7500152587891,"y":68.25,"wires":[]},{"id":"c80fa560.101598","type":"influxdb out","z":"71002e00.5376a4","influxdb":"29282b82.8d1c54","name":"InfluxDB @ an.casaria.net","measurement":"BC-SHOWER","x":857.0833854675293,"y":53.5,"wires":[]},{"id":"47f48d48.1a8604","type":"influxdb out","z":"486564dd.17cbac","influxdb":"92989d38.a1a76","name":"InfluxDB @ an.casaria.net","measurement":"FC-LIQUOR","x":819,"y":42,"wires":[]},{"id":"e8b92b47.0bb438","type":"influxdb out","z":"a49e555b.89ba38","influxdb":"2419e993.a5b706","name":"InfluxDB @ an.casaria.net","measurement":"BC-LIQUOR","x":855,"y":28,"wires":[]},{"id":"f2f5e881.62d568","type":"inject","z":"5ef053be.d90c4c","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":920,"wires":[["a898ec3f.98d06"]]},{"id":"c71c14aa.4358a8","type":"inject","z":"5ef053be.d90c4c","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":187.09219360351562,"y":842.7577390670776,"wires":[["a898ec3f.98d06"]]},{"id":"9e89ed8f.eba4f","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":880,"wires":[["a898ec3f.98d06"]]},{"id":"4e0291a1.c3aaf","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":960,"wires":[["a898ec3f.98d06"]]},{"id":"2ce4b029.5369","type":"inject","z":"5ef053be.d90c4c","name":"WHITE ALL OFF","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":1040,"wires":[["a898ec3f.98d06"]]},{"id":"8a4cb2b0.9c6f3","type":"inject","z":"5ef053be.d90c4c","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1000,"wires":[["a898ec3f.98d06"]]},{"id":"b3d683bb.858ad","type":"inject","z":"5ef053be.d90c4c","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1160,"wires":[["5c1f63d3.cd8a3c","a898ec3f.98d06"]]},{"id":"8bc82e32.7437d","type":"switch","z":"89a8a4b8.bff9d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":210.14286041259766,"y":529.7142639160156,"wires":[[]]},{"id":"1617ddcb.b7ada2","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-SENS-N","x":218.5714111328125,"y":768.5714149475098,"wires":[["713a9b60.d27494"]]},{"id":"713a9b60.d27494","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-SENS-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\ncolor = fields[2];\n\nif (color != context.flow.casaria.LHN.COLOR)\n{\n    \n} else {\n    color = \"\";\n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHN.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHN.COLOR = color;\n\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2];\n\nif (Number(fields[0])<=2.0) fields[0] = '0.0';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: color,\n    strValue: \"LHLAX-SENS-N\",\n}\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]),\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":579.7912673950195,"y":842.6042003631592,"wires":[["a138a849.7ad6a8"],["8630f5a3.792e98","67918834.5132e8","eb6d367a.4ed188","36fb38b1.09ca68","c559d1b5.bc4c3","b040866.b297b78"],["389331c2.15b84e","36fb38b1.09ca68","591b6ccc.dc70a4"],["45802b0b.8e74d4"]]},{"id":"a138a849.7ad6a8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-SENS-N","x":971.9999847412109,"y":718,"wires":[]},{"id":"8630f5a3.792e98","type":"function","z":"5ef053be.d90c4c","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHN.COOL_SP1;\nvar dif = context.flow.casaria.LHN.SP2_DIF;\nvar mode = context.flow.casaria.LHN.COLOR;\nvar T_RT = context.flow.casaria.LHN.T_RT;\nvar HEAT = context.flow.casaria.LHN.HEAT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHN.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHN.HEAT_SP;\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg3.payload = HEAT;\n\nif (T_RT < (coolsp - 1.50)) {\n    msg3.payload = \"GREEN\";\n} else {\n    msg3.payload = \"WHITE\";\n}\nif (temp < coolsp -.2) {\n    msg3.payload = \"WHITE\";\n} \ncontext.flow.casaria.LHN.RTN_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp > (coolsp + 0.3))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-.1))\n    msg3.payload = \"ORANGE\";\n    \n\n  \n    \nif (temp < heat_sp)\n    msg3.payload = \"RED\" ;\n\n//    msg3.payload = \"GREEN\";\n\ncontext.flow.casaria.LHN.RTN_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHN.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":988.0582885742188,"y":930.1361360549927,"wires":[["ac45dbd8.ccd178","bd1305a2.7d5298"],["304752b7.b37e7e"],["21d8f4ae.8c812c"]]},{"id":"738327e2.01cd98","type":"mqtt out","z":"5ef053be.d90c4c","name":"Publish MQTT LH-N","topic":"LH-N","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":684.5329437255859,"y":970.2972679138184,"wires":[]},{"id":"21d8f4ae.8c812c","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1270,"y":980,"wires":[]},{"id":"f247a008.606ad","type":"delay","z":"5ef053be.d90c4c","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"120","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1146.6667175292969,"y":341.66668033599854,"wires":[["93dd2b4a.fc6b58","e7631d20.15c75"]]},{"id":"ac45dbd8.ccd178","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"true","x":1253,"y":896,"wires":[]},{"id":"94b88ee0.a3c03","type":"ui_slider","z":"5ef053be.d90c4c","name":"","group":"ec1edd3e.a3fb7","order":2,"topic":"COOL_SP1","min":"18.5","max":"28.5","x":670.0000305175781,"y":176.33334159851074,"wires":[["46b5d068.9f115","db055da6.1779c","e3b2d44f.9a4028"]]},{"id":"aff8260e.0a13a8","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-RT-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2,msg3,msg4]\n\nif ((Number(fields[0]) < 0) || (Number(fields[0] < 0))) \n   return [msg1,msg2, msg3, msg4];\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    strValue: \"LHLAX-RT-N\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":550,"y":1320,"wires":[["c19a5bcd.44e2b8","66692565.a6fe6c"],["75e700f8.cd2b9"],["75e700f8.cd2b9"],["75e700f8.cd2b9","d23063ab.29228","7147b78.6ae3748"]]},{"id":"a8abe5b9.022988","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-RT9","x":178.57142639160156,"y":1318.571388244629,"wires":[["aff8260e.0a13a8"]]},{"id":"c19a5bcd.44e2b8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-RT-N","x":960,"y":1280,"wires":[]},{"id":"66692565.a6fe6c","type":"function","z":"5ef053be.d90c4c","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHN.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":950,"y":1340,"wires":[["47d658a2.aac798"],[],[]]},{"id":"5c1f63d3.cd8a3c","type":"openweathermap","z":"5ef053be.d90c4c","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","x":567.1666603088379,"y":1152.6666345596313,"wires":[["7e514c8b.765664","bce0d699.739ff8","6f792f19.e493c"]]},{"id":"7e514c8b.765664","type":"pushover","z":"5ef053be.d90c4c","name":"Push weahther","device":"","title":"","priority":0,"sound":"pushover","x":940,"y":1100,"wires":[]},{"id":"67918834.5132e8","type":"mqtt out","z":"5ef053be.d90c4c","name":"Mosca TEMP T1","topic":"LHN-T1","qos":"1","retain":"true","broker":"d02e3971.fec758","x":1195.7142791748047,"y":750.0000133514404,"wires":[]},{"id":"eb6d367a.4ed188","type":"ui_gauge","z":"5ef053be.d90c4c","name":"Actual Temp (1st Floor)","group":"ec1edd3e.a3fb7","order":4,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"35","colors":["#88b557","#e658d8","#ca5553"],"seg1":"","seg2":"","x":970,"y":978.5714559555054,"wires":[]},{"id":"36fb38b1.09ca68","type":"ui_chart","z":"5ef053be.d90c4c","name":"Temp","group":"ec1edd3e.a3fb7","order":9,"width":"","height":"","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"basis","nodata":"","ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":910,"y":878.5714559555054,"wires":[[],[]]},{"id":"428406ce.fc6238","type":"ui_switch","z":"5ef053be.d90c4c","name":"Smart Energy Saver","label":"","group":"ec1edd3e.a3fb7","order":3,"width":"","height":"","passthru":true,"decouple":"false","topic":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":714.0000076293945,"y":63.333380699157715,"wires":[["ecbc6af6.38ce28"]]},{"id":"165cd0df.df337f","type":"ParticleVar","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","devid":"LHLAX-RT8","getvar":"Color","repeat":"60","x":170,"y":1400,"wires":[["99ec7988.dddac8","4b92cfbd.0a233"]]},{"id":"389331c2.15b84e","type":"mqtt out","z":"5ef053be.d90c4c","name":"Mosca-HUM H1","topic":"LHN-H1","qos":"1","retain":"true","broker":"d02e3971.fec758","x":1184.2857284545898,"y":801.4286012649536,"wires":[]},{"id":"46b5d068.9f115","type":"ui_text","z":"5ef053be.d90c4c","group":"ec1edd3e.a3fb7","order":1,"width":"","height":"","name":"Set point","label":"","format":"{{msg.payload}}","layout":"","x":893.0000343322754,"y":146.33331966400146,"wires":[]},{"id":"99ec7988.dddac8","type":"function","z":"5ef053be.d90c4c","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-N\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-N\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":400,"y":1400,"wires":[["eb1b2665.d2fce8"],[]]},{"id":"eb1b2665.d2fce8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":590,"y":1400,"wires":[]},{"id":"e3b2d44f.9a4028","type":"function","z":"5ef053be.d90c4c","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\n   \ncontext.flow.casaria.LHN.COOL_SP1= temp;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":959.333251953125,"y":200.76187419891357,"wires":[["11fa8782.66fb08","8b806856.ea1888"]]},{"id":"c559d1b5.bc4c3","type":"function","z":"5ef053be.d90c4c","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles', hour12:false, day: 'numeric' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg3.payload = Number(datestr);\n\n\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHN.TEST_MODE) {\n    msg1.payload = context.flow.casaria.LHN.MODE_NORM;\n    return [msg1, msg2, msg3];\n}\n\n\nif ((time_now < \"20:00\") & (time_now > \"03:59\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\ncontext.flow.casaria.LHN.MODE_NORM = msg1.payload; \nreturn [msg1,msg2, msg3];","outputs":"3","noerr":0,"x":507.5850944519043,"y":655.0429792404175,"wires":[["4c5c6b05.b746a4","81efed58.e2e32","a5b8c853.fe2468","7a80728a.ea7a2c"],["3185569e.3446ea"],["b277bae8.b9a8c8","683ee6d1.248118"]]},{"id":"93dd2b4a.fc6b58","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1370,"y":340,"wires":[]},{"id":"4c5c6b05.b746a4","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"true","complete":"payload","x":930,"y":500,"wires":[]},{"id":"212c122e.68c26e","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1540,"wires":[["4680ce88.6213b"]]},{"id":"4680ce88.6213b","type":"function","z":"5ef053be.d90c4c","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1540,"wires":[["effde750.252038"]]},{"id":"effde750.252038","type":"debug","z":"5ef053be.d90c4c","name":"show","active":true,"console":"false","complete":"payload","x":670,"y":1560,"wires":[]},{"id":"2abfaefc.d4bdf2","type":"inject","z":"5ef053be.d90c4c","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":140,"y":1580,"wires":[["7b1f0dde.27dbe4"]]},{"id":"aed5eae4.1e3798","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["effde750.252038"]]},{"id":"1ecc014a.a669cf","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1620,"wires":[["aed5eae4.1e3798"]]},{"id":"7b1f0dde.27dbe4","type":"function","z":"5ef053be.d90c4c","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":350,"y":1580,"wires":[["effde750.252038"]]},{"id":"19ba8ed5.07e6d1","type":"function","z":"5ef053be.d90c4c","name":"context.flow","func":"var msg1={}, msg2={}, msg3={}, msg4={}, msg5{}, msg6={};\n\n//msg1.payload = casaria;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHN.COOL_SP1;\nmsg2.payload = msg.payload.LHN.SMART;\nmsg3.payload = msg.payload.LHN.GOOGLE;\nmsg4.payload = msg.payload.LHN.COOL;\nmsg5.payload = msg.payload.LHN.TEST;\n\n\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":"5","noerr":0,"x":477.1429138183594,"y":144.76193046569824,"wires":[["94b88ee0.a3c03","4a058c8d.d32a94","170b233e.e9b87d"],["428406ce.fc6238"],["f671512a.11f55"],["b7bae677.014708"],["a2f5e3c5.6103f"]]},{"id":"47d658a2.aac798","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":1340,"wires":[]},{"id":"591b6ccc.dc70a4","type":"ui_gauge","z":"5ef053be.d90c4c","name":"Actual Humidity (1st Floor)","group":"ec1edd3e.a3fb7","order":5,"format":"{{value}}","min":"10","max":"100","x":980,"y":1018.5714559555054,"wires":[]},{"id":"13344dfa.c99a72","type":"mqtt out","z":"5ef053be.d90c4c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":1503.3335189819336,"y":221.6666603088379,"wires":[]},{"id":"11fa8782.66fb08","type":"json","z":"5ef053be.d90c4c","name":"","x":1155.0000495910645,"y":239.9999885559082,"wires":[["b685d916.9649b8"]]},{"id":"794a7144.4129e","type":"inject","z":"5ef053be.d90c4c","name":"STORE 23.0","topic":"","payload":"23.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":488.33329010009766,"y":204.99999237060547,"wires":[["94b88ee0.a3c03"]]},{"id":"ef22110d.c30d4","type":"json","z":"5ef053be.d90c4c","name":"","x":292.66664123535156,"y":207.6666717529297,"wires":[["19ba8ed5.07e6d1","bba05c9f.cf597"]]},{"id":"7a0417f3.4ff8e8","type":"mqtt in","z":"5ef053be.d90c4c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","broker":"c11dd00d.e4025","x":158.33333587646484,"y":128.33333587646484,"wires":[["37e59449.4ac10c"]]},{"id":"3185569e.3446ea","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":540,"wires":[]},{"id":"b040866.b297b78","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":930,"y":760,"wires":[]},{"id":"94effe12.f1b57","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1115.7143325805664,"y":292.8571424484253,"wires":[]},{"id":"bba05c9f.cf597","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":466.6666946411133,"y":78.57142448425293,"wires":[]},{"id":"a5b8c853.fe2468","type":"function","z":"5ef053be.d90c4c","name":"on / off select color","func":"if (msg.payload) {\n  context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_ON_COLOR;\n}\nelse {\n   context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_OFF_COLOR;\n}\nmsg.payload = context.flow.casaria.LHN.COLOR;\nreturn msg;","outputs":1,"noerr":0,"x":918.3333168029785,"y":321.66668033599854,"wires":[["94effe12.f1b57","f247a008.606ad"]]},{"id":"75e700f8.cd2b9","type":"ui_chart","z":"5ef053be.d90c4c","name":"Roof top","group":"ec1edd3e.a3fb7","order":6,"width":"","height":"","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"No Data","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":920.0000152587891,"y":1393.750020980835,"wires":[[],[]]},{"id":"b277bae8.b9a8c8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":580,"wires":[]},{"id":"4a058c8d.d32a94","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":685,"y":110.89285850524902,"wires":[]},{"id":"4b92cfbd.0a233","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":410,"y":1440,"wires":[]},{"id":"d23063ab.29228","type":"ui_text","z":"5ef053be.d90c4c","group":"ec1edd3e.a3fb7","order":10,"name":"System Mode Color","format":"{{msg.payload}}","x":959.9999732971191,"y":1431.6666419506073,"wires":[]},{"id":"bc493cd7.4347a","type":"function","z":"5ef053be.d90c4c","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"BLUE\";\nelse \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"PURPLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":620,"wires":[["bd1305a2.7d5298"]]},{"id":"bd1305a2.7d5298","type":"function","z":"5ef053be.d90c4c","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":940.0000152587891,"y":246.6666603088379,"wires":[["11fa8782.66fb08"]]},{"id":"683ee6d1.248118","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":910,"y":620,"wires":[["bc493cd7.4347a","45324474.2213cc"]]},{"id":"7147b78.6ae3748","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":930,"y":1480,"wires":[]},{"id":"304752b7.b37e7e","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":940,"wires":[]},{"id":"f712fc83.4af6a","type":"google calendar in","z":"5ef053be.d90c4c","google":"56a28459.e8ea8c","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":160,"y":300,"wires":[["affaa061.beb71","9f3bd4f3.1061e8","e0972f52.938d3"]]},{"id":"affaa061.beb71","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":572,"y":306,"wires":[]},{"id":"9f3bd4f3.1061e8","type":"function","z":"5ef053be.d90c4c","name":"Parse Calendar TEMP","func":"var msg1;\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\n\nreturn [msg1];","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["c585fdcd.9359d","94b88ee0.a3c03"]]},{"id":"c585fdcd.9359d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":670,"y":260,"wires":[]},{"id":"bce0d699.739ff8","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":930,"y":1135,"wires":[]},{"id":"d13394b6.92a8b8","type":"comment","z":"5ef053be.d90c4c","name":"LUFTHANSA CARGO LAX 1st and 2nd Floor HVAC control","info":"","x":270,"y":40,"wires":[]},{"id":"6f792f19.e493c","type":"e-mail","z":"5ef053be.d90c4c","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email Energy Report to Todor","x":978.3333129882812,"y":1175.000005722046,"wires":[]},{"id":"45324474.2213cc","type":"ui_template","z":"5ef053be.d90c4c","group":"ec1edd3e.a3fb7","name":"","order":8,"width":"","height":"","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1286.6667022705078,"y":656.6666927337646,"wires":[[]]},{"id":"76c15d8.4af59a4","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":770,"y":660,"wires":[["45324474.2213cc"]]},{"id":"45802b0b.8e74d4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":910.0624694824219,"y":1056.2617168426514,"wires":[]},{"id":"81efed58.e2e32","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":755.6665649414062,"y":322.66668701171875,"wires":[["a5b8c853.fe2468"]]},{"id":"521001fc.73f57","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":635.833381652832,"y":1084.1666412353516,"wires":[]},{"id":"a898ec3f.98d06","type":"function","z":"5ef053be.d90c4c","name":"TEST True","func":"if (context.flow.casaria.LHN.TEST) {\n  return msg;\n    \n}else {}","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["738327e2.01cd98","521001fc.73f57"]]},{"id":"e7631d20.15c75","type":"function","z":"5ef053be.d90c4c","name":"TEST False","func":"if (!context.flow.casaria.LHN.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":429.58335876464844,"y":907.4999961853027,"wires":[["521001fc.73f57","738327e2.01cd98"]]},{"id":"a676a095.e035d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1185,"y":411,"wires":[]},{"id":"7a80728a.ea7a2c","type":"function","z":"5ef053be.d90c4c","name":"","func":"if (msg.payload){\n  msg.payload=\"on\"  \n}else {\n  msg.payload=\"off\";\n}  \nreturn msg;","outputs":1,"noerr":0,"x":828.3333053588867,"y":416.6666622161865,"wires":[[]]},{"id":"e0972f52.938d3","type":"json","z":"5ef053be.d90c4c","name":"","x":291.42855072021484,"y":358.8095245361328,"wires":[["1cc90c29.561df4"]]},{"id":"1cc90c29.561df4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":571.6666259765625,"y":341.6666564941406,"wires":[]},{"id":"bf998c1e.e3543","type":"inject","z":"15122530.eaeddb","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":293.00000381469727,"y":925.6667232513428,"wires":[["644fea9e.490a84"]]},{"id":"c97fb53.1c76648","type":"inject","z":"15122530.eaeddb","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":322,"y":851.6666870117188,"wires":[["644fea9e.490a84"]]},{"id":"f78178b2.540388","type":"inject","z":"15122530.eaeddb","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.75000381469727,"y":887.9167232513428,"wires":[["644fea9e.490a84"]]},{"id":"11d90e4b.3e0042","type":"inject","z":"15122530.eaeddb","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":334,"y":961.6666870117188,"wires":[["644fea9e.490a84"]]},{"id":"dd1fc50.7650838","type":"inject","z":"15122530.eaeddb","name":"WHITE(ALL OFF)","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":294,"y":1035.6666870117188,"wires":[["644fea9e.490a84"]]},{"id":"e1f6c2a.331154","type":"inject","z":"15122530.eaeddb","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":324.08334732055664,"y":998.2500379085541,"wires":[["644fea9e.490a84"]]},{"id":"f850f214.51c67","type":"inject","z":"15122530.eaeddb","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":273.99998474121094,"y":1073.0000247955322,"wires":[["abd01830.ccd228","644fea9e.490a84"]]},{"id":"52a1a748.e59b48","type":"ParticleSSE in","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","evtname":"dsCombi","devid":"LHLAX-SENS-S2","x":334,"y":741.6666870117188,"wires":[["e0e56732.5e2c38"]]},{"id":"e0e56732.5e2c38","type":"function","z":"15122530.eaeddb","name":"LHLAX-SENS-STemperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\ncolor = fields[2];\n\nif (color != context.flow.casaria.LHS.COLOR)\n{\n    \n} else {\n    color = \"ORANGE\";\n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHS.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHS.COLOR = color;\n\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\n//if (Number(fields[0])<=2.0) fields[0] = '0.0';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]) -0.0,\n    Humidity:  Number ( fields[1]),\n    Color: color,\n    strValue: \"LHLAX-SENS-S\",\n    metric: Number (fields[0]) - 0.0,\n    geohash: \"9q5c1dcs168d\",\n}\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]) -0.0,\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":664,"y":741.6666870117188,"wires":[["c16a7894.549f68"],["ed6c780b.0401f8","834e9064.6608c","120cbc6d.694de4","d5f0d43e.3e0bd8","89f404c5.72cb08"],["120cbc6d.694de4","1deb7beb.200274"],[]]},{"id":"c16a7894.549f68","type":"influxdb out","z":"15122530.eaeddb","influxdb":"a81a4392.88e46","name":"","measurement":"LHLAX-SENS-S","x":1104,"y":721.6666870117188,"wires":[]},{"id":"ed6c780b.0401f8","type":"function","z":"15122530.eaeddb","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHS.COOL_SP1;\nvar dif = context.flow.casaria.LHS.SP2_DIF;\nvar mode = context.flow.casaria.LHS.COLOR;\nvar vacant = !context.flow.casaria.LHS.OCCUPIED;\nvar T_RT = context.flow.casaria.LHS.T_RT;\nvar HEAT = context.flow.casaria.LHS.HEAT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHS.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHS.HEAT_SP;\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg4.payload ={\n    Vacant : vacant,\n};\n\nif (T_RT < (coolsp - 3.0)) {\n    if (temp >= coolsp){\n        msg3.payload = \"GREEN\";\n    }else {\n        msg3.payload = \"WHITE\";\n    }\n} else {\n    msg3.payload = \"WHITE\";\n}\n\ncontext.flow.casaria.LHS.RTS_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp > (coolsp + 0.2))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-.1))\n    msg3.payload = \"ORANGE\";\n    \n \nif (temp < context.flow.casaria.LHS.HEAT_N)\n    msg3.payload = \"RED\" ;\n    \n \n   \n//    msg3.payload = \"GREEN\";\ncontext.flow.casaria.LHS.RTS_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHS.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3];","outputs":"4","noerr":0,"x":1124.000015258789,"y":973.6667098999023,"wires":[["1c9386b1.5744d9","2f4b01b3.a84c1e"],["cbd550d2.a78cc"],["b7aa53bd.13caf"],["e1856970.878828"]]},{"id":"7fc9fdd6.3eb194","type":"mqtt out","z":"15122530.eaeddb","name":"Publish MQTT LH-S","topic":"LH-S","qos":"1","retain":"true","broker":"9e783c4b.37835","x":830.6666717529297,"y":1021.6666469573975,"wires":[]},{"id":"b7aa53bd.13caf","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":1404,"y":981.6666870117188,"wires":[]},{"id":"2729fe24.a56572","type":"delay","z":"15122530.eaeddb","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1351.5000305175781,"y":321.6666851043701,"wires":[["d023a092.ec47a","161689c5.caf0c6"]]},{"id":"1c9386b1.5744d9","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"true","x":1384,"y":901.6666870117188,"wires":[]},{"id":"20c8b7c0.b458f8","type":"ui_slider","z":"15122530.eaeddb","name":"COOL","label":"COOL SP","group":"2e31eede.e44912","order":"1","width":"","height":"","passthru":true,"topic":"COOL_SP1","min":"18.5","max":"28.5","step":"0.5","x":804,"y":201.66668701171875,"wires":[["45c28189.adcec","4c7e3cf4.c82f54"]]},{"id":"ed6719ab.92f848","type":"function","z":"15122530.eaeddb","name":"LHLAX-RT-S Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2,msg3,msg4]\n\nif ((Number(fields[0]) < 0) || (Number(fields[0] < 0))) \n   return [msg1,msg2, msg3, msg4];\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    strValue: \"LHLAX-RT-S\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":581.6666717529297,"y":1321.6666374206543,"wires":[["a2246a55.bdbf08","73ed8d29.1bfbb4"],["d4a94d41.f33f"],["d4a94d41.f33f"],["a205f842.aa75f8","ca4bf35e.e31e3"]]},{"id":"556dc0d2.34fc8","type":"ParticleSSE in","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","evtname":"dsCombi","devid":"LHLAX-RTS2","x":224.1666717529297,"y":1322.4998970031738,"wires":[["ed6719ab.92f848"]]},{"id":"a2246a55.bdbf08","type":"influxdb out","z":"15122530.eaeddb","influxdb":"a81a4392.88e46","name":"","measurement":"LHLAX-RT-S","x":996.2500152587891,"y":1304.1666450500488,"wires":[]},{"id":"73ed8d29.1bfbb4","type":"function","z":"15122530.eaeddb","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHS.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":984.9999847412109,"y":1351.6666641235352,"wires":[["3edb84b2.e02a8c"],[],[]]},{"id":"abd01830.ccd228","type":"openweathermap","z":"15122530.eaeddb","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","x":701.1666603088379,"y":1154.33332157135,"wires":[["ff5bfac2.446e88"]]},{"id":"834e9064.6608c","type":"ui_gauge","z":"15122530.eaeddb","name":"Actual Temp (3rd Floor)","group":"69781dcf.8edba4","order":2,"format":"{{value}}","min":"10","max":"35","x":1104,"y":1021.6666870117188,"wires":[]},{"id":"120cbc6d.694de4","type":"ui_chart","z":"15122530.eaeddb","name":"Temp","group":"2e31eede.e44912","order":"9","width":"4","height":"3","label":"Ambient","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"No Data","ymin":"o","ymax":"40","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1041,"y":914.6666870117188,"wires":[[],[]]},{"id":"a5bc10d4.3138d","type":"ParticleVar","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","devid":"LHLAX-RTS2","getvar":"Color","repeat":"30","x":204.99998474121094,"y":1411.6666641235352,"wires":[["c71b06ca.449aa8","2f20c8de.6418e8"]]},{"id":"45c28189.adcec","type":"ui_text","z":"15122530.eaeddb","group":"2e31eede.e44912","order":"0","width":"","height":"","name":"Set point","label":"Setpoint","format":"{{msg.payload}}","layout":"row-left","x":1013.9999923706055,"y":160.00001525878906,"wires":[]},{"id":"c71b06ca.449aa8","type":"function","z":"15122530.eaeddb","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-S\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-S\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":434.99998474121094,"y":1411.6666641235352,"wires":[["97b6f6fe.3059c8"],[]]},{"id":"97b6f6fe.3059c8","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":624.9999847412109,"y":1411.6666641235352,"wires":[]},{"id":"4c7e3cf4.c82f54","type":"function","z":"15122530.eaeddb","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\ncontext.flow.casaria.LHS.COOL_SP1= temp;\nmsg1.payload = context.flow.casaria;\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1050.6666412353516,"y":208.66669464111328,"wires":[["2f5db91d.dc3446","3240bb9d.028064"]]},{"id":"d5f0d43e.3e0bd8","type":"function","z":"15122530.eaeddb","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles',/* hour12:false,*/ day: 'numeric' }\nvar optionsday = {timeZone:'America/Los_Angeles', weekday: 'short' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar weekday = d.toLocaleDateString(this,optionsday);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nvar \nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg3.payload = Number(datestr);\nmsg4.payload = weekday;\n\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHS.TEST) {\n    msg1.payload = true;\n    return [msg1, msg2, msg3];\n}\n\n\nif ((time_now < \"20:00\") & (time_now > \"04:00\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\n//night mode on Saturday and Sunday\nif ((msg4.payload == \"Sat\") | (msg4.payload == \"Sun\")) {\n    msg1.payload = \"off\";\n}\n//context.flow.casaria.LHS.MODE_NORM = msg1.payload; \ncontext.flow.casaria.LHS.OCCUPIED = msg1.payload; \n\nreturn [msg1,msg2, msg3, msg4];\n","outputs":"4","noerr":0,"x":586.0833358764648,"y":571.2500324249268,"wires":[["152389a8.2c4df6","127e6b6b.92a9b5","e9bc0637.f315c8","739c3a26.ea4724"],["d48d0f94.6f5a1"],["1474c5f7.f36bca","a7388d9e.2fa9e","bb064605.dc2238"],["79af20e4.701cd"]]},{"id":"d023a092.ec47a","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1487.7500381469727,"y":416.6666851043701,"wires":[]},{"id":"152389a8.2c4df6","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1064,"y":501.66668701171875,"wires":[]},{"id":"c3524116.201cb","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":264,"y":1541.6666870117188,"wires":[["3d4e9ae4.68e9c6"]]},{"id":"3d4e9ae4.68e9c6","type":"function","z":"15122530.eaeddb","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":514,"y":1541.6666870117188,"wires":[["7ba4aee.cba695"]]},{"id":"7ba4aee.cba695","type":"debug","z":"15122530.eaeddb","name":"show","active":true,"console":"false","complete":"payload","x":814.0000190734863,"y":1608.3332967758179,"wires":[]},{"id":"93adc091.fc9c1","type":"inject","z":"15122530.eaeddb","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":274,"y":1581.6666870117188,"wires":[["3d92945b.5540fc"]]},{"id":"e9bd21b3.cb93a","type":"function","z":"15122530.eaeddb","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":524,"y":1621.6666870117188,"wires":[["7ba4aee.cba695"]]},{"id":"f6437131.d5d41","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":264,"y":1621.6666870117188,"wires":[["e9bd21b3.cb93a"]]},{"id":"3d92945b.5540fc","type":"function","z":"15122530.eaeddb","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":502.5714416503906,"y":1574.523817062378,"wires":[["7ba4aee.cba695"]]},{"id":"115d796e.fc2e37","type":"function","z":"15122530.eaeddb","name":"context.flow","func":"var msg1 ={}, msg2={}, msg3={};\n\n//msg1.payload = casaria;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHS.COOL_SP1;\nmsg2.payload = msg.payload.LHS.SMART;\n\nmsg3.payload={\n    google: msg.payload.LHS.GOOGLE,\n    cool: msg.payload.LHS.COOL,\n    test: msg.payload.LHS.TEST,\n};\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":604,"y":161.66668701171875,"wires":[["20c8b7c0.b458f8","ae9880cf.33817"],["f289c94.8255838"],[]]},{"id":"3edb84b2.e02a8c","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1304.999984741211,"y":1351.6666641235352,"wires":[]},{"id":"1deb7beb.200274","type":"ui_gauge","z":"15122530.eaeddb","name":"Actual Humidity (3rd Floor)","group":"69781dcf.8edba4","order":1,"format":"{{value}}","min":"10","max":"100","x":1114,"y":1061.6666870117188,"wires":[]},{"id":"f7de3f2f.97865","type":"mqtt out","z":"15122530.eaeddb","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"1","retain":"true","broker":"9e783c4b.37835","x":1637.333366394043,"y":250.00000762939453,"wires":[]},{"id":"2f5db91d.dc3446","type":"json","z":"15122530.eaeddb","name":"","x":1298.000015258789,"y":254.3333511352539,"wires":[["8144331e.ce3d6","a8c3b6c2.5e8438"]]},{"id":"674f3265.4e4d8c","type":"inject","z":"15122530.eaeddb","name":"STORE 24.0","topic":"","payload":"24.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":597.571403503418,"y":210.47621726989746,"wires":[["20c8b7c0.b458f8"]]},{"id":"9b4e9b4b.c51a78","type":"json","z":"15122530.eaeddb","name":"","x":424,"y":141.66668701171875,"wires":[["115d796e.fc2e37","3092f778.2ffd58"]]},{"id":"c1133561.53f3f8","type":"mqtt in","z":"15122530.eaeddb","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"0","broker":"9e783c4b.37835","x":259.2380828857422,"y":243.6309576034546,"wires":[["c89f927b.3f3d1"]]},{"id":"d48d0f94.6f5a1","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1064,"y":541.6666870117188,"wires":[]},{"id":"89f404c5.72cb08","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1064,"y":761.6666870117188,"wires":[]},{"id":"6f84b66d.3e0938","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":1319.0000343322754,"y":287.9166831970215,"wires":[]},{"id":"3092f778.2ffd58","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":605.6666793823242,"y":83.3333568572998,"wires":[]},{"id":"e9bc0637.f315c8","type":"function","z":"15122530.eaeddb","name":"on / off select color","func":"if (msg.payload) {\n    context.flow.casaria.LHS.COLOR =  context.flow.casaria.LHS.RTS_ON_COLOR;\n    \n}\nelse {\n    context.flow.casaria.LHS.COLOR = context.flow.casaria.LHS.RTS_OFF_COLOR;\n}\nmsg.payload = context.flow.casaria.LHS.COLOR;\nreturn msg;","outputs":1,"noerr":0,"x":1082.3333435058594,"y":289.58337116241455,"wires":[["6f84b66d.3e0938","2729fe24.a56572"]]},{"id":"d4a94d41.f33f","type":"ui_chart","z":"15122530.eaeddb","name":"Roof top 2","group":"69781dcf.8edba4","order":4,"interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":964.9999847412109,"y":1411.6666641235352,"wires":[[],[]]},{"id":"1474c5f7.f36bca","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1064,"y":581.6666870117188,"wires":[]},{"id":"ae9880cf.33817","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":821.5000228881836,"y":126.66668891906738,"wires":[]},{"id":"2f20c8de.6418e8","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":444.99998474121094,"y":1451.6666641235352,"wires":[]},{"id":"a205f842.aa75f8","type":"ui_text","z":"15122530.eaeddb","group":"69781dcf.8edba4","order":3,"name":"System Mode Color","format":"{{msg.payload}}","x":994.9999847412109,"y":1451.6666641235352,"wires":[]},{"id":"d828f5be.d35b78","type":"function","z":"15122530.eaeddb","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"BLUE\";\nelse \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"PURPLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1464,"y":621.6666870117188,"wires":[["2f4b01b3.a84c1e"]]},{"id":"2f4b01b3.a84c1e","type":"function","z":"15122530.eaeddb","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":1074.000015258789,"y":248.33334732055664,"wires":[["2f5db91d.dc3446"]]},{"id":"a7388d9e.2fa9e","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1044,"y":621.6666870117188,"wires":[["d828f5be.d35b78","f9cdfb92.f3d998"]]},{"id":"ca4bf35e.e31e3","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":964.9999847412109,"y":1491.6666641235352,"wires":[]},{"id":"cbd550d2.a78cc","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1404,"y":941.6666870117188,"wires":[]},{"id":"c546f983.d43338","type":"google calendar in","z":"15122530.eaeddb","google":"168f0cc9.0bc823","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":294,"y":301.66668701171875,"wires":[["3bb8228a.ccc6fe","3f003992.b2c386","95eb8d0a.02df"]]},{"id":"3bb8228a.ccc6fe","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":584,"y":301.66668701171875,"wires":[]},{"id":"3f003992.b2c386","type":"function","z":"15122530.eaeddb","name":"Parse Calendar TEMP","func":"var msg1;\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\n\nreturn [msg1];","outputs":1,"noerr":0,"x":614,"y":261.66668701171875,"wires":[["5a18c149.56881","20c8b7c0.b458f8"]]},{"id":"5a18c149.56881","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"true","x":804,"y":261.66668701171875,"wires":[]},{"id":"ff5bfac2.446e88","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1064,"y":1136.6666870117188,"wires":[]},{"id":"f3cfef64.4545d","type":"comment","z":"15122530.eaeddb","name":"LUFTHANSA CARGO LAX 3rd Floor HVAC control","info":"","x":284.99998474121094,"y":51.666664123535156,"wires":[]},{"id":"f9cdfb92.f3d998","type":"ui_template","z":"15122530.eaeddb","group":"ec1edd3e.a3fb7","name":"","order":7,"format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1420.6667022705078,"y":658.3333797454834,"wires":[[]]},{"id":"4238f4b3.c5c7ec","type":"inject","z":"15122530.eaeddb","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":1309.000015258789,"y":723.6667098999023,"wires":[["f9cdfb92.f3d998"]]},{"id":"8259bc95.c372e","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"payload","x":805.666690826416,"y":979.9999976158142,"wires":[]},{"id":"86946f6b.fb21","type":"inject","z":"15122530.eaeddb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.99998474121094,"y":431.66666412353516,"wires":[["4e8a6744.a7b808"]]},{"id":"4e8a6744.a7b808","type":"function","z":"15122530.eaeddb","name":"","func":"var msg;\nmsg.payload={\n    google: false,\n    cool: false,\n    test: false,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":324.99998474121094,"y":431.66666412353516,"wires":[["aa375bb8.17dd78"]]},{"id":"aa375bb8.17dd78","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":486.6666259765625,"y":474.9999752044678,"wires":[]},{"id":"127e6b6b.92a9b5","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":818.1665916442871,"y":297.08337211608887,"wires":[["e9bc0637.f315c8"]]},{"id":"9a66b860.31e098","type":"function","z":"15122530.eaeddb","name":"","func":"var msg1, LHS;\nmsg1 ={};\nLHS = {};\ncontext.flow.casaria.LHS.TEST = msg.payload.test;\ncontext.flow.casaria.LHS.COOL = msg.payload.cool;\ncontext.flow.casaria.LHS.GOOGLE = msg.payload.google;\n\nreturn msg1;","outputs":1,"noerr":0,"x":819.0000228881836,"y":396.66667556762695,"wires":[["2f4b01b3.a84c1e"]]},{"id":"70323bcf.70d144","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":814.8334007263184,"y":1087.0834140777588,"wires":[]},{"id":"644fea9e.490a84","type":"function","z":"15122530.eaeddb","name":"TEST True","func":"if (context.flow.casaria.LHS.TEST) {\n return msg;\n}\nelse {}","outputs":1,"noerr":0,"x":604,"y":1021.6666870117188,"wires":[["7fc9fdd6.3eb194","70323bcf.70d144"]]},{"id":"161689c5.caf0c6","type":"function","z":"15122530.eaeddb","name":"TEST False","func":"\nif (!context.flow.casaria.LHS.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":591.8414611816406,"y":854.3874702453613,"wires":[["7fc9fdd6.3eb194","8259bc95.c372e"]]},{"id":"6aac0d6f.979284","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":1264,"y":421.66668701171875,"wires":[]},{"id":"95eb8d0a.02df","type":"json","z":"15122530.eaeddb","name":"","x":563.9999694824219,"y":343.3333435058594,"wires":[["13b49e56.cd9ad2"]]},{"id":"13b49e56.cd9ad2","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":705.6666259765625,"y":343.3333435058594,"wires":[]},{"id":"c89f927b.3f3d1","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":281.4821548461914,"y":166.10716247558594,"wires":[["9b4e9b4b.c51a78"]]},{"id":"bb064605.dc2238","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1065.000015258789,"y":656.0000228881836,"wires":[]},{"id":"79af20e4.701cd","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1064.000015258789,"y":689.0000228881836,"wires":[]},{"id":"ad0c495e.4effb8","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":696.8452835083008,"y":472.26193046569824,"wires":[]},{"id":"170b233e.e9b87d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":670,"y":223.3333282470703,"wires":[]},{"id":"8b806856.ea1888","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":1366.9046745300293,"y":120.71426963806152,"wires":[]},{"id":"db055da6.1779c","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":889.5238418579102,"y":109.52380180358887,"wires":[]},{"id":"b685d916.9649b8","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1296.666519165039,"y":288.33330726623535,"wires":[["13344dfa.c99a72"]]},{"id":"b7c416ca.585148","type":"trigger","z":"5ef053be.d90c4c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":true,"units":"ms","reset":"","name":"","x":1380.952407836914,"y":391.4285969734192,"wires":[[]]},{"id":"fc0556af.fb2358","type":"inject","z":"15122530.eaeddb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":818.7500305175781,"y":164.25002479553223,"wires":[["4c7e3cf4.c82f54"]]},{"id":"8144331e.ce3d6","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1599.333402633667,"y":156.00003242492676,"wires":[]},{"id":"e1856970.878828","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"true","x":1384.000015258789,"y":1020.0000228881836,"wires":[]},{"id":"3240bb9d.028064","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1287.750015258789,"y":178.7500228881836,"wires":[]},{"id":"1bda4278.3aedde","type":"inject","z":"15122530.eaeddb","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":273.00001525878906,"y":1696.0000228881836,"wires":[["a2588994.bbdc18"]]},{"id":"a2588994.bbdc18","type":"function","z":"15122530.eaeddb","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":473.00001525878906,"y":1696.0000228881836,"wires":[["7ba4aee.cba695"]]},{"id":"57a041d9.7c039","type":"function","z":"15122530.eaeddb","name":"Set vars example","func":"var LHS ={};\nvar COOL_SP1, COOL_SP2;\n\n\nvar cas = {\n\nLHS: {\n    COOL_SP1: 24,\n    COOL_SP2: 25.5,\n    SP2_DIF: 1.2,\n    HEAT_SP: 22,\n    //COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    //RTS_ON_COLOR:\"\",\n    //RTS_OFF_COLOR:\"\",\n    //MODE_NORM: \"\",\n    //MODE_COOL_HEAT: \"HEAT\",\n    //TEST_MODE: false,  \n    GOOGLE : false,\n    COOL : true,\n    TEST : true,\n    SMART: true,\n    COOL_STAGE_COLOR: \"BLUE\",\n}\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":507.2856903076172,"y":1742.5715265274048,"wires":[["7ba4aee.cba695","2f4b01b3.a84c1e"]]},{"id":"e5dd93ac.d74a9","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263.00001525878906,"y":1744.0000228881836,"wires":[["57a041d9.7c039"]]},{"id":"c76875be.6c2308","type":"function","z":"91acd4ad.7bc198","name":"lucky-surfer","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\n//if (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2, msg3];\n//if (Number (fields[0]) == Number(fields[1])) return[msg1,msg2, msg3];\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp:  Number ( fields[0])\n}\nmsg2.payload = {\n    time: Date.parse(msg.published_at),\n    pressure:  Number ( fields[1])\n}\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":809.0000152587891,"y":752.7500114440918,"wires":[[],[]]},{"id":"177f6994.833586","type":"function","z":"91acd4ad.7bc198","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":851.1786041259766,"y":794.8571891784668,"wires":[[]]},{"id":"618bc87e.140fa","type":"inject","z":"5ef053be.d90c4c","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1683.333251953125,"wires":[["aa9ae77.2bd4d98"]]},{"id":"aa9ae77.2bd4d98","type":"function","z":"5ef053be.d90c4c","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":340,"y":1683.333251953125,"wires":[["effde750.252038"]]},{"id":"ec789e47.739a18","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"var LHN ={};\nvar COOL_SP1, COOL_SP2;\n\n\nvar cas = {\n\nLHN: {\n    COOL_SP1: 24,\n    COOL_SP2: 25.5,\n    SP2_DIF: 1.2,\n    HEAT_SP: 22,\n    COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    RTS_ON_COLOR:\"\",\n    RTS_OFF_COLOR:\"\",\n    //MODE_NORM: \"\",\n    //MODE_COOL_HEAT: \"HEAT\",\n    //TEST_MODE: false,  \n    GOOGLE : false,\n    COOL : true,\n    TEST : true,\n    SMART : true,\n    COOL_STAGE_COLOR: \"BLUE\",\n}\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":374.2856750488281,"y":1729.9047555923462,"wires":[["effde750.252038","6209c9ea.a40f38"]]},{"id":"9eb13fa9.75aa98","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1731.333251953125,"wires":[["ec789e47.739a18"]]},{"id":"e30ac0d4.c18ca","type":"function","z":"5ef053be.d90c4c","name":"","func":"var msg1;\nmsg1 ={};\ncontext.flow.casaria.LHN.TEST = msg.payload.test;\ncontext.flow.casaria.LHN.COOL = msg.payload.cool;\ncontext.flow.casaria.LHN.GOOGLE = msg.payload.google;\n\nreturn msg1;","outputs":1,"noerr":0,"x":591.666690826416,"y":419.99998569488525,"wires":[["bd1305a2.7d5298"]]},{"id":"37e59449.4ac10c","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":186,"y":172,"wires":[["ef22110d.c30d4"]]},{"id":"6209c9ea.a40f38","type":"json","z":"5ef053be.d90c4c","name":"","x":1283.333251953125,"y":204.99998474121094,"wires":[["13344dfa.c99a72"]]},{"id":"ecbc6af6.38ce28","type":"function","z":"5ef053be.d90c4c","name":"update defaults + temp","func":"\n   \ncontext.flow.casaria.LHN.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":958.3333129882812,"y":65,"wires":[["11fa8782.66fb08"]]},{"id":"739c3a26.ea4724","type":"function","z":"15122530.eaeddb","name":"","func":"if (msg.payload){\n  msg.payload=\"on\"  \n}else {\n  msg.payload=\"off\";\n}  \nreturn msg;","outputs":1,"noerr":0,"x":975.6666145324707,"y":441.6666660308838,"wires":[["6aac0d6f.979284","d869a9.a6492658"]]},{"id":"f289c94.8255838","type":"ui_switch","z":"15122530.eaeddb","name":"Smart Energy Saver","label":"Energy saver","group":"2e31eede.e44912","order":"10","width":"1","height":"1","passthru":true,"decouple":"false","topic":"","onvalue":"true","onvalueType":"str","onicon":"fla-fire","oncolor":"green","offvalue":"flase","offvalueType":"flow","officon":"touch app","offcolor":"","x":842.3333282470703,"y":81.66668701171875,"wires":[["58c32f88.296a4"]]},{"id":"58c32f88.296a4","type":"function","z":"15122530.eaeddb","name":"update defaults + temp","func":"\n   \ncontext.flow.casaria.LHS.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1086.666633605957,"y":83.33330631256104,"wires":[["2f5db91d.dc3446"]]},{"id":"a8c3b6c2.5e8438","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1452.3333206176758,"y":255.00002479553223,"wires":[["f7de3f2f.97865"]]},{"id":"ec09ce25.6a602","type":"ui_ui_control","z":"15122530.eaeddb","name":"ui control","x":78.5,"y":547,"wires":[[]]},{"id":"27da813f.c0040e","type":"ui_button","z":"15122530.eaeddb","name":"","group":"2e31eede.e44912","order":0,"width":"2","height":"2","label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":65.5,"y":504,"wires":[[]]},{"id":"d869a9.a6492658","type":"ui_switch","z":"15122530.eaeddb","name":"","label":"switch","group":"2e31eede.e44912","order":0,"width":"2","height":"3","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1073.500015258789,"y":379.0000228881836,"wires":[["6aac0d6f.979284"]]},{"id":"f9b5471d.2db468","type":"ui_button","z":"15122530.eaeddb","name":"","group":"2e31eede.e44912","order":0,"width":0,"height":0,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":642.5,"y":396,"wires":[["9a66b860.31e098"]]},{"id":"f671512a.11f55","type":"ui_switch","z":"5ef053be.d90c4c","name":"Google","label":"","group":"ec1edd3e.a3fb7","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GOOGLE","style":"","onvalue":"true","onvalueType":"bool","onicon":"google","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"alarm","offcolor":"green","x":439.4643020629883,"y":411.0714340209961,"wires":[["e30ac0d4.c18ca"]]},{"id":"b7bae677.014708","type":"ui_switch","z":"5ef053be.d90c4c","name":"COOL","label":"","group":"ec1edd3e.a3fb7","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"COOL","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-fire","offcolor":"magenta","x":431.4285888671875,"y":452.8571472167969,"wires":[["e30ac0d4.c18ca"]]},{"id":"a2f5e3c5.6103f","type":"ui_switch","z":"5ef053be.d90c4c","name":"Test","label":"","group":"ec1edd3e.a3fb7","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"TEST","style":"","onvalue":"true","onvalueType":"bool","onicon":"touch-app","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":" brightness-auto","offcolor":"orange","x":427.1428527832031,"y":494.2857189178467,"wires":[["e30ac0d4.c18ca"]]}]