lib/flows/ALL
[{"id":"771fd938.91e3c8","type":"mqtt-broker","z":"a08ecf46.34824","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"558833b9.efd3ac","type":"particle-cloud","z":"a08ecf46.34824","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a588247c.0d0af8","type":"librato-config","z":"a08ecf46.34824","name":"Librato eval","email":"phorrack@gmail.com","source":"hot-blooded"},{"id":"353db79e.1ad148","type":"influxdb","z":"a08ecf46.34824","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"d0c3530d.cce32","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":false,"console":"true","complete":"payload","x":808.5714721679688,"y":219.14283752441406,"wires":[]},{"id":"ec994b4e.e7c8e8","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":870.5714721679688,"y":334.14283752441406,"wires":[]},{"id":"732dd7a5.4b6138","type":"inject","z":"a08ecf46.34824","name":"manual test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":498.9047737121582,"y":336.47615242004395,"wires":[["ec994b4e.e7c8e8"]]},{"id":"ab46cc82.50b58","type":"librato","z":"a08ecf46.34824","librato":"a588247c.0d0af8","metricName":"Librato Water-temp","metricType":"gauge","x":869.5714721679688,"y":274.14283752441406,"wires":[]},{"id":"41ff7b42.795104","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsTmp","devid":"lucky-surfer","x":232.32144165039062,"y":220.1428406238556,"wires":[["d5c906e7.b02db8","4982e3a8.3a490c","f1d7527f.f2591","85537653.d44a38"]]},{"id":"d5c906e7.b02db8","type":"function","z":"a08ecf46.34824","name":"Boiler Exit Temperature","func":"msg.payload = {\n    ExitTemp:  Number ( msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":538.374885559082,"y":219.73979568481445,"wires":[["d0c3530d.cce32","ab46cc82.50b58","ec994b4e.e7c8e8"],[]]},{"id":"34e47bbe.2e4d24","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"A0","devid":"lucky-surfer","x":232.71429443359375,"y":166.57142639160156,"wires":[["ca440388.c6ec8"]]},{"id":"ca440388.c6ec8","type":"function","z":"a08ecf46.34824","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":529.7142944335938,"y":167.57142639160156,"wires":[["b5b71b3b.73b5e8","d0c3530d.cce32"],[]]},{"id":"b5b71b3b.73b5e8","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":872.7143058776855,"y":164.5714282989502,"wires":[]},{"id":"babe2f59.3b13d","type":"switch","z":"a08ecf46.34824","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"125","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":242.21429443359375,"y":614.5714263916016,"wires":[["67b20772.0b8e38","3adfca6d.97f296","7fd87b99.74d434"],["bf0efc60.f1ee1"],["822084e3.bb5348"],[],[]]},{"id":"67b20772.0b8e38","type":"pushover","z":"a08ecf46.34824","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":915.7142944335938,"y":586.5714263916016,"wires":[]},{"id":"3adfca6d.97f296","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":829.9643096923828,"y":493.32144832611084,"wires":[]},{"id":"2e988106.b3b83e","type":"inject","z":"a08ecf46.34824","name":"@Lounge: HUE ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":571.7142944335938,"y":796.5714263916016,"wires":[["38139005.b57dc"]]},{"id":"e70afed8.f8618","type":"inject","z":"a08ecf46.34824","name":"@Lounge: HUE OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":570.7142944335938,"y":832.5714263916016,"wires":[["38139005.b57dc"]]},{"id":"38139005.b57dc","type":"tcp out","z":"a08ecf46.34824","host":"an.casaria.net","port":"8111","beserver":"server","base64":false,"end":true,"name":"8111 hue \"cloud light automation server\" @ ccc.casaria.net","x":978.7142944335938,"y":724.5714263916016,"wires":[]},{"id":"bf0efc60.f1ee1","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":827.7143058776855,"y":538.8214797973633,"wires":[]},{"id":"7fd87b99.74d434","type":"function","z":"a08ecf46.34824","name":"msg \"true\"","func":"msg.payload = true;\nreturn msg;","outputs":"2","noerr":0,"x":534.7142944335938,"y":635.5714263916016,"wires":[["38139005.b57dc"],["71517a1e.ce1a94"]]},{"id":"4982e3a8.3a490c","type":"function","z":"a08ecf46.34824","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":251.21429443359375,"y":519.5714263916016,"wires":[["69288a6b.7fd094","babe2f59.3b13d"]]},{"id":"822084e3.bb5348","type":"function","z":"a08ecf46.34824","name":"msg \"false\"","func":"msg.payload = false;\nreturn msg;","outputs":"2","noerr":0,"x":536.7142944335938,"y":671.5714263916016,"wires":[["38139005.b57dc"],["71517a1e.ce1a94"]]},{"id":"69288a6b.7fd094","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":831.4643096923828,"y":448.0714473724365,"wires":[]},{"id":"4abc0978.2ed478","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsInputs","devid":"lucky-surfer","x":244.71429443359375,"y":111.57142639160156,"wires":[["d16e4bfb.42e1a8"]]},{"id":"d16e4bfb.42e1a8","type":"function","z":"a08ecf46.34824","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":517.7142944335938,"y":112.57142639160156,"wires":[["c29a6153.f42b6","d0c3530d.cce32"],[]]},{"id":"c29a6153.f42b6","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":873.7142944335938,"y":106.57142639160156,"wires":[]},{"id":"71517a1e.ce1a94","type":"tcp out","z":"a08ecf46.34824","host":"an.casaria.net","port":"8112","beserver":"server","base64":false,"end":true,"name":"8112 hue \"cloud light automation server\" @ ccc.casaria.net","x":978.7142944335938,"y":646.5714263916016,"wires":[]},{"id":"3d8696d1.ea735a","type":"inject","z":"a08ecf46.34824","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":554.7142944335938,"y":713.5714263916016,"wires":[["85537653.d44a38"]]},{"id":"36d39522.ab48aa","type":"inject","z":"a08ecf46.34824","name":"HUE send OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":561.7143020629883,"y":752.5714225769043,"wires":[["71517a1e.ce1a94"]]},{"id":"ce3a572e.78ca38","type":"mqtt out","z":"a08ecf46.34824","name":"MQTT PUB - HUE12","topic":"HUE12","qos":"","retain":"","broker":"771fd938.91e3c8","x":865.5000114440918,"y":839.5000123977661,"wires":[]},{"id":"85537653.d44a38","type":"function","z":"a08ecf46.34824","name":"","func":"var value = msg.payload;\nvar x = value;\nvar r, g, b;\nvalue = Math.round (value - 145 + (value - 145) *6);\ng= (140-value);\nr= (110+value);\nif (x < 140) {\n    g = Math.round(r/2);\n    b = g;\n    r=0;\n}   else b = 0;\n\nif (r > 185) {\n    b = Math.round(r/2);\n    \n}\nmsg.payload={\n\ton:[true ],\n\ttransitiontime:[30],\n\tbri:[255],\n\trgb:[r, g, b]\n}\nreturn msg;\t","outputs":1,"noerr":0,"x":449.7500114440918,"y":914.5000133514404,"wires":[["ce3a572e.78ca38","a76a2a69.a4e018"]]},{"id":"1491e546.e651eb","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":828.75,"y":763.75,"wires":[]},{"id":"f1d7527f.f2591","type":"range","z":"a08ecf46.34824","minin":"145","maxin":"170","minout":"1","maxout":"128","action":"scale","round":true,"name":"scale to color range","x":262.46429443359375,"y":446.82144927978516,"wires":[["1491e546.e651eb"]]},{"id":"a76a2a69.a4e018","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":886.25,"y":932.5,"wires":[]},{"id":"dbdcfc0a.caa8b","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":871.25,"y":387.5,"wires":[]},{"id":"b66d93ae.4ab94","type":"function","z":"a08ecf46.34824","name":"BC SHOWER Riser Temperature","func":"msg.payload = {\n    ExitTemp:  Number ( msg.payload),\n    strValue: \"BC-LAWA-1 HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":559.0534210205078,"y":273.5969581604004,"wires":[[],[]]},{"id":"dc3637d6.e64818","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsTmp","devid":"BC-SHOWER","x":241.74996948242188,"y":271.50000381469727,"wires":[["8bd527d9.638d88"]]},{"id":"8bd527d9.638d88","type":"debug","z":"a08ecf46.34824","name":"","active":true,"console":"true","complete":"payload","x":617,"y":414,"wires":[]}]