lib/flows/BC shower influx
[{"id":"61d7ecba.b4e8f4","type":"influxdb","z":"ac5025dd.04a618","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"2d0411e5.56e1ee","type":"particle-cloud","z":"ac5025dd.04a618","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a1ec8a3f.5312b8","type":"ParticleSSE in","z":"ac5025dd.04a618","baseurl":"2d0411e5.56e1ee","evtname":"dsTmp","devid":"bc-shower","x":257.5,"y":92.40305519104004,"wires":[["e4f019.7ebecfe8"]]},{"id":"e4f019.7ebecfe8","type":"function","z":"ac5025dd.04a618","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload.toString();\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1.payload = {\n    ExitTemp:  Number ( fields[0]),\n    strValue: \"BC-LAWA-1\",\n}\nmsg2.payload = {\n    ExitTemp:  Number ( fields[1]),\n    strValue: \"BC-LAWA-2\",\n}\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":576.2500457763672,"y":92.90304660797119,"wires":[["df6b6453.b1db38","4bb219cb.b0d6c8"],["87310478.7c9308","782116ea.ce2d18"]]},{"id":"4bb219cb.b0d6c8","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"61d7ecba.b4e8f4","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":973.2500915527344,"y":74.65305709838867,"wires":[]},{"id":"df6b6453.b1db38","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":924.2500915527344,"y":34.999999046325684,"wires":[]},{"id":"87310478.7c9308","type":"debug","z":"ac5025dd.04a618","name":"","active":false,"console":"true","complete":"payload","x":924.7500534057617,"y":152.40304851531982,"wires":[]},{"id":"782116ea.ce2d18","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"61d7ecba.b4e8f4","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":973.7500305175781,"y":113.75000095367432,"wires":[]}]