lib/flows/BC shower
[{"id":"353db79e.1ad148","type":"influxdb","z":"a08ecf46.34824","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"558833b9.efd3ac","type":"particle-cloud","z":"a08ecf46.34824","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"dc3637d6.e64818","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsTmp","devid":"bc-shower","x":258.7499694824219,"y":329.25000381469727,"wires":[["665d2800.806838"]]},{"id":"665d2800.806838","type":"function","z":"a08ecf46.34824","name":"","func":"var s = msg.payload.toString();\nvar fields = s.split(' ');\n\nvar msg1 = {payload: fields[0]};\nvar msg2 = {payload: fields[1]};\n\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":372.5,"y":396,"wires":[["f3d10caa.f1379","b66d93ae.4ab94"],["8d453e1c.b0077"]]},{"id":"dbdcfc0a.caa8b","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":868.25,"y":376.5,"wires":[]},{"id":"b66d93ae.4ab94","type":"function","z":"a08ecf46.34824","name":"BC SHOWER Riser Temperature","func":"msg.payload = {\n    ExitTemp:  Number ( msg.payload),\n    strValue: \"BC-LAWA-1 HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":569.0534057617188,"y":275.5969543457031,"wires":[["dbdcfc0a.caa8b"],[]]},{"id":"f3d10caa.f1379","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":578,"y":468,"wires":[]},{"id":"8d453e1c.b0077","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":571,"y":523,"wires":[]}]