lib/flows/CCC Database and Alarm
[{"id":"6ea0e097.b163a","type":"particle-cloud","z":"72aaaf59.ec05b","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"c58e0c28.68d82","type":"librato-config","z":"72aaaf59.ec05b","name":"Librato eval","email":"phorrack@gmail.com","source":"hot-blooded"},{"id":"612fdbfe.dabf34","type":"influxdb","z":"72aaaf59.ec05b","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"f54d6a80.d462d8","type":"debug","z":"72aaaf59.ec05b","name":"DEBUG ","active":true,"console":"true","complete":"payload","x":693.0794067382812,"y":146.34921741485596,"wires":[]},{"id":"693ff857.a63528","type":"influxdb out","z":"72aaaf59.ec05b","influxdb":"612fdbfe.dabf34","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":755.0794067382812,"y":261.34921741485596,"wires":[]},{"id":"a001bf1.5399b4","type":"inject","z":"72aaaf59.ec05b","name":"manual test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":383.4127082824707,"y":263.68253231048584,"wires":[["693ff857.a63528"]]},{"id":"d72cd001.bc1d6","type":"librato","z":"72aaaf59.ec05b","librato":"c58e0c28.68d82","metricName":"Librato Water-temp","metricType":"gauge","x":754.0794067382812,"y":201.34921741485596,"wires":[]},{"id":"72587c54.6fb754","type":"ParticleSSE in","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","evtname":"dsTmp","devid":"lucky-surfer","x":128.07937622070312,"y":147.34921741485596,"wires":[["8608928a.beadb","26e37dba.96b8d2","9b28ca9e.814b98","e8631d2d.093d2"]]},{"id":"8608928a.beadb","type":"function","z":"72aaaf59.ec05b","name":"Boiler Exit Temperature","func":"msg.payload = {\n    ExitTemp:  Number ( msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":423.8828125,"y":154.69617176055908,"wires":[["f54d6a80.d462d8","d72cd001.bc1d6","693ff857.a63528"],[]]},{"id":"3f755a5e.90ace6","type":"ParticleSSE in","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","evtname":"A0","devid":"lucky-surfer","x":117.22222900390625,"y":93.77780628204346,"wires":[["fcdbfb7c.305768"]]},{"id":"fcdbfb7c.305768","type":"function","z":"72aaaf59.ec05b","name":"Analog CH4 pressure","func":"msg.payload = {\n    ExitTemp: Number (msg.payload),\n    strValue: \"QF-CL HotWater\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":413.22222900390625,"y":94.77780628204346,"wires":[["8609cb2.83ed838","f54d6a80.d462d8"],[]]},{"id":"8609cb2.83ed838","type":"influxdb out","z":"72aaaf59.ec05b","influxdb":"612fdbfe.dabf34","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.A0","x":761.2222290039062,"y":77.77780628204346,"wires":[]},{"id":"67ea0835.f84868","type":"switch","z":"72aaaf59.ec05b","name":"Temp Alarm Threshold","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"125","vt":"num"},{"t":"btwn","v":"120","vt":"num","v2":"130","v2t":"num"},{"t":"btwn","v":"131","vt":"num","v2":"139","v2t":"num"},{"t":"btwn","v":"140","vt":"num","v2":"155","v2t":"num"},{"t":"gt","v":"155","vt":"num"}],"checkall":"true","outputs":5,"x":126.72222900390625,"y":541.7778062820435,"wires":[["a32a6d48.4ff1f","35994024.09f88","ce6aa843.614568"],["baeebdcb.77154"],["4881b545.3ab55c"],[],[]]},{"id":"a32a6d48.4ff1f","type":"pushover","z":"72aaaf59.ec05b","name":"\"PUSHOVER\" ALERT to Qantas STAFF","device":"","title":"Water heater Alert: Boiler Exit temperature below threshold","priority":"1","sound":"persistent","x":800.2222290039062,"y":513.7778062820435,"wires":[]},{"id":"35994024.09f88","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"true","complete":"payload","x":708.2222290039062,"y":381.77780628204346,"wires":[]},{"id":"e1109393.f12bf","type":"inject","z":"72aaaf59.ec05b","name":"@Lounge: HUE ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":456.22222900390625,"y":723.7778062820435,"wires":[["a88a6080.8a51f"]]},{"id":"ac62f285.eb4b3","type":"inject","z":"72aaaf59.ec05b","name":"@Lounge: HUE OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":455.22222900390625,"y":759.7778062820435,"wires":[["a88a6080.8a51f"]]},{"id":"a88a6080.8a51f","type":"tcp out","z":"72aaaf59.ec05b","host":"an.casaria.net","port":"8111","beserver":"server","base64":false,"end":true,"name":"8111 hue \"cloud light automation server\" @ ccc.casaria.net","x":863.2222290039062,"y":651.7778062820435,"wires":[]},{"id":"baeebdcb.77154","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"false","complete":"false","x":709.7222290039062,"y":424.77780628204346,"wires":[]},{"id":"ce6aa843.614568","type":"function","z":"72aaaf59.ec05b","name":"msg \"true\"","func":"msg.payload = true;\nreturn msg;","outputs":"2","noerr":0,"x":419.22222900390625,"y":562.7778062820435,"wires":[["a88a6080.8a51f"],["2f1cf89c.a6f628"]]},{"id":"e31f6cc1.34e8d","type":"debug","z":"72aaaf59.ec05b","name":"","active":true,"console":"false","complete":"false","x":709.2222290039062,"y":469.77780628204346,"wires":[]},{"id":"26e37dba.96b8d2","type":"function","z":"72aaaf59.ec05b","name":"payload (temp) -> number","func":"msg.payload = Number ( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":135.72222900390625,"y":446.77780628204346,"wires":[["b3712032.5ddaf","67ea0835.f84868"]]},{"id":"4881b545.3ab55c","type":"function","z":"72aaaf59.ec05b","name":"msg \"false\"","func":"msg.payload = false;\nreturn msg;","outputs":"2","noerr":0,"x":421.22222900390625,"y":598.7778062820435,"wires":[["a88a6080.8a51f"],["2f1cf89c.a6f628"]]},{"id":"b3712032.5ddaf","type":"debug","z":"72aaaf59.ec05b","name":"","active":false,"console":"true","complete":"payload","x":708.2222290039062,"y":337.77780628204346,"wires":[]},{"id":"9b28ca9e.814b98","type":"function","z":"72aaaf59.ec05b","name":"","func":"//msg.payload={\"temp\": msg.payload}\nmsg2 = new object(); // = new Object();\n    //msg.payload=JSON.stringify(msg);\nmsg2.payload.temp = msg.payload;\nmsg2.payload.state = true;\nreturn msg2;","outputs":1,"noerr":0,"x":365.72222900390625,"y":212.77780628204346,"wires":[["a88a6080.8a51f","e31f6cc1.34e8d"]]},{"id":"10af9232.62166e","type":"ParticleSSE in","z":"72aaaf59.ec05b","baseurl":"6ea0e097.b163a","evtname":"dsInputs","devid":"lucky-surfer","x":134.22222900390625,"y":38.77780628204346,"wires":[["375238cf.2e5a78"]]},{"id":"375238cf.2e5a78","type":"function","z":"72aaaf59.ec05b","name":"Burner Status_IO","func":"msg.payload = {\n    BitD0D3:  msg.payload,\n    strValue: \"STATUS_IO\",\n}\nreturn msg;","outputs":"2","noerr":0,"x":400.22222900390625,"y":39.77780628204346,"wires":[["f7a879c5.2e3328","f54d6a80.d462d8"],[]]},{"id":"f7a879c5.2e3328","type":"influxdb out","z":"72aaaf59.ec05b","influxdb":"612fdbfe.dabf34","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer.IO","x":758.2222290039062,"y":25.777806282043457,"wires":[]},{"id":"e8631d2d.093d2","type":"range","z":"72aaaf59.ec05b","minin":"135","maxin":"175","minout":"75","maxout":"255","action":"scale","round":false,"name":"scale to color range","x":130.72222900390625,"y":397.77780628204346,"wires":[[]]},{"id":"2f1cf89c.a6f628","type":"tcp out","z":"72aaaf59.ec05b","host":"an.casaria.net","port":"8112","beserver":"server","base64":false,"end":true,"name":"8112 hue \"cloud light automation server\" @ ccc.casaria.net","x":863.2222290039062,"y":573.7778062820435,"wires":[]},{"id":"cf17c0df.f7771","type":"inject","z":"72aaaf59.ec05b","name":"HUE send ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":439.22222900390625,"y":640.7778062820435,"wires":[["2f1cf89c.a6f628"]]},{"id":"ea011ff0.f1054","type":"inject","z":"72aaaf59.ec05b","name":"HUE send OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":446.22222900390625,"y":674.7778062820435,"wires":[["2f1cf89c.a6f628"]]}]