lib/flows/FC shower influx
[{"id":"68ce0555.46d87c","type":"influxdb","z":"7b1cd8c7.10c578","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"LAWA"},{"id":"60f89871.4e44d8","type":"particle-cloud","z":"7b1cd8c7.10c578","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"39b26c8d.268bc4","type":"ParticleSSE in","z":"7b1cd8c7.10c578","baseurl":"60f89871.4e44d8","evtname":"dsTmp","devid":"fc-shower","x":228.75,"y":131.25,"wires":[["1636ce06.540fa2"]]},{"id":"1636ce06.540fa2","type":"function","z":"7b1cd8c7.10c578","name":"FC SHOWER Riser Temperatures","func":"var s = msg.payload.toString();\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1.payload = {\n    ExitTemp:  Number ( fields[0]),\n    strValue: \"FC-LAWA-1\",\n}\nmsg2.payload = {\n    ExitTemp:  Number ( fields[1]),\n    strValue: \"FC-LAWA-2\",\n}\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":547.5000457763672,"y":131.74999141693115,"wires":[["6e1068a.8ae6198","20272a45.feda66"],["c8734bb8.47b718","4bf99fa.534386"]]},{"id":"20272a45.feda66","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"68ce0555.46d87c","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-SHOWER","x":944.5000915527344,"y":113.50000190734863,"wires":[]},{"id":"6e1068a.8ae6198","type":"debug","z":"7b1cd8c7.10c578","name":"","active":false,"console":"true","complete":"payload","x":895.5000915527344,"y":73.84694385528564,"wires":[]},{"id":"c8734bb8.47b718","type":"debug","z":"7b1cd8c7.10c578","name":"","active":false,"console":"true","complete":"payload","x":896.0000534057617,"y":191.24999332427979,"wires":[]},{"id":"4bf99fa.534386","type":"influxdb out","z":"7b1cd8c7.10c578","influxdb":"68ce0555.46d87c","name":"InfluxDB @ ccc.casaria.net","measurement":"FC-SHOWER","x":945.0000305175781,"y":152.59694576263428,"wires":[]}]