lib/flows/HVAC LH-S
[{"id":"bf998c1e.e3543","type":"inject","z":"15122530.eaeddb","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":171.49188995361328,"y":936.6126372814178,"wires":[["644fea9e.490a84"]]},{"id":"c97fb53.1c76648","type":"inject","z":"15122530.eaeddb","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":199.4918975830078,"y":864.6126317977905,"wires":[["644fea9e.490a84"]]},{"id":"f78178b2.540388","type":"inject","z":"15122530.eaeddb","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":181.24188232421875,"y":900.8625993728638,"wires":[["644fea9e.490a84"]]},{"id":"11d90e4b.3e0042","type":"inject","z":"15122530.eaeddb","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":212.49189376831055,"y":973.6126387119293,"wires":[["644fea9e.490a84"]]},{"id":"dd1fc50.7650838","type":"inject","z":"15122530.eaeddb","name":"WHITE(ALL OFF)","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.49187850952148,"y":1048.6125631332397,"wires":[["644fea9e.490a84"]]},{"id":"e1f6c2a.331154","type":"inject","z":"15122530.eaeddb","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":213.57522583007812,"y":1011.1959140300751,"wires":[["644fea9e.490a84"]]},{"id":"f850f214.51c67","type":"inject","z":"15122530.eaeddb","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.49186325073242,"y":1085.9459009170532,"wires":[["abd01830.ccd228","644fea9e.490a84"]]},{"id":"52a1a748.e59b48","type":"ParticleSSE in","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","evtname":"dsCombi","devid":"LHLAX-SENS-S2","x":222.53953552246094,"y":612.2315044403076,"wires":[["e0e56732.5e2c38"]]},{"id":"e0e56732.5e2c38","type":"function","z":"15122530.eaeddb","name":"ROOM Sensor Temperature, Humidity, ..","func":"/*\nProcess the IOT node message stream subscribed by SSE from\nparticle or casaria cloud. Multiple values are packed into one\nmessage separated by '&' to minimize packet size and overhead\n(cost for 3G as well)\n\nOutput(s):\nJSON message with raw plausiblity checked sensor data for storage \nto Time Series Database (TSDB) InfluxDB.\n\nSeveral new messages with distinct value payloads\nfor further processing (i.e control, alerting, tweets, generate HTML psges,\n, User Interface, etc,)\n\n*/\nvar s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color, cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};  //error to CATER\ncolor = fields[2];\n\n\nif (color != context.flow.casaria.LHS.COLOR)\n{\n    \n} else {\n    color = \"WHITE\";    //populate with default \n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHS.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHS.COLOR = color;\n\n//plausibility checks, no DHT sensor read => 2.0 is read\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\n//if (Number(fields[0])<=2.0) fields[0] = '0.0';\n   \nswitch (color){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]) -0.0,\n    Humidity:  Number ( fields[1]),\n    Color: color,\n    ColorNum: cnum,\n    strValue: \"LHLAX-SENS-S\",\n    metric: Number (fields[0]) - 0.0,\n    geohash: \"9q5c1dcs168d\",\n}\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]) -0.0,\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4, msg5];","outputs":"5","noerr":0,"x":555.0633697509766,"y":611.898193359375,"wires":[["c16a7894.549f68"],["ed6c780b.0401f8","834e9064.6608c","120cbc6d.694de4","d5f0d43e.3e0bd8","89f404c5.72cb08"],["120cbc6d.694de4","1deb7beb.200274"],[],["ba06a493.760d58"]]},{"id":"c16a7894.549f68","type":"influxdb out","z":"15122530.eaeddb","influxdb":"a81a4392.88e46","name":"InfluxDB LHLAX-SENS-S","measurement":"LHLAX-SENS-S","x":1023.8253898620605,"y":372.80297660827637,"wires":[]},{"id":"ed6c780b.0401f8","type":"function","z":"15122530.eaeddb","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHS.COOL_SP1;\nvar dif = context.flow.casaria.LHS.SP2_DIF;\nvar mode = context.flow.casaria.LHS.COLOR;\nvar vacant = !context.flow.casaria.LHS.OCCUPIED;\nvar T_RT = context.flow.casaria.LHS.T_RT;\nvar HEAT = context.flow.casaria.LHS.HEAT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHS.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHS.HEAT_SP;\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg4.payload ={\n    Vacant : vacant,\n};\n\nif (T_RT < (coolsp - 3.5)) {\n    if (temp >= coolsp){\n        msg3.payload = \"GREEN\";\n    }else {\n        msg3.payload = \"WHITE\";\n    }\n} else {\n    msg3.payload = \"WHITE\";\n}\n\ncontext.flow.casaria.LHS.RTS_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp > (coolsp -0.1))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-0.1))\n    msg3.payload = \"ORANGE\";\n    \n \nif (temp < context.flow.casaria.LHS.HEAT_N)\n    msg3.payload = \"RED\" ;\n    \n \n   \n//    msg3.payload = \"GREEN\";\ncontext.flow.casaria.LHS.RTS_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHS.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3];","outputs":"4","noerr":0,"x":1042.539638519287,"y":514.2316093444824,"wires":[["1c9386b1.5744d9"],["cbd550d2.a78cc"],["b7aa53bd.13caf"],["e1856970.878828"]]},{"id":"7fc9fdd6.3eb194","type":"mqtt out","z":"15122530.eaeddb","name":"Publish MQTT LH-S","topic":"LH-S","qos":"1","retain":"true","broker":"9e783c4b.37835","x":724.1585502624512,"y":1043.6125230789185,"wires":[]},{"id":"b7aa53bd.13caf","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":1282.5396995544434,"y":574.2315616607666,"wires":[]},{"id":"2729fe24.a56572","type":"delay","z":"15122530.eaeddb","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":181.65866088867188,"y":759.9458465576172,"wires":[["161689c5.caf0c6"]]},{"id":"1c9386b1.5744d9","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"true","complete":"true","x":1262.5396995544434,"y":494.2315616607666,"wires":[]},{"id":"20c8b7c0.b458f8","type":"ui_slider","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"COOL","topic":"COOL_SP1","group":"Temp Monitor & Control","order":"1","min":"18.0","max":"28","x":814.9680786132812,"y":1756.3745324611664,"wires":[["45c28189.adcec","4c7e3cf4.c82f54"]]},{"id":"ed6719ab.92f848","type":"function","z":"15122530.eaeddb","name":"ROOFTOP Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {}; //error to CATER\n\nif ((isNaN (fields[0]) || isNaN(fields[1])) || (Number(fields[0]) < 0) \n|| (Number(fields[0] < 0)) ) \n{\n\nmsg5.payload = {\n    err: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-RT-S\",\n}   \n    \nreturn [msg1,msg2,msg3,msg4, msg5]\n}\n   \nswitch (fields[2]){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-RT-S\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4,  msg5];","outputs":"5","noerr":0,"x":536.3334045410156,"y":115.66666030883789,"wires":[["a2246a55.bdbf08","73ed8d29.1bfbb4","13a079d1.abc176"],["d4a94d41.f33f"],["d4a94d41.f33f"],["a205f842.aa75f8"],["ba06a493.760d58"]]},{"id":"556dc0d2.34fc8","type":"ParticleSSE in","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","evtname":"dsCombi","devid":"LHLAX-RTS-4","x":209.8333740234375,"y":115.16656875610352,"wires":[["ed6719ab.92f848"]]},{"id":"a2246a55.bdbf08","type":"influxdb out","z":"15122530.eaeddb","influxdb":"a81a4392.88e46","name":"InfluxDB LHLAX-RT-S","measurement":"LHLAX-RT-S","x":1014.2501525878906,"y":90.83332800865173,"wires":[]},{"id":"73ed8d29.1bfbb4","type":"function","z":"15122530.eaeddb","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHS.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":1003.0001220703125,"y":138.33334708213806,"wires":[["3edb84b2.e02a8c"],[],[]]},{"id":"abd01830.ccd228","type":"openweathermap","z":"15122530.eaeddb","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","x":488.3251953125,"y":1152.9459043741226,"wires":[["ff5bfac2.446e88"]]},{"id":"834e9064.6608c","type":"ui_gauge","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Actual Temp (3rd Floor)","group":"Temp Monitor & Control","order":"4","format":"{{value}}","min":"10","max":"35","x":1025.5396614074707,"y":456.5648775100708,"wires":[]},{"id":"120cbc6d.694de4","type":"ui_chart","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Temp","group":"Temp Monitor & Control","order":"9","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":964.206241607666,"y":570.5648727416992,"wires":[[],[]]},{"id":"a5bc10d4.3138d","type":"ParticleVar","z":"15122530.eaeddb","baseurl":"ab8c0ddf.5269d","devid":"LHLAX-RTS-4","getvar":"Color","repeat":"60","x":198,"y":237,"wires":[["c71b06ca.449aa8","2f20c8de.6418e8"]]},{"id":"45c28189.adcec","type":"ui_text","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Set point","group":"Temp Monitor & Control","order":"0","format":"{{msg.payload}}","x":1060.6346416473389,"y":1718.0411520004272,"wires":[]},{"id":"ac7177dd.d5a308","type":"ui_button_row","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"heat cool and manual auto","topic":"","group":"Temp Monitor & Control","order":"7","toggle":true,"buttons":[{"payload":"google","icon":"schedule","color":"green","on_icon":"google-plus-box","on_color":"orange"},{"payload":"cool","icon":"whatshot","color":"orange","on_icon":"flare","on_color":"blue"},{"payload":"test","icon":"sync","color":"purple","on_icon":"thumb_up","on_color":"red"}],"inputs":1,"x":543.6348075866699,"y":1847.3745276927948,"wires":[["9a66b860.31e098"]]},{"id":"c71b06ca.449aa8","type":"function","z":"15122530.eaeddb","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-S\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-S\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":464,"y":238,"wires":[["97b6f6fe.3059c8"],[]]},{"id":"97b6f6fe.3059c8","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":615.666690826416,"y":231.6666774749756,"wires":[]},{"id":"4c7e3cf4.c82f54","type":"function","z":"15122530.eaeddb","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\ncontext.flow.casaria.LHS.COOL_SP1= temp;\nmsg1.payload = context.flow.casaria;\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":1107.6346969604492,"y":1755.0411174297333,"wires":[["2f5db91d.dc3446","3240bb9d.028064"]]},{"id":"d5f0d43e.3e0bd8","type":"function","z":"15122530.eaeddb","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles',/* hour12:false,*/ day: 'numeric' }\nvar optionsday = {timeZone:'America/Los_Angeles', weekday: 'short' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar weekday = d.toLocaleDateString(this,optionsday);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nvar \nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg3.payload = Number(datestr);\nmsg4.payload = weekday;\n\nif (!(context.flow.casaria.LHS.GOOGLE)) {\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHS.TEST) {\n    msg1.payload = true;\n    return [msg1, msg2, msg3];\n}\n\n\nif ((time_now < \"20:00\") & (time_now > \"07:00\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\n//night mode on Saturday and Sunday\nif ((msg4.payload == \"Sat\") | (msg4.payload == \"Sun\")) {\n    msg1.payload = false;\n}\n   //context.flow.casaria.LHS.MODE_NORM = msg1.payload; \n    context.flow.casaria.LHS.OCCUPIED = msg1.payload; \n\n    return [msg1,msg2, msg3, msg4];\n}\n","outputs":"4","noerr":0,"x":982.9562873840332,"y":310.14828872680664,"wires":[["152389a8.2c4df6","e9bc0637.f315c8","739c3a26.ea4724"],["d48d0f94.6f5a1"],["1474c5f7.f36bca","a7388d9e.2fa9e","bb064605.dc2238"],["79af20e4.701cd"]]},{"id":"152389a8.2c4df6","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1290.8730125427246,"y":142.23154067993164,"wires":[]},{"id":"c3524116.201cb","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.63480377197266,"y":1281.3744163513184,"wires":[["3d4e9ae4.68e9c6"]]},{"id":"3d4e9ae4.68e9c6","type":"function","z":"15122530.eaeddb","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":390.63480377197266,"y":1281.3744163513184,"wires":[["7ba4aee.cba695"]]},{"id":"7ba4aee.cba695","type":"debug","z":"15122530.eaeddb","name":"show","active":true,"console":"false","complete":"payload","x":690.634822845459,"y":1348.0410261154175,"wires":[]},{"id":"93adc091.fc9c1","type":"inject","z":"15122530.eaeddb","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.63480377197266,"y":1321.3744163513184,"wires":[["3d92945b.5540fc"]]},{"id":"e9bd21b3.cb93a","type":"function","z":"15122530.eaeddb","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":400.63480377197266,"y":1361.3744163513184,"wires":[["7ba4aee.cba695"]]},{"id":"f6437131.d5d41","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.63480377197266,"y":1361.3744163513184,"wires":[["e9bd21b3.cb93a"]]},{"id":"3d92945b.5540fc","type":"function","z":"15122530.eaeddb","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":389.2062454223633,"y":1322.2315464019775,"wires":[["7ba4aee.cba695"]]},{"id":"115d796e.fc2e37","type":"function","z":"15122530.eaeddb","name":"context.flow","func":"var msg1 ={}, msg2={}, msg3={};\n\n//msg1.payload = casaria;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHS.COOL_SP1;\nmsg2.payload = msg.payload.LHS.SMART;\n\nmsg3.payload={\n    google: msg.payload.LHS.GOOGLE,\n    cool: msg.payload.LHS.COOL,\n    test: msg.payload.LHS.TEST,\n};\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":584.218147277832,"y":1777.5411643981934,"wires":[["20c8b7c0.b458f8"],["f289c94.8255838"],["ac7177dd.d5a308"]]},{"id":"3edb84b2.e02a8c","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1287.3334331512451,"y":29.666694402694702,"wires":[]},{"id":"1deb7beb.200274","type":"ui_gauge","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Actual Humidity (3rd Floor)","group":"Temp Monitor & Control","order":"5","format":"{{value}}","min":"10","max":"100","x":1030.8729515075684,"y":612.2315616607666,"wires":[]},{"id":"f7de3f2f.97865","type":"mqtt out","z":"15122530.eaeddb","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"1","retain":"true","broker":"9e783c4b.37835","x":1433.634937286377,"y":1416.7076091766357,"wires":[]},{"id":"2f5db91d.dc3446","type":"json","z":"15122530.eaeddb","name":"","x":921.3015213012695,"y":1475.7075004577637,"wires":[["8144331e.ce3d6","a8c3b6c2.5e8438"]]},{"id":"9b4e9b4b.c51a78","type":"json","z":"15122530.eaeddb","name":"","x":413.96817779541016,"y":1776.7911643981934,"wires":[["115d796e.fc2e37","3092f778.2ffd58"]]},{"id":"c1133561.53f3f8","type":"mqtt in","z":"15122530.eaeddb","name":"LH-LAX-DEFAULTS-S","topic":"LH-LAX-DEFAULTS-S","qos":"0","broker":"9e783c4b.37835","x":177.95619201660156,"y":1649.9220218658447,"wires":[["4f9d2fb8.c7d9a"]]},{"id":"d48d0f94.6f5a1","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1290.8730125427246,"y":182.23154067993164,"wires":[]},{"id":"89f404c5.72cb08","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":985.4444847106934,"y":416.0410566329956,"wires":[]},{"id":"3092f778.2ffd58","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":575.6347732543945,"y":1725.0410404205322,"wires":[]},{"id":"e9bc0637.f315c8","type":"function","z":"15122530.eaeddb","name":"on / off select color","func":"\n  if (msg.payload) {\n      context.flow.casaria.LHS.COLOR =  context.flow.casaria.LHS.RTS_ON_COLOR;\n    \n    }\n    else {\n      context.flow.casaria.LHS.COLOR = context.flow.casaria.LHS.RTS_OFF_COLOR;\n    }\n   msg.payload = context.flow.casaria.LHS.COLOR;\n   return msg;\n\n","outputs":1,"noerr":0,"x":1304.5396537780762,"y":105.48154258728027,"wires":[["2729fe24.a56572"]]},{"id":"d4a94d41.f33f","type":"ui_chart","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Roof top 2","group":"Temp Monitor & Control","order":"12","interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":984.6668090820312,"y":183.33335185050964,"wires":[[],[]]},{"id":"de149de0.ebc7f","type":"ui_radio_button","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Occupied","topic":"","group":"Temp Monitor & Control","order":"5","buttons":[{"label":"Occupied","payload":"on"},{"label":"Vacated","payload":"off"}],"x":1533.5397033691406,"y":67.89821815490723,"wires":[[]]},{"id":"1474c5f7.f36bca","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1290.8730125427246,"y":222.23154067993164,"wires":[]},{"id":"2f20c8de.6418e8","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":433,"y":278,"wires":[]},{"id":"a205f842.aa75f8","type":"ui_text","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"System Mode Color","group":"Temp Monitor & Control","order":"8","format":"{{msg.payload}}","x":1011.6667442321777,"y":223.66668128967285,"wires":[]},{"id":"d828f5be.d35b78","type":"function","z":"15122530.eaeddb","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"BLUE\";\nelse \n    context.flow.casaria.LHS.COOL_STAGE_COLOR=\"PURPLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1494.2064781188965,"y":258.8982763290405,"wires":[["2f4b01b3.a84c1e"]]},{"id":"2f4b01b3.a84c1e","type":"function","z":"15122530.eaeddb","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":725.6348419189453,"y":1480.7077407836914,"wires":[["2f5db91d.dc3446"]]},{"id":"a7388d9e.2fa9e","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1262.5396690368652,"y":260.5649013519287,"wires":[["d828f5be.d35b78","f9cdfb92.f3d998"]]},{"id":"cbd550d2.a78cc","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":1282.5396614074707,"y":533.8982543945312,"wires":[]},{"id":"c546f983.d43338","type":"google calendar in","z":"15122530.eaeddb","google":"","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":178.96834182739258,"y":426.01074028015137,"wires":[["3bb8228a.ccc6fe","3f003992.b2c386","95eb8d0a.02df"]]},{"id":"3bb8228a.ccc6fe","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":474.96833419799805,"y":426.0107777118683,"wires":[]},{"id":"3f003992.b2c386","type":"function","z":"15122530.eaeddb","name":"Parse Calendar TEMP/Vacancy","func":"if (context.flow.casaria.LHS.GOOGLE) {\n    \n    \nvar msg1={}, msg2= {};\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nvar vacancy = fields[2];\n\n\n\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\nmsg2={\n    topic: \"Vacant\",\n    payload: vacancy,\n};\n\nreturn [msg1, msg2];\n}","outputs":"2","noerr":0,"x":535.6350250244141,"y":383.0108757019043,"wires":[["5a18c149.56881","20c8b7c0.b458f8"],["739c3a26.ea4724","e9bc0637.f315c8","a531ca5e.3feae8"]]},{"id":"5a18c149.56881","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"true","x":794.6351547241211,"y":227.34417915344238,"wires":[]},{"id":"ff5bfac2.446e88","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":698.4918899536133,"y":1153.6126117706299,"wires":[]},{"id":"f3cfef64.4545d","type":"comment","z":"15122530.eaeddb","name":"Room Sensor Data processing","info":"","x":216.14291763305664,"y":572.6665465831757,"wires":[]},{"id":"f9cdfb92.f3d998","type":"ui_template","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"","group":"Temp Monitor & Control","order":"16","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1545.8730773925781,"y":304.56489181518555,"wires":[[]]},{"id":"4238f4b3.c5c7ec","type":"inject","z":"15122530.eaeddb","name":"Simulate Even day ","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":1324.8731079101562,"y":419.5648994445801,"wires":[["f9cdfb92.f3d998"]]},{"id":"8259bc95.c372e","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"payload","x":696.1585693359375,"y":959.9458737373352,"wires":[]},{"id":"86946f6b.fb21","type":"inject","z":"15122530.eaeddb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146.6347885131836,"y":1848.0411221981049,"wires":[["4e8a6744.a7b808"]]},{"id":"4e8a6744.a7b808","type":"function","z":"15122530.eaeddb","name":"Switch Defaults","func":"var msg;\nmsg.payload={\n    google: false,\n    cool: true,\n    test: false,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":312.30145263671875,"y":1847.0411176681519,"wires":[["ac7177dd.d5a308"]]},{"id":"9a66b860.31e098","type":"function","z":"15122530.eaeddb","name":"Switch Update","func":"var msg1, LHS;\nmsg1 ={};\nLHS = {};\ncontext.flow.casaria.LHS.TEST = msg.payload.test;\ncontext.flow.casaria.LHS.COOL = msg.payload.cool;\ncontext.flow.casaria.LHS.GOOGLE = msg.payload.google;\n\nreturn msg1;","outputs":1,"noerr":0,"x":843.968147277832,"y":1719.7078609466553,"wires":[["2f4b01b3.a84c1e"]]},{"id":"70323bcf.70d144","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"payload","x":697.3252792358398,"y":1109.0292901992798,"wires":[]},{"id":"644fea9e.490a84","type":"function","z":"15122530.eaeddb","name":"TEST True","func":"if (context.flow.casaria.LHS.TEST) {\n return msg;\n}\nelse {}","outputs":1,"noerr":0,"x":489.4918785095215,"y":1043.6125631332397,"wires":[["7fc9fdd6.3eb194","70323bcf.70d144"]]},{"id":"161689c5.caf0c6","type":"function","z":"15122530.eaeddb","name":"TEST False","func":"\nif (!context.flow.casaria.LHS.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":488.000057220459,"y":759.0000743865967,"wires":[["7fc9fdd6.3eb194","8259bc95.c372e"]]},{"id":"95eb8d0a.02df","type":"json","z":"15122530.eaeddb","name":"","x":453.634952545166,"y":467.677446603775,"wires":[["13b49e56.cd9ad2"]]},{"id":"13b49e56.cd9ad2","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":595.6349849700928,"y":468.01078057289124,"wires":[]},{"id":"c89f927b.3f3d1","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":601.366943359375,"y":1649.6483421325684,"wires":[["54e79958.b4a6e8"]]},{"id":"bb064605.dc2238","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1291.8730278015137,"y":296.5648765563965,"wires":[]},{"id":"79af20e4.701cd","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"payload","x":1290.8730278015137,"y":329.5648765563965,"wires":[]},{"id":"8144331e.ce3d6","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"false","x":1078.301601409912,"y":1475.041103363037,"wires":[]},{"id":"e1856970.878828","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"true","complete":"true","x":1262.5397148132324,"y":612.5648975372314,"wires":[]},{"id":"3240bb9d.028064","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"false","x":1369.3849029541016,"y":1752.7911548614502,"wires":[]},{"id":"1bda4278.3aedde","type":"inject","z":"15122530.eaeddb","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.63481903076172,"y":1435.7077522277832,"wires":[["a2588994.bbdc18"]]},{"id":"a2588994.bbdc18","type":"function","z":"15122530.eaeddb","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":349.6348190307617,"y":1435.7077522277832,"wires":[["7ba4aee.cba695"]]},{"id":"57a041d9.7c039","type":"function","z":"15122530.eaeddb","name":"Set vars example","func":"var LHS ={};\nvar COOL_SP1, COOL_SP2;\n\n\nvar cas = {\n\nLHS: {\n    COOL_SP1: 24,\n    COOL_SP2: 25.5,\n    SP2_DIF: 1.2,\n    HEAT_SP: 22,\n    //COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    //RTS_ON_COLOR:\"\",\n    //RTS_OFF_COLOR:\"\",\n    //MODE_NORM: \"\",\n    //MODE_COOL_HEAT: \"HEAT\",\n    //TEST_MODE: false,  \n    GOOGLE : false,\n    COOL : true,\n    TEST : true,\n    SMART: true,\n    COOL_STAGE_COLOR: \"BLUE\",\n}\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":383.92049407958984,"y":1482.2792558670044,"wires":[["7ba4aee.cba695","2f4b01b3.a84c1e"]]},{"id":"e5dd93ac.d74a9","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.63481903076172,"y":1483.7077522277832,"wires":[["57a041d9.7c039"]]},{"id":"739c3a26.ea4724","type":"function","z":"15122530.eaeddb","name":"true->on","func":"if (msg.payload){\n  msg.payload=\"on\"  \n}else {\n  msg.payload=\"off\";\n}  \nreturn msg;","outputs":1,"noerr":0,"x":1275.8730239868164,"y":66.89819145202637,"wires":[["de149de0.ebc7f"]]},{"id":"f289c94.8255838","type":"ui_switch","z":"15122530.eaeddb","tab":"b94fec92.86189","name":"Smart & Healthy & Save","topic":"","group":"Temp Monitor & Control","order":"10","onvalue":"On","offvalue":"Off","x":870.6347122192383,"y":1791.3744087219238,"wires":[["58c32f88.296a4"]]},{"id":"58c32f88.296a4","type":"function","z":"15122530.eaeddb","name":"update defaults + temp","func":"\n   \ncontext.flow.casaria.LHS.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1106.63472366333,"y":1791.3743200302124,"wires":[["2f5db91d.dc3446"]]},{"id":"a8c3b6c2.5e8438","type":"rbe","z":"15122530.eaeddb","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1058.301284790039,"y":1416.7078533172607,"wires":[["2b6e5d6c.b7a4a2"]]},{"id":"4f9d2fb8.c7d9a","type":"delay","z":"15122530.eaeddb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.0514602661133,"y":1649.7077884674072,"wires":[["c89f927b.3f3d1"]]},{"id":"2b6e5d6c.b7a4a2","type":"delay","z":"15122530.eaeddb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1213.1348457336426,"y":1416.3744387626648,"wires":[["f7de3f2f.97865"]]},{"id":"f992020c.ca193","type":"comment","z":"15122530.eaeddb","name":"LUFTHANSA CARGO LAX 3rd Floor HVAC control","info":"Read Rooftop sensor data\nRead back current \"color\" mode on HVAC unit","x":789.6666564941406,"y":34,"wires":[]},{"id":"1af185bd.40f91a","type":"comment","z":"15122530.eaeddb","name":"Default Data Tools (Debug only)","info":"","x":222.76191329956055,"y":1243.1427781581879,"wires":[]},{"id":"92c14792.10f898","type":"comment","z":"15122530.eaeddb","name":"READ current parameters from MQTT server","info":"","x":252.42856216430664,"y":1611.1429266929626,"wires":[]},{"id":"13c94c8a.5ea173","type":"comment","z":"15122530.eaeddb","name":"Write Parameters to MQTT (allowing stateless operation)","info":"","x":1321.4285774230957,"y":1374.1428411006927,"wires":[]},{"id":"5887a652.b9e718","type":"comment","z":"15122530.eaeddb","name":"Publish the desired ROOFTOP  UNIT  MODE request","info":"","x":814.4286041259766,"y":1005.4286887645721,"wires":[]},{"id":"da399b7a.985608","type":"comment","z":"15122530.eaeddb","name":"Weather Forecast - Taken into account in SMART preconditioning","info":"","x":651.1429138183594,"y":1201.5716037750244,"wires":[]},{"id":"ba06a493.760d58","type":"mqtt out","z":"15122530.eaeddb","name":"","topic":"CATER LHS","qos":"0","retain":"","broker":"9e783c4b.37835","x":983.34938621521,"y":758.946044921875,"wires":[]},{"id":"1a812de.aee65d2","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":796.9206695556641,"y":757.5174236297607,"wires":[["ba06a493.760d58"]]},{"id":"b6397751.8dc748","type":"inject","z":"15122530.eaeddb","name":"Simulate ODD day","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1325.4790153503418,"y":384.5042419433594,"wires":[["f9cdfb92.f3d998"]]},{"id":"9cb0e4ed.915c38","type":"comment","z":"15122530.eaeddb","name":"To achieve the best possible physiological climate ROOFTOP meassured humidity/temp is used to determine dewpoint and calculate the relative humidity in conditioned room","info":"To achieve the best possible physiological climate ROOFTOP meassured humidity/temp is used to determine dewpoint and calculate the relative humidity in conditioned room","x":990.2727508544922,"y":1241.0909595489502,"wires":[]},{"id":"b1ba67a4.dfca88","type":"comment","z":"15122530.eaeddb","name":"Rof top Sensor Data processing","info":"","x":212.27272033691406,"y":77.27275288105011,"wires":[]},{"id":"929f283.28db6d8","type":"comment","z":"15122530.eaeddb","name":"NOT Used : Optional timed inquiry (pull) of Room Sensor Data processing","info":"","x":339.27272033691406,"y":195.27272033691406,"wires":[]},{"id":"70cf2074.aff26","type":"comment","z":"15122530.eaeddb","name":"Trigger  CATER \"Casaria Automatic Technician Emergency Response\"","info":"","x":1010.9396057128906,"y":813.969820022583,"wires":[]},{"id":"9650ddb8.793af","type":"comment","z":"15122530.eaeddb","name":"IF  GOOGLE is activated (temperture setpoint  and vacancy is controlled by a dedicated google calendar","info":"","x":427.27296447753906,"y":339.2727699279785,"wires":[]},{"id":"a531ca5e.3feae8","type":"debug","z":"15122530.eaeddb","name":"","active":false,"console":"false","complete":"true","x":794.2729377746582,"y":263.8182649612427,"wires":[]},{"id":"2f84c9e2.843626","type":"comment","z":"15122530.eaeddb","name":"Publish the desired  rppftop \"color\" mode for this ZONE","info":"","x":282.272705078125,"y":807.272705078125,"wires":[]},{"id":"6859dd58.1223cc","type":"function","z":"15122530.eaeddb","name":"Set vars example","func":"context.flow.casaria.LHS.SP2_DIF=0.1;\n\n","outputs":1,"noerr":0,"x":388.5714416503906,"y":1525.71435546875,"wires":[["2f4b01b3.a84c1e"]]},{"id":"b56ac02e.b7f2e","type":"inject","z":"15122530.eaeddb","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.5714340209961,"y":1527.1428833007812,"wires":[["6859dd58.1223cc"]]},{"id":"13a079d1.abc176","type":"debug","z":"15122530.eaeddb","name":"","active":true,"console":"false","complete":"true","x":791.6666259765625,"y":65,"wires":[]},{"id":"54e79958.b4a6e8","type":"trigger","z":"15122530.eaeddb","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","name":"One shot","x":280.12500381469727,"y":1776.7500267028809,"wires":[["9b4e9b4b.c51a78"]]},{"id":"ab8c0ddf.5269d","type":"particle-cloud","z":"15122530.eaeddb","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a81a4392.88e46","type":"influxdb","z":"15122530.eaeddb","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"9e783c4b.37835","type":"mqtt-broker","z":"15122530.eaeddb","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b94fec92.86189","type":"ui_tab","z":"15122530.eaeddb","name":"3rd Floor","icon":"dashboard","order":"1"}]