lib/flows/HVAC LH-N
[{"id":"f609749e.d0c998","type":"ui_button_row","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"heat cool and manual auto","topic":"","group":"Temp Monitor & Control","order":"7","toggle":true,"buttons":[{"payload":"google","icon":"schedule","color":"green","on_icon":"google-plus-box","on_color":"orange"},{"payload":"cool","icon":"whatshot","color":"orange","on_icon":"flare","on_color":"blue"},{"payload":"test","icon":"sync","color":"purple","on_icon":"thumb_up","on_color":"red"}],"inputs":1,"x":383.3333053588867,"y":420.0000171661377,"wires":[["e30ac0d4.c18ca"]]},{"id":"f2f5e881.62d568","type":"inject","z":"5ef053be.d90c4c","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":920,"wires":[["a898ec3f.98d06"]]},{"id":"c71c14aa.4358a8","type":"inject","z":"5ef053be.d90c4c","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":187.09219360351562,"y":842.7577390670776,"wires":[["a898ec3f.98d06"]]},{"id":"9e89ed8f.eba4f","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":880,"wires":[["a898ec3f.98d06"]]},{"id":"4e0291a1.c3aaf","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":960,"wires":[["a898ec3f.98d06"]]},{"id":"2ce4b029.5369","type":"inject","z":"5ef053be.d90c4c","name":"WHITE ALL OFF","topic":"","payload":"WHITE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":1040,"wires":[["a898ec3f.98d06"]]},{"id":"8a4cb2b0.9c6f3","type":"inject","z":"5ef053be.d90c4c","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1000,"wires":[["a898ec3f.98d06"]]},{"id":"b3d683bb.858ad","type":"inject","z":"5ef053be.d90c4c","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1160,"wires":[["5c1f63d3.cd8a3c","a898ec3f.98d06"]]},{"id":"1617ddcb.b7ada2","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-SENS-N","x":218.5714111328125,"y":768.5714149475098,"wires":[["713a9b60.d27494"]]},{"id":"713a9b60.d27494","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-SENS-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color;\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\ncolor = fields[2];\n\nif (color != context.flow.casaria.LHN.COLOR)\n{\n    \n} else {\n    color = \"\";\n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHN.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHN.COLOR = color;\n\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2];\n\nif (Number(fields[0])<=2.0) fields[0] = '0.0';\n\n   \nswitch (color){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: color,\n    ColorNum: cnum,\n    strValue: \"LHLAX-SENS-N\",\n}\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]),\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":576.9341125488281,"y":842.6042060852051,"wires":[["a138a849.7ad6a8"],["8630f5a3.792e98","eb6d367a.4ed188","36fb38b1.09ca68","c559d1b5.bc4c3","b040866.b297b78"],["36fb38b1.09ca68","591b6ccc.dc70a4"],["45802b0b.8e74d4"]]},{"id":"a138a849.7ad6a8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-SENS-N","x":971.9999847412109,"y":718,"wires":[]},{"id":"8630f5a3.792e98","type":"function","z":"5ef053be.d90c4c","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHN.COOL_SP1;\nvar dif = context.flow.casaria.LHN.SP2_DIF;\nvar mode = context.flow.casaria.LHN.COLOR;\nvar T_RT = context.flow.casaria.LHN.T_RT;\nvar HEAT = context.flow.casaria.LHN.HEAT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHN.COOL_STAGE_COLOR;\nvar heat_sp =context.flow.casaria.LHN.HEAT_SP;\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\nmsg3.payload = HEAT;\n\nif (T_RT < (coolsp - 3.50)) {\n    msg3.payload = \"GREEN\";\n} else {\n    msg3.payload = \"WHITE\";\n}\nif (temp < coolsp - 0.3) {\n    msg3.payload = \"WHITE\";\n} \ncontext.flow.casaria.LHN.RTN_OFF_COLOR=msg3.payload;\n\nif ((mode != HEAT) & (temp > (coolsp - 0.1))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-0.1))\n    msg3.payload = \"ORANGE\";\n    \n\n  \n    \nif (temp < heat_sp)\n    msg3.payload = \"RED\" ;\n\n//    msg3.payload = \"GREEN\";\n\ncontext.flow.casaria.LHN.RTN_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHN.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":988.0582885742188,"y":930.1361360549927,"wires":[["ac45dbd8.ccd178","bd1305a2.7d5298"],["304752b7.b37e7e"],["21d8f4ae.8c812c"]]},{"id":"738327e2.01cd98","type":"mqtt out","z":"5ef053be.d90c4c","name":"Publish MQTT LH-N","topic":"LH-N","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":684.5329437255859,"y":970.2972679138184,"wires":[]},{"id":"21d8f4ae.8c812c","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1270,"y":980,"wires":[]},{"id":"f247a008.606ad","type":"delay","z":"5ef053be.d90c4c","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"120","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1146.6667175292969,"y":341.66668033599854,"wires":[["93dd2b4a.fc6b58","e7631d20.15c75"]]},{"id":"ac45dbd8.ccd178","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"true","x":1253,"y":896,"wires":[]},{"id":"94b88ee0.a3c03","type":"ui_slider","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","topic":"COOL_SP1","group":"Temp Monitor & Control","order":"1","min":"18.5","max":"28.5","x":670.0000305175781,"y":176.33334159851074,"wires":[["46b5d068.9f115","db055da6.1779c","e3b2d44f.9a4028"]]},{"id":"aff8260e.0a13a8","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-RT-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar cnum;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2,msg3,msg4]\n\nif ((Number(fields[0]) < 0) || (Number(fields[0] < 0))) \n   return [msg1,msg2, msg3, msg4];\n   \nswitch (fields[2]){\n    case \"WHITE\":\n        cnum = 0;\n        break;\n    case \"YELLOW\":\n        cnum = 1;\n        break;\n    case \"GREEN\":\n        cnum = 2;\n        break;\n    case \"BLUE\":\n        cnum = 3;\n        break;\n    case \"PURPLE\":\n        cnum = 4;\n        break;\n    case \"ORANGE\":\n        cnum = 5;\n        break;\n    case \"RED\":\n        cnum = 6;\n        break;\n    default:\n        cnum = 0;\n        break;\n} \n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    ColorNum: cnum,\n    strValue: \"LHLAX-RT-N\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":555.7142639160156,"y":1318.5714054107666,"wires":[["c19a5bcd.44e2b8","66692565.a6fe6c"],["75e700f8.cd2b9"],["75e700f8.cd2b9"],["75e700f8.cd2b9","d23063ab.29228","7147b78.6ae3748"]]},{"id":"a8abe5b9.022988","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-RTN-2","x":188.57142639160156,"y":1318.571388244629,"wires":[["aff8260e.0a13a8"]]},{"id":"c19a5bcd.44e2b8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-RT-N","x":960,"y":1280,"wires":[]},{"id":"66692565.a6fe6c","type":"function","z":"5ef053be.d90c4c","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHN.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":950,"y":1340,"wires":[["47d658a2.aac798"],[],[]]},{"id":"5c1f63d3.cd8a3c","type":"openweathermap","z":"5ef053be.d90c4c","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","x":567.1666603088379,"y":1152.6666345596313,"wires":[["7e514c8b.765664","bce0d699.739ff8","6f792f19.e493c"]]},{"id":"7e514c8b.765664","type":"pushover","z":"5ef053be.d90c4c","name":"Push weahther","device":"","title":"","priority":0,"sound":"pushover","x":940,"y":1100,"wires":[]},{"id":"eb6d367a.4ed188","type":"ui_gauge","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Actual Temp (1st Floor)","group":"Temp Monitor & Control","order":"4","format":"{{value}}","min":"10","max":"35","x":970,"y":978.5714559555054,"wires":[]},{"id":"36fb38b1.09ca68","type":"ui_chart","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Temp","group":"Temp Monitor & Control","order":"9","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":910,"y":878.5714559555054,"wires":[[],[]]},{"id":"428406ce.fc6238","type":"ui_switch","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Smart Energy Saver","topic":"","group":"Temp Monitor & Control","order":"10","onvalue":"On","offvalue":"Off","x":714.0000076293945,"y":63.333380699157715,"wires":[["ecbc6af6.38ce28"]]},{"id":"165cd0df.df337f","type":"ParticleVar","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","devid":"LHLAX-RTN-2","getvar":"Color","repeat":"60","x":170,"y":1400,"wires":[["99ec7988.dddac8","4b92cfbd.0a233"]]},{"id":"46b5d068.9f115","type":"ui_text","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Set point","group":"Temp Monitor & Control","order":"0","format":"{{msg.payload}}","x":893.0000343322754,"y":146.33331966400146,"wires":[]},{"id":"99ec7988.dddac8","type":"function","z":"5ef053be.d90c4c","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-N\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-N\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":400,"y":1400,"wires":[["eb1b2665.d2fce8"],[]]},{"id":"eb1b2665.d2fce8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":590,"y":1400,"wires":[]},{"id":"e3b2d44f.9a4028","type":"function","z":"5ef053be.d90c4c","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\n   \ncontext.flow.casaria.LHN.COOL_SP1= temp;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":959.333251953125,"y":200.76187419891357,"wires":[["11fa8782.66fb08","8b806856.ea1888"]]},{"id":"c559d1b5.bc4c3","type":"function","z":"5ef053be.d90c4c","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles', hour12:false, day: 'numeric' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg3.payload = Number(datestr);\n\n\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHN.TEST_MODE) {\n    msg1.payload = context.flow.casaria.LHN.MODE_NORM;\n    return [msg1, msg2, msg3];\n}\n\n\nif ((time_now < \"20:00\") & (time_now > \"07:00\")){\n      msg1.payload=true;\n    \n} else {\n    msg1.payload = false;\n}\n\ncontext.flow.casaria.LHN.MODE_NORM = msg1.payload; \nreturn [msg1,msg2, msg3];","outputs":"3","noerr":0,"x":507.5850944519043,"y":655.0429792404175,"wires":[["4c5c6b05.b746a4","81efed58.e2e32","a5b8c853.fe2468","7a80728a.ea7a2c"],["3185569e.3446ea"],["b277bae8.b9a8c8","683ee6d1.248118"]]},{"id":"93dd2b4a.fc6b58","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1370,"y":340,"wires":[]},{"id":"4c5c6b05.b746a4","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"true","complete":"payload","x":930,"y":500,"wires":[]},{"id":"212c122e.68c26e","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1540,"wires":[["4680ce88.6213b"]]},{"id":"4680ce88.6213b","type":"function","z":"5ef053be.d90c4c","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1540,"wires":[["effde750.252038"]]},{"id":"effde750.252038","type":"debug","z":"5ef053be.d90c4c","name":"show","active":true,"console":"false","complete":"payload","x":670,"y":1560,"wires":[]},{"id":"2abfaefc.d4bdf2","type":"inject","z":"5ef053be.d90c4c","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":140,"y":1580,"wires":[["7b1f0dde.27dbe4"]]},{"id":"aed5eae4.1e3798","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["effde750.252038"]]},{"id":"1ecc014a.a669cf","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1620,"wires":[["aed5eae4.1e3798"]]},{"id":"7b1f0dde.27dbe4","type":"function","z":"5ef053be.d90c4c","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":350,"y":1580,"wires":[["effde750.252038"]]},{"id":"19ba8ed5.07e6d1","type":"function","z":"5ef053be.d90c4c","name":"context.flow","func":"var msg1 ={}, msg2={}, msg3={};\n\n//msg1.payload = casaria;\ncontext.flow.casaria = msg.payload;\n// to add new parameters\n//context.flow.casaria = casaria;\nmsg1.payload = msg.payload.LHN.COOL_SP1;\nmsg2.payload = msg.payload.LHN.SMART;\nmsg3.payload={\n    google: msg.payload.LHN.GOOGLE,\n    cool: msg.payload.LHN.COOL,\n    test: msg.payload.LHN.TEST,\n};\n\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":460.00003814697266,"y":153.33332920074463,"wires":[["94b88ee0.a3c03","4a058c8d.d32a94","170b233e.e9b87d"],["428406ce.fc6238"],["f609749e.d0c998"]]},{"id":"47d658a2.aac798","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":1270,"y":1340,"wires":[]},{"id":"591b6ccc.dc70a4","type":"ui_gauge","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Actual Humidity (1st Floor)","group":"Temp Monitor & Control","order":"5","format":"{{value}}","min":"10","max":"100","x":980,"y":1018.5714559555054,"wires":[]},{"id":"13344dfa.c99a72","type":"mqtt out","z":"5ef053be.d90c4c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":1478.3335151672363,"y":231.66665649414062,"wires":[]},{"id":"11fa8782.66fb08","type":"json","z":"5ef053be.d90c4c","name":"","x":1155.0000495910645,"y":239.9999885559082,"wires":[["b685d916.9649b8"]]},{"id":"794a7144.4129e","type":"inject","z":"5ef053be.d90c4c","name":"STORE 23.0","topic":"","payload":"23.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":488.33329010009766,"y":204.99999237060547,"wires":[["94b88ee0.a3c03"]]},{"id":"ef22110d.c30d4","type":"json","z":"5ef053be.d90c4c","name":"","x":277.6666603088379,"y":248.9166750907898,"wires":[["19ba8ed5.07e6d1","bba05c9f.cf597"]]},{"id":"7a0417f3.4ff8e8","type":"mqtt in","z":"5ef053be.d90c4c","name":"","topic":"LH-LAX-DEFAULTS-N","qos":"1","broker":"c11dd00d.e4025","x":138.33334350585938,"y":89.33333587646484,"wires":[["f692e61c.f3af38"]]},{"id":"3185569e.3446ea","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":540,"wires":[]},{"id":"b040866.b297b78","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":930,"y":760,"wires":[]},{"id":"94effe12.f1b57","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1115.7143325805664,"y":292.8571424484253,"wires":[]},{"id":"bba05c9f.cf597","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":466.6666793823242,"y":110.00000190734863,"wires":[]},{"id":"a5b8c853.fe2468","type":"function","z":"5ef053be.d90c4c","name":"on / off select color","func":"if (msg.payload) {\n  context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_ON_COLOR;\n}\nelse {\n   context.flow.casaria.LHN.COLOR = context.flow.casaria.LHN.RTN_OFF_COLOR;\n}\nmsg.payload = context.flow.casaria.LHN.COLOR;\nreturn msg;","outputs":1,"noerr":0,"x":918.3333168029785,"y":321.66668033599854,"wires":[["94effe12.f1b57","f247a008.606ad"]]},{"id":"75e700f8.cd2b9","type":"ui_chart","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Roof top","group":"Temp Monitor & Control","order":"12","interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":920.0000152587891,"y":1393.750020980835,"wires":[[],[]]},{"id":"2b747eb0.553ba2","type":"ui_radio_button","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","topic":"OCUPIED","group":"Temp Monitor & Control","order":"9","buttons":[{"label":"Occupied","payload":"on"},{"label":"Vacated","payload":"off"}],"x":982.6190986633301,"y":416.66663360595703,"wires":[["a676a095.e035d"]]},{"id":"b277bae8.b9a8c8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":580,"wires":[]},{"id":"4a058c8d.d32a94","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":685,"y":110.89285850524902,"wires":[]},{"id":"4b92cfbd.0a233","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":410,"y":1440,"wires":[]},{"id":"d23063ab.29228","type":"ui_text","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"System Mode Color","group":"Temp Monitor & Control","order":"8","format":"{{msg.payload}}","x":959.9999732971191,"y":1431.6666419506073,"wires":[]},{"id":"bc493cd7.4347a","type":"function","z":"5ef053be.d90c4c","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"BLUE\";\nelse \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"PURPLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":620,"wires":[["bd1305a2.7d5298"]]},{"id":"bd1305a2.7d5298","type":"function","z":"5ef053be.d90c4c","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":940.0000152587891,"y":246.6666603088379,"wires":[["11fa8782.66fb08"]]},{"id":"683ee6d1.248118","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":910,"y":620,"wires":[["bc493cd7.4347a","45324474.2213cc"]]},{"id":"7147b78.6ae3748","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"payload","x":930,"y":1480,"wires":[]},{"id":"304752b7.b37e7e","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":940,"wires":[]},{"id":"f712fc83.4af6a","type":"google calendar in","z":"5ef053be.d90c4c","google":"","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":160,"y":300,"wires":[["affaa061.beb71","9f3bd4f3.1061e8","e0972f52.938d3"]]},{"id":"affaa061.beb71","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":572,"y":300,"wires":[]},{"id":"9f3bd4f3.1061e8","type":"function","z":"5ef053be.d90c4c","name":"Parse Calendar TEMP","func":"var msg1;\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\n\nreturn [msg1];","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["c585fdcd.9359d","94b88ee0.a3c03"]]},{"id":"c585fdcd.9359d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":670,"y":260,"wires":[]},{"id":"bce0d699.739ff8","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":930,"y":1135,"wires":[]},{"id":"d13394b6.92a8b8","type":"comment","z":"5ef053be.d90c4c","name":"LUFTHANSA CARGO LAX 1st and 2nd Floor HVAC control","info":"","x":270,"y":40,"wires":[]},{"id":"6f792f19.e493c","type":"e-mail","z":"5ef053be.d90c4c","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email Energy Report to Todor","x":978.3333129882812,"y":1175.000005722046,"wires":[]},{"id":"45324474.2213cc","type":"ui_template","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","group":"Temp Monitor & Control","order":"16","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1286.6667022705078,"y":656.6666927337646,"wires":[[]]},{"id":"76c15d8.4af59a4","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":770,"y":660,"wires":[["45324474.2213cc"]]},{"id":"45802b0b.8e74d4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":910.0624694824219,"y":1056.2617168426514,"wires":[]},{"id":"81efed58.e2e32","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":755.6665649414062,"y":322.66668701171875,"wires":[["a5b8c853.fe2468"]]},{"id":"521001fc.73f57","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":635.833381652832,"y":1084.1666412353516,"wires":[]},{"id":"a898ec3f.98d06","type":"function","z":"5ef053be.d90c4c","name":"TEST True","func":"if (context.flow.casaria.LHN.TEST) {\n  return msg;\n    \n}else {}","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["738327e2.01cd98","521001fc.73f57"]]},{"id":"e7631d20.15c75","type":"function","z":"5ef053be.d90c4c","name":"TEST False","func":"if (!context.flow.casaria.LHN.TEST) {\nreturn msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":429.58335876464844,"y":907.4999961853027,"wires":[["521001fc.73f57","738327e2.01cd98"]]},{"id":"a676a095.e035d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1178,"y":484,"wires":[]},{"id":"7a80728a.ea7a2c","type":"function","z":"5ef053be.d90c4c","name":"","func":"if (msg.payload){\n  msg.payload=\"on\"  \n}else {\n  msg.payload=\"off\";\n}  \nreturn msg;","outputs":1,"noerr":0,"x":828.3333053588867,"y":416.6666622161865,"wires":[["2b747eb0.553ba2"]]},{"id":"e0972f52.938d3","type":"json","z":"5ef053be.d90c4c","name":"","x":429.9999694824219,"y":341.6666564941406,"wires":[["1cc90c29.561df4"]]},{"id":"1cc90c29.561df4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":571.6666259765625,"y":341.6666564941406,"wires":[]},{"id":"170b233e.e9b87d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":670,"y":223.3333282470703,"wires":[]},{"id":"8b806856.ea1888","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":1366.9046745300293,"y":120.71426963806152,"wires":[]},{"id":"db055da6.1779c","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":889.5238418579102,"y":109.52380180358887,"wires":[]},{"id":"b685d916.9649b8","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1296.666519165039,"y":288.33330726623535,"wires":[["13344dfa.c99a72"]]},{"id":"b7c416ca.585148","type":"trigger","z":"5ef053be.d90c4c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":true,"units":"ms","reset":"","name":"","x":1380.952407836914,"y":391.4285969734192,"wires":[[]]},{"id":"618bc87e.140fa","type":"inject","z":"5ef053be.d90c4c","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1683.333251953125,"wires":[["aa9ae77.2bd4d98"]]},{"id":"aa9ae77.2bd4d98","type":"function","z":"5ef053be.d90c4c","name":"delete vars from flow.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.flow) { \n\t\t\tdelete context.flow[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.flow) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.flow[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":340,"y":1683.333251953125,"wires":[["effde750.252038"]]},{"id":"ec789e47.739a18","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"var LHN ={};\nvar COOL_SP1, COOL_SP2;\n\n\nvar cas = {\n\nLHN: {\n    COOL_SP1: 24,\n    COOL_SP2: 25.5,\n    SP2_DIF: .1,\n    HEAT_SP: 22,\n    COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    RTS_ON_COLOR:\"\",\n    RTS_OFF_COLOR:\"\",\n    //MODE_NORM: \"\",\n    //MODE_COOL_HEAT: \"HEAT\",\n    //TEST_MODE: false,  \n    GOOGLE : false,\n    COOL : true,\n    TEST : true,\n    SMART : true,\n    COOL_STAGE_COLOR: \"BLUE\",\n}\n};\n\ncontext.flow.casaria=cas;\n\n","outputs":1,"noerr":0,"x":374.2856750488281,"y":1729.9047555923462,"wires":[["effde750.252038","6209c9ea.a40f38"]]},{"id":"9eb13fa9.75aa98","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1731.333251953125,"wires":[["ec789e47.739a18"]]},{"id":"e30ac0d4.c18ca","type":"function","z":"5ef053be.d90c4c","name":"","func":"var msg1;\nmsg1 ={};\ncontext.flow.casaria.LHN.TEST = msg.payload.test;\ncontext.flow.casaria.LHN.COOL = msg.payload.cool;\ncontext.flow.casaria.LHN.GOOGLE = msg.payload.google;\n\nreturn msg1;","outputs":1,"noerr":0,"x":591.666690826416,"y":419.99998569488525,"wires":[["bd1305a2.7d5298"]]},{"id":"37e59449.4ac10c","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":136.50000381469727,"y":166.00000381469727,"wires":[["523ecd49.f9c404"]]},{"id":"6209c9ea.a40f38","type":"json","z":"5ef053be.d90c4c","name":"","x":1283.333251953125,"y":204.99998474121094,"wires":[["13344dfa.c99a72"]]},{"id":"ecbc6af6.38ce28","type":"function","z":"5ef053be.d90c4c","name":"update defaults + temp","func":"\n   \ncontext.flow.casaria.LHN.SMART=msg.payload;\n//context.flow.casaria. LHN.TEST_MODE = context\nmsg1.payload = context.flow.casaria;\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":958.3333129882812,"y":65,"wires":[["11fa8782.66fb08"]]},{"id":"f692e61c.f3af38","type":"delay","z":"5ef053be.d90c4c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":167.25,"y":128.50000190734863,"wires":[["37e59449.4ac10c"]]},{"id":"d598981.8c6df68","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":768,"y":698,"wires":[["45324474.2213cc"]]},{"id":"37f423f0.5887f4","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"context.flow.casaria.LHN.SP2_DIF = 0.1;","outputs":1,"noerr":0,"x":374.28570556640625,"y":1780,"wires":[["6209c9ea.a40f38"]]},{"id":"321a4821.b739a","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.5714225769043,"y":1778.5713806152344,"wires":[["37f423f0.5887f4"]]},{"id":"523ecd49.f9c404","type":"trigger","z":"5ef053be.d90c4c","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","name":"One shot","x":144.75,"y":204.75000286102295,"wires":[["ef22110d.c30d4"]]},{"id":"f54eb015.9c1db","type":"ui_tab","z":"5ef053be.d90c4c","name":"1st & 2nd Floor","icon":"dashboard","order":"1"},{"id":"99972241.00e96","type":"particle-cloud","z":"5ef053be.d90c4c","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"d60b7ab3.26b398","type":"influxdb","z":"5ef053be.d90c4c","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"c11dd00d.e4025","type":"mqtt-broker","z":"5ef053be.d90c4c","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]