lib/flows/LH-HVAC
[{"id":"f2f5e881.62d568","type":"inject","z":"5ef053be.d90c4c","name":"Heat on - RED","topic":"","payload":"RED","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":920,"wires":[["a898ec3f.98d06"]]},{"id":"c71c14aa.4358a8","type":"inject","z":"5ef053be.d90c4c","name":"COOL Stage 2 - PURPLE","topic":"","payload":"PURPLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":840,"wires":[["a898ec3f.98d06"]]},{"id":"9e89ed8f.eba4f","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 - BLUE","topic":"","payload":"BLUE","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":880,"wires":[["a898ec3f.98d06"]]},{"id":"4e0291a1.c3aaf","type":"inject","z":"5ef053be.d90c4c","name":"Cool Stage 1 + 2 - ORANGE","topic":"","payload":"ORANGE","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":960,"wires":[["a898ec3f.98d06"]]},{"id":"2ce4b029.5369","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"WHITE (ALL POWER OFF )","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1040,"wires":[["a898ec3f.98d06"]]},{"id":"8a4cb2b0.9c6f3","type":"inject","z":"5ef053be.d90c4c","name":"IDLE(FAN ONLY) - GREEN","topic":"","payload":"GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1000,"wires":[["a898ec3f.98d06"]]},{"id":"b3d683bb.858ad","type":"inject","z":"5ef053be.d90c4c","name":"YELLOW","topic":"","payload":"YELLOW","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1160,"wires":[["5c1f63d3.cd8a3c"]]},{"id":"1617ddcb.b7ada2","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-SENS-N","x":200,"y":740,"wires":[["713a9b60.d27494"]]},{"id":"713a9b60.d27494","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-SENS-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nvar pcolor, color;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\ncolor = fields[2];\n\nif (color != context.flow.casaria.LHN.COLOR)\n{\n    \n} else {\n    color = \"\";\n}\nmsg4.payload = {\n    topic: \"color\",\n    COLOR: context.flow.casaria.LHN.COLOR,\n    CUR_COLOR: color, \n}\ncontext.flow.casaria.LHN.COLOR = color;\n\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2]\n\n//if (Number(fields[0])<=2.0) fields[0] = '0.0';\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number (fields[0]) - 1.0,\n    Humidity:  Number ( fields[1]),\n    Color: color,\n    strValue: \"LHLAX-SENS-N\",\n}\nmsg2 = {\n    topic: \"Temp\",\n    payload: Number (fields[0]) -1.0,\n}\nmsg3 = {\n    topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":540,"y":740,"wires":[["a138a849.7ad6a8"],["8630f5a3.792e98","67918834.5132e8","eb6d367a.4ed188","36fb38b1.09ca68","c559d1b5.bc4c3","b040866.b297b78"],["389331c2.15b84e","36fb38b1.09ca68","591b6ccc.dc70a4"],["45802b0b.8e74d4"]]},{"id":"a138a849.7ad6a8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-SENS-N","x":970,"y":720,"wires":[]},{"id":"8630f5a3.792e98","type":"function","z":"5ef053be.d90c4c","name":"INDOOR TEMP CONTROLLER","func":"var temp = msg.payload;\nvar coolsp = context.flow.casaria.LHN.COOL_N_S1;\nvar dif = context.flow.casaria.LHN.SP2_DIF;\nvar mode = context.flow.casaria.LHN.COLOR;\nvar T_RT = context.flow.casaria.LHN.T_RT;\nvar COOL_STAGE_COLOR = context.flow.casaria.LHN.COOL_STAGE_COLOR;\n\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg1.payload = coolsp;\nmsg2.payload = temp;\n\nif (T_RT < (coolsp - 1.50)) {\n    msg3.payload = \"GREEN\";\n} else {\n    msg3.payload = \"WHITE\";\n}\ncontext.flow.casaria.LHN.RTN_OFF_COLOR=msg3.payload;\n\nif ((mode != COOL_STAGE_COLOR) & (temp > (coolsp + 0.3))) \n   msg3.payload = COOL_STAGE_COLOR;   \nif ((mode != \"ORANGE\") & (temp > (coolsp + dif)))\n    msg3.payload = \"ORANGE\";\nif ((mode == \"ORANGE\") & (temp > coolsp-.1))\n    msg3.payload = \"ORANGE\";\n    \n\n  \n    \nif (temp < context.flow.casaria.LHN.HEAT_N)\n    msg3.payload = \"RED\" ;\n\n//    msg3.payload = \"GREEN\";\n\ncontext.flow.casaria.LHN.RTN_ON_COLOR = msg3.payload;\ncontext.flow.casaria.LHN.COLOR = msg3.payload;\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":990,"y":980,"wires":[["ac45dbd8.ccd178"],["304752b7.b37e7e"],["21d8f4ae.8c812c"]]},{"id":"738327e2.01cd98","type":"mqtt out","z":"5ef053be.d90c4c","name":"Publish MQTT LH-N","topic":"LH-N","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":696.6666717529297,"y":1019.9999599456787,"wires":[]},{"id":"21d8f4ae.8c812c","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1270,"y":980,"wires":[]},{"id":"f247a008.606ad","type":"delay","z":"5ef053be.d90c4c","name":"STAGE MIN CYCLE","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"12","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":340,"wires":[["93dd2b4a.fc6b58","7bed58fb.51bdd8"]]},{"id":"7bed58fb.51bdd8","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1393.3333053588867,"y":424.99998474121094,"wires":[["e7631d20.15c75"]]},{"id":"ac45dbd8.ccd178","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"true","x":1250,"y":900,"wires":[]},{"id":"94b88ee0.a3c03","type":"ui_slider","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"COOL","topic":"COOL_SP","group":"Temp Monitor & Control","order":"1","min":"18.5","max":"27.5","x":670,"y":200,"wires":[["46b5d068.9f115","e3b2d44f.9a4028"]]},{"id":"aff8260e.0a13a8","type":"function","z":"5ef053be.d90c4c","name":"LHLAX-RT-N Temperature, Humidity","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2, msg3, msg4;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nif (isNaN (fields[0]) || isNaN(fields[1])) return [msg1,msg2,msg3,msg4]\n\nif ((Number(fields[0]) < 0) || (Number(fields[0] < 0))) \n   return [msg1,msg2, msg3, msg4];\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Ambient: Number ( fields[0]),\n    Humidity:  Number ( fields[1]),\n    Color: fields [2],\n    strValue: \"LHLAX-RT-N\",\n}\nmsg2 = {\n        topic: \"Temp\",\n    payload: Number (fields[0]) \n}\nmsg3 = {\n        topic: \"Humidity\",\n    payload: Number (fields[1]) \n}\nmsg4 = {\n        topic: \"Color\",\n        payload: fields[2], \n}\nreturn [msg1,msg2, msg3, msg4];","outputs":"4","noerr":0,"x":550,"y":1320,"wires":[["c19a5bcd.44e2b8","66692565.a6fe6c"],["75e700f8.cd2b9"],["75e700f8.cd2b9"],["75e700f8.cd2b9","d23063ab.29228","7147b78.6ae3748"]]},{"id":"a8abe5b9.022988","type":"ParticleSSE in","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","evtname":"dsCombi","devid":"LHLAX-RT-N","x":190,"y":1320,"wires":[["aff8260e.0a13a8"]]},{"id":"c19a5bcd.44e2b8","type":"influxdb out","z":"5ef053be.d90c4c","influxdb":"d60b7ab3.26b398","name":"","measurement":"LHLAX-RT-N","x":960,"y":1280,"wires":[]},{"id":"66692565.a6fe6c","type":"function","z":"5ef053be.d90c4c","name":"RT CONTROLLER","func":"var temp = Number (msg.payload.Ambient);\nvar msg1, msg2, msg3;\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\ncontext.flow.casaria.LHN.T_RT = temp;\nmsg1.payload = temp;\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":950,"y":1340,"wires":[["47d658a2.aac798"],[],[]]},{"id":"5c1f63d3.cd8a3c","type":"openweathermap","z":"5ef053be.d90c4c","name":"El Segundo","wtype":"forecast","lon":"","lat":"","city":"El Segundo","country":"USA","x":567.1666603088379,"y":1152.6666345596313,"wires":[["7e514c8b.765664","bce0d699.739ff8","6f792f19.e493c"]]},{"id":"7e514c8b.765664","type":"pushover","z":"5ef053be.d90c4c","name":"Push weahther","device":"","title":"","priority":0,"sound":"pushover","x":940,"y":1100,"wires":[]},{"id":"67918834.5132e8","type":"mqtt out","z":"5ef053be.d90c4c","name":"Mosca TEMP T1","topic":"LHN-T1","qos":"1","retain":"true","broker":"d02e3971.fec758","x":950,"y":800,"wires":[]},{"id":"eb6d367a.4ed188","type":"ui_gauge","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Actual Temp (1st Floor)","group":"Temp Monitor & Control","order":"4","format":"{{value}}","min":"10","max":"35","x":970,"y":1020,"wires":[]},{"id":"36fb38b1.09ca68","type":"ui_chart","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Temp","group":"Temp Monitor & Control","order":"3","interpolate":"basis","nodata":"No Data","removeOlder":"4","removeOlderUnit":"3600","x":910,"y":920,"wires":[[],[]]},{"id":"428406ce.fc6238","type":"ui_switch","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Energy Mode","topic":"","group":"Temp Monitor & Control","order":"10","onvalue":"Day","offvalue":"NIGHT","x":929.0000152587891,"y":380.00001525878906,"wires":[[]]},{"id":"165cd0df.df337f","type":"ParticleVar","z":"5ef053be.d90c4c","baseurl":"99972241.00e96","devid":"LHLAX-RT-N","getvar":"Color","repeat":"0","x":170,"y":1400,"wires":[["99ec7988.dddac8","4b92cfbd.0a233"]]},{"id":"389331c2.15b84e","type":"mqtt out","z":"5ef053be.d90c4c","name":"Mosca-HUM H1","topic":"LHN-H1","qos":"1","retain":"true","broker":"d02e3971.fec758","x":940,"y":860,"wires":[]},{"id":"46b5d068.9f115","type":"ui_text","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Set point","group":"Temp Monitor & Control","order":"0","format":"{{msg.payload}}","x":879.9999923706055,"y":158.3333282470703,"wires":[]},{"id":"ef8fb3bc.31aa8","type":"ui_button_row","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","topic":"Button","group":"Temp Monitor & Control","order":"11","toggle":true,"buttons":[{"payload":"NIGHT","icon":"brightness_7","color":"orange","on_icon":"brightness_3","on_color":"maroon"},{"payload":"TEST","icon":"schedule","color":"cyan","on_icon":"thumb_up","on_color":"RED"}],"inputs":1,"x":443.3333396911621,"y":419.99998664855957,"wires":[["e30ac0d4.c18ca"]]},{"id":"99ec7988.dddac8","type":"function","z":"5ef053be.d90c4c","name":"Format","func":"var s = msg.payload;\nvar fields = s.split('&');\nvar msg1, msg2;\nvar f,c1,c2,h;\nmsg1 = {};\nmsg2 = {};\n\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Status: msg.payload,\n    strValue: \"LHLAX-RTR-N\",\n}\nf=0;c1=0; c2=0; h=0; \nswitch (msg.payload) {\n        case \"ORANGE\":\n            f = 1; c1=1; c2=2;\n            break;\n        case \"PURPLE\":\n            f=1; c1=1;\n            break;\n        case \"BLUE\":\n            f=1; c2=1;\n            break;\n        case \"GREEN\":\n            f=1;\n            break;\n        case \"RED\":\n            f=1; h=1;\n            break;\n        default:\n            break;\n    }\n\nmsg2 = {\n    time: Date.parse(msg.published_at),\n    F: f,\n    C1: c1,\n    C2: c2,\n    H: h,\n    Color: String (fields[0]),\n    strValue: \"LHLAX-RTR-N\",  \n}    \nreturn [msg1,msg2 ];","outputs":"2","noerr":0,"x":400,"y":1400,"wires":[["eb1b2665.d2fce8"],[]]},{"id":"eb1b2665.d2fce8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":590,"y":1400,"wires":[]},{"id":"e3b2d44f.9a4028","type":"function","z":"5ef053be.d90c4c","name":"update defaults + temp","func":"var temp;\ntemp = Number (msg.payload);\nvar msg1;\nmsg1 = {};\n   \nmsg1.payload = context.flow.casaria;\nmsg1.payload.LHN.COOL_N_S1= temp;\n\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":931.6666412353516,"y":200.00000190734863,"wires":[["11fa8782.66fb08"]]},{"id":"c559d1b5.bc4c3","type":"function","z":"5ef053be.d90c4c","name":"Time Clock","func":"var d = new Date();\nvar msg1,msg2,msg3;\nvar options = {timeZone:'America/Los_Angeles', hour12:false, timeZoneName: 'short', hour: 'numeric', minute: 'numeric' }\nvar optionsdate = {timeZone:'America/Los_Angeles', hour12:false, day: 'numeric' }\n\nvar timestr = d.toLocaleTimeString(this,options);\nvar datestr = d.toLocaleDateString(this,optionsdate);\nvar time_now = timestr.split(\" \")[0];\nvar hr_now = timestr.split(\":\")[0];\nvar min_now = time_now.split(\":\")[1];\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg3.payload = Number(datestr);\n\n\nmsg2.payload = {\n    time: d.toLocaleTimeString(this,options),\n    timestr: timestr,\n    time_now: time_now,\n    hr_now: hr_now,\n    min_now: min_now,\n    temp: msg.payload,\n}\n\nif (context.flow.casaria.LHN.TEST_MODE) {\n    msg1.payload = context.flow.casaria.LHN.MODE_NORM;\n    return [msg1, msg2, msg3];\n}\n\n\nif ((time_now < \"20:00\") & (time_now > \"06:59\")){\n      msg1.payload=\"on\";\n    \n} else {\n    msg1.payload = \"off\";\n}\n\ncontext.flow.casaria.LHN.MODE_NORM = msg1.payload; \nreturn [msg1,msg2, msg3];","outputs":"3","noerr":0,"x":613.3333358764648,"y":593.3333148956299,"wires":[["4c5c6b05.b746a4","428406ce.fc6238","2b747eb0.553ba2","81efed58.e2e32","a5b8c853.fe2468"],["3185569e.3446ea"],["b277bae8.b9a8c8","683ee6d1.248118"]]},{"id":"93dd2b4a.fc6b58","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1370,"y":340,"wires":[]},{"id":"4c5c6b05.b746a4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":500,"wires":[]},{"id":"212c122e.68c26e","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1540,"wires":[["4680ce88.6213b"]]},{"id":"4680ce88.6213b","type":"function","z":"5ef053be.d90c4c","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.flow: \";\n\nfor(var index in context.flow) { \n   if(typeof context.flow[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.flow[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.flow[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.flow[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.flow[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.flow[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.flow[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1540,"wires":[["effde750.252038"]]},{"id":"effde750.252038","type":"debug","z":"5ef053be.d90c4c","name":"show","active":true,"console":"false","complete":"payload","x":670,"y":1560,"wires":[]},{"id":"2abfaefc.d4bdf2","type":"inject","z":"5ef053be.d90c4c","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":140,"y":1580,"wires":[["7b1f0dde.27dbe4"]]},{"id":"aed5eae4.1e3798","type":"function","z":"5ef053be.d90c4c","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"x":390,"y":1620,"wires":[["effde750.252038"]]},{"id":"1ecc014a.a669cf","type":"inject","z":"5ef053be.d90c4c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1620,"wires":[["aed5eae4.1e3798"]]},{"id":"7b1f0dde.27dbe4","type":"function","z":"5ef053be.d90c4c","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"x":350,"y":1580,"wires":[["effde750.252038"]]},{"id":"19ba8ed5.07e6d1","type":"function","z":"5ef053be.d90c4c","name":"context.flow","func":"var msg1 ={};\nvar LHN={}, LHS={};\nvar casaria={\n    LHN:{  \n    COOL_STAGE_COLOR:\"BLUE\",\n    COOL_N_S1: msg.payload.COOL_N_S1,\n    COOL_N_S2: 25.5,\n    SP2_DIF: 1.2,\n    HEAT_N: 19.0,\n    COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    RTN_ON_COLOR:\"\",\n    RTN_OFF_COLOR:\"\",\n    MODE_NORM: \"\",\n    TEST_MODE: false,    \n    },\n    \n    \n    LHS:{\n    COOL_S_S1: msg.payload.COOL_S_S1,\n    COOL_S_S2: 25.5,\n    SP2_DIF: 1.2,\n    HEAT_S: 19.0,\n    COLOR: \"\",\n    T_SENS: 20.0,\n    T_RT: 20.0,\n    RTS_ON_COLOR:\"\",\n    RTS_OFF_COLOR:\"\",\n    MODE_NORM: \"\",\n    TEST_MODE: false,  \n    },\n}\nmsg1.payload = msg.payload.LHN.COOL_N_S1,\ncontext.flow.casaria = msg.payload;\n\nreturn [msg1];","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["94b88ee0.a3c03","4a058c8d.d32a94"]]},{"id":"47d658a2.aac798","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":1340,"wires":[]},{"id":"591b6ccc.dc70a4","type":"ui_gauge","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Actual Humidity (1st Floor)","group":"Temp Monitor & Control","order":"5","format":"{{value}}","min":"10","max":"100","x":980,"y":1060,"wires":[]},{"id":"13344dfa.c99a72","type":"mqtt out","z":"5ef053be.d90c4c","name":"DEFAULTS","topic":"LH-LAX-DEFAULTS","qos":"1","retain":"true","broker":"c11dd00d.e4025","x":1368.3333435058594,"y":246.66665744781494,"wires":[]},{"id":"11fa8782.66fb08","type":"json","z":"5ef053be.d90c4c","name":"","x":1170.0000076293945,"y":246.66666793823242,"wires":[["13344dfa.c99a72"]]},{"id":"794a7144.4129e","type":"inject","z":"5ef053be.d90c4c","name":"STORE 23.0","topic":"","payload":"23.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":470,"y":200,"wires":[["94b88ee0.a3c03"]]},{"id":"ef22110d.c30d4","type":"json","z":"5ef053be.d90c4c","name":"","x":290,"y":140,"wires":[["19ba8ed5.07e6d1","bba05c9f.cf597"]]},{"id":"7a0417f3.4ff8e8","type":"mqtt in","z":"5ef053be.d90c4c","name":"DEFAULTS","topic":"LH-LAX-DEFAULTS","qos":"1","broker":"c11dd00d.e4025","x":120,"y":140,"wires":[["ef22110d.c30d4"]]},{"id":"3185569e.3446ea","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":540,"wires":[]},{"id":"b040866.b297b78","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":930,"y":760,"wires":[]},{"id":"94effe12.f1b57","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1110,"y":300,"wires":[]},{"id":"bba05c9f.cf597","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":470,"y":120,"wires":[]},{"id":"a5b8c853.fe2468","type":"function","z":"5ef053be.d90c4c","name":"on / off select color","func":"if (msg.payload == \"on\") {\n  msg.payload = context.flow.casaria.LHN.RTN_ON_COLOR;\n}\nelse {\n   msg.payload = context.flow.casaria.LHN.RTN_OFF_COLOR;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":918.3333168029785,"y":321.66668033599854,"wires":[["94effe12.f1b57","f247a008.606ad"]]},{"id":"75e700f8.cd2b9","type":"ui_chart","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"Roof top","group":"Temp Monitor & Control","order":"12","interpolate":"basis","nodata":"No Data","removeOlder":"12","removeOlderUnit":"3600","x":920,"y":1400,"wires":[[],[]]},{"id":"2b747eb0.553ba2","type":"ui_radio_button","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","topic":"","group":"Temp Monitor & Control","order":"9","buttons":[{"label":"Day","payload":"on"},{"label":"Night","payload":"off"}],"x":930,"y":420,"wires":[["a676a095.e035d","7a80728a.ea7a2c"]]},{"id":"b277bae8.b9a8c8","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":930,"y":580,"wires":[]},{"id":"4a058c8d.d32a94","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"true","complete":"payload","x":690,"y":120,"wires":[]},{"id":"4b92cfbd.0a233","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":410,"y":1440,"wires":[]},{"id":"d23063ab.29228","type":"ui_text","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"System Mode Color","group":"Temp Monitor & Control","order":"8","format":"{{msg.payload}}","x":960,"y":1440,"wires":[]},{"id":"bc493cd7.4347a","type":"function","z":"5ef053be.d90c4c","name":"COOL COLOR DU JOUR","func":"//run BLUE on odd days (single stage mode)\nif (msg.payload&1) \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"BLUE\";\nelse \n    context.flow.casaria.LHN.COOL_STAGE_COLOR=\"PURPLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":620,"wires":[["bd1305a2.7d5298"]]},{"id":"bd1305a2.7d5298","type":"function","z":"5ef053be.d90c4c","name":"flow.context.casaria","func":"var msg1;\nmsg1={};\nmsg1.payload = context.flow.casaria;\n\nreturn msg1;","outputs":1,"noerr":0,"x":940.0000152587891,"y":246.6666603088379,"wires":[["11fa8782.66fb08"]]},{"id":"683ee6d1.248118","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":910,"y":620,"wires":[["bc493cd7.4347a","45324474.2213cc"]]},{"id":"7147b78.6ae3748","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":930,"y":1480,"wires":[]},{"id":"304752b7.b37e7e","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"false","x":1270,"y":940,"wires":[]},{"id":"f712fc83.4af6a","type":"google calendar in","z":"5ef053be.d90c4c","google":"","name":"Google Calendar HVAC","calendar":"LH-LAX","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":160,"y":300,"wires":[["affaa061.beb71","9f3bd4f3.1061e8","e0972f52.938d3"]]},{"id":"affaa061.beb71","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":450,"y":300,"wires":[]},{"id":"9f3bd4f3.1061e8","type":"function","z":"5ef053be.d90c4c","name":"Parse Calendar TEMP","func":"var msg1;\nvar fields =msg.payload.title.split('=');\nvar temp = Number (fields[1]);\nmsg1={\n    topic: \"Temp\",\n    payload: temp,\n};\n\nreturn [msg1];","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["c585fdcd.9359d","94b88ee0.a3c03"]]},{"id":"c585fdcd.9359d","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"true","x":670,"y":260,"wires":[]},{"id":"bce0d699.739ff8","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":930,"y":1135,"wires":[]},{"id":"d13394b6.92a8b8","type":"comment","z":"5ef053be.d90c4c","name":"LUFTHANSA CARGO LAX 1st and 2md Floor HVAC control","info":"","x":280,"y":40,"wires":[]},{"id":"6f792f19.e493c","type":"e-mail","z":"5ef053be.d90c4c","server":"smtp.gmail.com","port":"465","name":"phorrack@casaria.net","dname":"email Energy Report to Todor","x":978.3333129882812,"y":1175.000005722046,"wires":[]},{"id":"45324474.2213cc","type":"ui_template","z":"5ef053be.d90c4c","tab":"f54eb015.9c1db","name":"","group":"Temp Monitor & Control","order":"16","format":"\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>COOL stage \"du jour\"</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'purple' : 'blue'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'PURPLE' : 'BLUE'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1286.6667022705078,"y":656.6666927337646,"wires":[[]]},{"id":"76c15d8.4af59a4","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":770,"y":660,"wires":[["45324474.2213cc"]]},{"id":"45802b0b.8e74d4","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"true","x":651.666690826416,"y":978.3333106040955,"wires":[]},{"id":"1af5a9d9.3232f6","type":"inject","z":"5ef053be.d90c4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":420,"wires":[["64a0d3ce.5c16fc"]]},{"id":"64a0d3ce.5c16fc","type":"function","z":"5ef053be.d90c4c","name":"","func":"var msg;\nmsg={};\nmsg.payload=\"brightness_3\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["ef8fb3bc.31aa8","200115bc.f58f9a"]]},{"id":"200115bc.f58f9a","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":451.66664123535156,"y":463.3333110809326,"wires":[]},{"id":"81efed58.e2e32","type":"rbe","z":"5ef053be.d90c4c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":731.6665916442871,"y":321.6666793823242,"wires":[["a5b8c853.fe2468"]]},{"id":"e30ac0d4.c18ca","type":"function","z":"5ef053be.d90c4c","name":"","func":"var msg1;\nmsg1 ={};\n\ncontext.flow.casaria.LHN.TEST_MODE = msg.payload.TEST;\ncontext.flow.casaria.LHN.MODE_NORM = !msg.payload.NIGHT;\nif ( !msg.payload.NIGHT)\n    msg1.payload={\n        \n        day: \"daytime\",\n        night: \"Nightime\",\n    }\n else\n   msg1.payload={\n        day: \"daytime\",\n        night: \"Nightime\",\n    }\nmsg1.payload=\"on\";\nreturn msg1;","outputs":1,"noerr":0,"x":591.666690826416,"y":419.99998569488525,"wires":[["2b747eb0.553ba2"]]},{"id":"521001fc.73f57","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":668.3333587646484,"y":1071.666669845581,"wires":[]},{"id":"a898ec3f.98d06","type":"function","z":"5ef053be.d90c4c","name":"TEST True","func":"if (context.flow.casaria.LHN.TEST_MODE) {\n return msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["738327e2.01cd98","521001fc.73f57"]]},{"id":"e7631d20.15c75","type":"function","z":"5ef053be.d90c4c","name":"TEST False","func":"if (!context.flow.casaria.LHN.TEST_MODE) {\n return msg;\n    \n}\nelse {}","outputs":1,"noerr":0,"x":470,"y":980,"wires":[["738327e2.01cd98","521001fc.73f57"]]},{"id":"a676a095.e035d","type":"debug","z":"5ef053be.d90c4c","name":"","active":false,"console":"false","complete":"payload","x":1130,"y":420,"wires":[]},{"id":"7a80728a.ea7a2c","type":"function","z":"5ef053be.d90c4c","name":"","func":"context.flow.casaria.LHN.MODE_NORM = msg.payload == \"on\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["2b747eb0.553ba2"]]},{"id":"e0972f52.938d3","type":"json","z":"5ef053be.d90c4c","name":"","x":429.9999694824219,"y":341.6666564941406,"wires":[["1cc90c29.561df4"]]},{"id":"1cc90c29.561df4","type":"debug","z":"5ef053be.d90c4c","name":"","active":true,"console":"false","complete":"false","x":571.6666259765625,"y":341.6666564941406,"wires":[]},{"id":"99972241.00e96","type":"particle-cloud","z":"5ef053be.d90c4c","host":"https://api.particle.io","port":"443","accesstoken":"7e33e17f41678b748710143bd00fbf3151df4878","name":"CASARIA CLOUD"},{"id":"d60b7ab3.26b398","type":"influxdb","z":"5ef053be.d90c4c","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"casaria"},{"id":"c11dd00d.e4025","type":"mqtt-broker","z":"5ef053be.d90c4c","broker":"ccc.casaria.net","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"f54eb015.9c1db","type":"ui_tab","z":"5ef053be.d90c4c","name":"1st Floor","icon":"dashboard","order":"1"},{"id":"d02e3971.fec758","type":"mqtt-broker","z":"5ef053be.d90c4c","broker":"localhost","port":"1883","clientid":"NODE-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]