lib/flows/new dsCombi
[{"id":"353db79e.1ad148","type":"influxdb","z":"a08ecf46.34824","hostname":"127.0.0.1","port":"8086","database":"casaria","name":"node-red"},{"id":"558833b9.efd3ac","type":"particle-cloud","z":"a08ecf46.34824","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"b19e5e50.4b01a","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"true","complete":"payload","x":572.5000305175781,"y":450.00000858306885,"wires":[]},{"id":"99e3e101.453d4","type":"function","z":"a08ecf46.34824","name":"TEMP only","func":"msg.payload = Number(msg.payload.split(\" \")[0]);\nreturn msg;","outputs":1,"noerr":0,"x":293.75003814697266,"y":541.2500076293945,"wires":[["b19e5e50.4b01a"]]},{"id":"406b2e18.4b245","type":"ParticleSSE in","z":"a08ecf46.34824","baseurl":"558833b9.efd3ac","evtname":"dsCombi","devid":"lucky-surfer","x":267.5,"y":771.25,"wires":[["45343402.42e8cc","99e3e101.453d4"]]},{"id":"45343402.42e8cc","type":"function","z":"a08ecf46.34824","name":"Boiler Exit Temperature","func":"var s = msg.payload;\nvar fields = s.split(' ');\nvar msg1\nmsg1 = {};\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    ExitTemp: Number ( fields[0]),\n    pCH4:  Number ( fields[1]),\n    strValue: \"QF-CL-RT-04-17\",\n}\nreturn msg1;","outputs":"1","noerr":0,"x":322.5000419616699,"y":797.5000123977661,"wires":[["bf0fcdf4.94253"]]},{"id":"bf0fcdf4.94253","type":"debug","z":"a08ecf46.34824","name":"DEBUG ","active":true,"console":"true","complete":"payload","x":910,"y":813.75,"wires":[]},{"id":"f621615e.2536a","type":"influxdb out","z":"a08ecf46.34824","influxdb":"353db79e.1ad148","name":"InfluxDB @ ccc.casaria.net","measurement":"lucky-surfer","x":970.0000152587891,"y":777.5000114440918,"wires":[]}]