lib/flows/Playground time, amazon dash
[{"id":"ed30bd7f.c6666","type":"mqtt-broker","z":"","broker":"15.1.4.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c5bea91d.b761c8","type":"debug","z":"55f03954.21abc8","name":"","active":false,"console":"false","complete":"true","x":778.75,"y":301.25,"wires":[]},{"id":"950dd4de.58bc68","type":"mqtt in","z":"55f03954.21abc8","name":"Peets Button","topic":"dashbutton/peets","broker":"ed30bd7f.c6666","x":318.25,"y":302.25,"wires":[["c5bea91d.b761c8","1ba8338f.5ea75c"]]},{"id":"1ba8338f.5ea75c","type":"function","z":"55f03954.21abc8","name":"Set Peets Variable","func":"node.warn('start');\nif (!context.global.state) {\n    node.warn('context.global.state is null');\n    context.global.state = { peets: false };\n    if (context.global.state.peets === null) {\n        node.warn('context.global.state.peets is null');\n        context.global.state.peets = false;\n    }\n}\nif (context.global.state && context.global.state.peets) {\n    node.warn('toggle state');\n    context.global.state.peets = !context.global.state.peets;\n} else {\n    node.warn('setting state to true');\n    context.global.state.peets = true;\n}\n node.warn('sending msg: ' + context.global.state.peets);\n return context.global.state.peets;","outputs":1,"noerr":0,"x":559.25,"y":360.25,"wires":[["c5bea91d.b761c8"]]},{"id":"c39c65dd.b38b88","type":"inject","z":"55f03954.21abc8","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.75,"y":575.75,"wires":[["44649e66.e5f7e"]]},{"id":"6a841fef.945a4","type":"debug","z":"55f03954.21abc8","name":"output","active":false,"console":"false","complete":"true","x":870.75,"y":503.75,"wires":[]},{"id":"b64380a1.f96c2","type":"function","z":"55f03954.21abc8","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":674.75,"y":503.75,"wires":[["6a841fef.945a4"]]},{"id":"44649e66.e5f7e","type":"function","z":"55f03954.21abc8","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"x":462.75,"y":575.75,"wires":[["b64380a1.f96c2"]]},{"id":"3c0d786a.7cc218","type":"inject","z":"55f03954.21abc8","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.75,"y":503.75,"wires":[["b64380a1.f96c2"]]}]