lib/flows/reset logic
[{"id":"6ea0e097.b163a","type":"particle-cloud","z":"72aaaf59.ec05b","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"ccef3dad.213d6","type":"ParticleFunc out","z":"6c22036.f93ddfc","baseurl":"6ea0e097.b163a","devid":"lucky-surfer","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":505,"y":304.7777671813965,"wires":[["63a82ca2.a05f24"]]},{"id":"ae400ee.9508bf","type":"inject","z":"6c22036.f93ddfc","name":"Reset Pulse","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":75,"y":305.7777671813965,"wires":[["ce681971.9d3828"]]},{"id":"63a82ca2.a05f24","type":"debug","z":"6c22036.f93ddfc","name":"","active":false,"console":"false","complete":"payload","x":781.3332824707031,"y":336.55553817749023,"wires":[]},{"id":"ce681971.9d3828","type":"trigger","z":"6c22036.f93ddfc","op1":"on","op2":"off","op1type":"pay","op2type":"val","duration":"7","extend":true,"units":"s","reset":"","name":"","x":261,"y":305.7777671813965,"wires":[["ccef3dad.213d6","3aaf6668.765a1a","c1039758.ec2348"]]},{"id":"3aaf6668.765a1a","type":"ParticleFunc out","z":"6c22036.f93ddfc","baseurl":"6ea0e097.b163a","devid":"hot-blooded","fname":"ResetRelay","param":"","once":false,"repeat":0,"x":514,"y":343.7777671813965,"wires":[["63a82ca2.a05f24"]]},{"id":"c1039758.ec2348","type":"ParticleFunc out","z":"6c22036.f93ddfc","baseurl":"6ea0e097.b163a","devid":"robin-hood","fname":"RlyPulse","param":"","once":false,"repeat":0,"x":508,"y":262.7777671813965,"wires":[["63a82ca2.a05f24"]]}]