lib/flows/shower flow
[{"id":"61d7ecba.b4e8f4","type":"influxdb","z":"ac5025dd.04a618","hostname":"127.0.0.1","port":"8086","database":"lawa","name":"lawa"},{"id":"2d0411e5.56e1ee","type":"particle-cloud","z":"ac5025dd.04a618","host":"https://api.particle.io","port":"443","accesstoken":"efda0f38d6284abaf3735a6cc7350b41848d3aad","name":"CASARIA CLOUD"},{"id":"a1ec8a3f.5312b8","type":"ParticleSSE in","z":"ac5025dd.04a618","baseurl":"2d0411e5.56e1ee","evtname":"dsCombi","devid":"bc-shower","x":279.5,"y":116.40305519104004,"wires":[["185f7b79.469a45"]]},{"id":"4bb219cb.b0d6c8","type":"influxdb out","z":"ac5025dd.04a618","influxdb":"61d7ecba.b4e8f4","name":"InfluxDB @ ccc.casaria.net","measurement":"BC-SHOWER","x":976.5001373291016,"y":112.40306234359741,"wires":[]},{"id":"df6b6453.b1db38","type":"debug","z":"ac5025dd.04a618","name":"","active":true,"console":"true","complete":"payload","x":927.5001373291016,"y":151.50000190734863,"wires":[]},{"id":"185f7b79.469a45","type":"function","z":"ac5025dd.04a618","name":"BC SHOWER Riser Temperatures","func":"var s = msg.payload;\nvar fields = s.split(' ');\nvar msg1, msg2;\nmsg1 = {};\nmsg2 = {};\nmsg1.payload = {\n    time: Date.parse(msg.published_at),\n    Temp1:  Number ( fields[0]),\n    Temp2:  Number ( fields[1])\n}\nmsg2.payload = msg1.payload;\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":596.2500152587891,"y":115.00000190734863,"wires":[["4bb219cb.b0d6c8","df6b6453.b1db38"],[]]}]