lib/flows/TCP LIGTHING CONTROL CLIENT
[{"id":"2e988106.b3b83e","type":"inject","z":"a08ecf46.34824","name":"@Lounge: HUE ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":571.7142944335938,"y":796.5714263916016,"wires":[["38139005.b57dc"]]},{"id":"e70afed8.f8618","type":"inject","z":"a08ecf46.34824","name":"@Lounge: HUE OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":570.7142944335938,"y":832.5714263916016,"wires":[["38139005.b57dc"]]},{"id":"38139005.b57dc","type":"tcp out","z":"a08ecf46.34824","host":"an.casaria.net","port":"8111","beserver":"server","base64":false,"end":true,"name":"8111 hue \"cloud light automation server\" @ ccc.casaria.net","x":977.4643096923828,"y":694.57142162323,"wires":[]},{"id":"7fd87b99.74d434","type":"function","z":"a08ecf46.34824","name":"msg \"true\"","func":"msg.payload = true;\nreturn msg;","outputs":"2","noerr":0,"x":534.7142944335938,"y":635.5714263916016,"wires":[["38139005.b57dc"],["71517a1e.ce1a94"]]},{"id":"822084e3.bb5348","type":"function","z":"a08ecf46.34824","name":"msg \"false\"","func":"msg.payload = false;\nreturn msg;","outputs":"2","noerr":0,"x":536.7142944335938,"y":671.5714263916016,"wires":[["38139005.b57dc"],["71517a1e.ce1a94"]]},{"id":"71517a1e.ce1a94","type":"tcp out","z":"a08ecf46.34824","host":"an.casaria.net","port":"8112","beserver":"server","base64":false,"end":true,"name":"8112 hue \"cloud light automation server\" @ ccc.casaria.net","x":978.7142944335938,"y":646.5714263916016,"wires":[]},{"id":"36d39522.ab48aa","type":"inject","z":"a08ecf46.34824","name":"HUE send OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":561.7143020629883,"y":752.5714225769043,"wires":[["71517a1e.ce1a94"]]},{"id":"1491e546.e651eb","type":"debug","z":"a08ecf46.34824","name":"","active":false,"console":"false","complete":"false","x":828.75,"y":763.75,"wires":[]}]